{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Generador de NIF</title>

    <style>
      body{
        background-image: url( "{% static 'imagenes/NIF/bkg_huella.jpg' %}");
        background-size: 100%;
      }
      .content{
        position: absolute;
        left: 20%;
        top:25%;
        right: 20%;
        bottom: 30%;
      }
      .barra{
        background-color: #101010;
        width: 100px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body>

    <div class="content">
      {% if error %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
          </button>
          <h4>
            {{error}}
          </h4> <strong>{% if form.errors %} Tenga en cuenta que todos los datos ingresados deben ser valores numericos {% endif %}</strong> <br> Por favor revise los datos ingresados.
        </div>
      {% endif %}
      <div class="jumbotron well" id="formulario">
        <center><h2>Generador de codigo NIF</h2></center>
        <hr>
        {% block contenido %}
        <form class="form-horizontal" action="{% url 'generar' %}" method="post">{% csrf_token %}
          <div class="row">
              <div class="col-md-2">
                <label>Numero Inicial:</label>
              </div>
              <div class="col-md-1">
                {{form.codigo_provincia}}
              </div>
              <div class="col-md-1">
                {{form.codigo_ciudad}}
              </div>
              <div class="col-md-2">
                {{form.numero_inicial}}
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-2">
                <label for="">Cantidad</label>
              </div>
              <div class="col-md-3">
                {{form.cantidad}}
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-block btn-default" name="generar">Generar</button>
        </form>
        <br>
        <div>
          <a href="/generated/codigos.pdf" target="_blank" class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-download-alt"></i> Ver &uacute;ltimo generado </a>
        </div>
      {% endblock contenido %}
      <p>
        <center><small>Desarrollado por Divisi&oacute;n Desarrollo Inform&aacute;tico - &Aacute;rea Comunicaciones e Inform&aacute;tica - Jefatura de Polic&iacute;a</small></center>
      </p>
      </div>
    </div>
  </body>
</html>
