{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Generador de NIF</title>

    <style>
      body{
        background-image: url( '{{ STATIC_URL }}imagenes/NIF/bkg_huella.jpg');
        background-size: 100%;
      }
      .content{
        position: absolute;
        left: 20%;
        top:25%;
        right: 20%;
        bottom: 30%;
      }

    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body>
    <div class="content">
      {% if error %}
        <div class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            ×
          </button>
          <h4>
            {{error}}
          </h4> <strong>{% if form.errors %} Tenga en cuenta que todos los datos ingresados deben ser valores numericos {% endif %}</strong> <br> Por favor revise los datos ingresados.
        </div>
      {% endif %}
      <div class="jumbotron well" id="formulario">
        {% block contenido %}
        <form class="form-horizontal" action="{% url 'generar' %}" method="post">{% csrf_token %}
          <div class="row">
              <div class="col-xs-2">
                <label>Numero Inicial:</label>
              </div>
              <div class="col-xs-1">
                {{form.codigo_provincia}}
              </div>
              <div class="col-xs-1">
                {{form.codigo_ciudad}}
              </div>
              <div class="col-xs-3">
                {{form.numero_inicial}}
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-xs-2">
                <label for="">Cantidad</label>
              </div>
              <div class="col-xs-2">
                {{form.cantidad}}
              </div>
          </div>
          <br>
          <button type="submit" class="btn btn-block" name="generar">Generar</button>
        </form>
      {% endblock contenido %}
      </div>
    </div>
  </body>
</html>
