<!DOCTYPE html>
<html lang='es'>
<head>
  {% load static %}
  <meta charset='utf-8'>
  <title>Sistema Policial de Informacion Delictual</title>
 <link rel='stylesheet' href='{% get_static_prefix %}css/spid/underground.css'>
 <link rel="shortcut icon" href="{% get_static_prefix %}imagenes/spid/icono.ico" type="image/x-icon">
 {% include "inicial.html"%}
</head>
<body oncontextmenu="return false">
  <div id="main3">
   <div id="content">
        {% block sidebar %}
		  
	         	{% endblock %}
                    
   </div>	
 </div>

</body>
</html>
