{% extends "auth.html" %}
 {% load static %}
{% block sidebar %}
		   <table border="0" cellspacing="0" cellpadding="0" width="219px" style="margin:0 auto;">
                         <tr><td class="lefttitle">{{ state }}</td></tr>
                               <tr><td class="box_middle">
                                 <table>
                                  
                                	<form id="form" action="/spid/" method="POST">{% csrf_token %} 
                                		{% if next %}
		                                <input type="hidden" name="next" value="{{ next }}" />
		                                {% endif %}
                                  <input class="new-aqua1" type="submit" value="ACEPTAR" name="logonea"/> 
		                            </form>
                                 
                                   </table>
                                </td></tr>
                         	<tr><td class="box_foot"></td></tr>
                     <table>
	         	{% endblock %}
{% block main %}
	

{% endblock %}
