 
  {% block main %}
  <script>
  function abrirModal(){
    window.showModalDialog("http://127.0.0.1:8000/preventivos/helpass/","","dialogWidth:600px;dialogHeight:550px;dialogTop:100;dialogLeft: 100;resizable:0");
  }
  
</script>
  <div id="fade" class="overlay"  style="display: block;"></div>
      <div id="light" class="modals" style="display: block;height:270px;width:60%;">
        <div align="right"> <strong>Ayuda / Consejos </strong>
           <a onclick="abrirModal();" href="#" ><img id="imagen" src="{{STATIC_URL}}imagenes/spid/ayuda.png"
         width="18px" title="Ayuda de creacion de contraseña"></a>
        </div>
        <p style="color: red;" > Este es su primer ingreso al Sistema SPID, Por favor genere una nueva Clave:</p>
        <form action="{% url 'changePass' %}" method="post">{% csrf_token %} 
          
         <!-- {{formpass.as_p}}
          <p><input class="new-aqua" type="submit" value= "Aceptar" name="aceptar"></p>-->
          <p >
            <span  class="error">Contraseña puede contener minimo 6 caracteres</span>
        </p>
        <div class="password-container">
            <p>
                <label>
                     Nueva Password :</label>
                <input class="strong-password" type="password" id="pass1" name="pass1"/>
            </p>
            <p>
                <label>
                    Confirme Password:</label>
                <input class="strong-password" type="password" id="pass2" name="pass2"/>
            </p>
            <p>
                <input class="submit-button locked" type="submit" value= "Aceptar" name="aceptar">
            <p >
          
            <div class="strength-indicator">
                <div class="meter">
                </div>
                Una contraseña de seguridad Fuerte contiene 
                entre 6 y 12 caracteres.
                No incluya palabras comunes ni nombres.
                Combine letras mayusculas, minusculas,
                numeros y simbolos(Ej: @,#,%,$,&).-
            </div>
        </div>


        </form>
      </div>
{%endblock%}