{% load i18n %}{% autoescape off %}
{% blocktrans %}Ha recibido este email porque solicito un cambio de contraseña para el usuario de la cuenta en {{ site_name }}.{% endblocktrans %}

{% trans "Por favor vaya a la siguiente pagina y elija una nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}
{% endblock %}
{% trans "En caso que lo haya olvidado, su usuario es:" %} {{ user.get_username }}

{% trans "Gracias por usar SIREGAR" %}

{% blocktrans %}Equipo de desarrollo de {{ site_name }} - Division Sistemas Informaticos Jefatura de Policia de Chubut{% endblocktrans %}

{% endautoescape %}
