<div class="row">

  <div class="col-md-5 col-md-offset-1 well">
    <div class="row alert alert-info">
      <center><h3> <i class="glyphicon glyphicon-search"></i> Formulario de busqueda</h3> <small>consulta de prontuario</small></center>
    </div>
    <form class="" action="{% url 'busqueda' %}" method="post" id="busquedaForm">{% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          {{form.documento}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{form.apellido}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{form.nombre}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{form.ciudad_nacimiento}}
          {{form.ciudad_nacimiento_id}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{form.ciudad_residencia}}
          {{form.ciudad_residencia_id}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{form.anio_nacimiento}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" id="buscar" class="btn btn-block btn-success">Buscar <img src="/static/imagenes/preventivos/loading.gif" style="display:none" id="loading" /></button>
        </div>
      </div>
    </form>

  </div>
</div>

<script type="text/javascript">
$("#id_ciudad_nacimiento").autocomplete({
  source: "/preventivos/ciudades_ajax/",
  minLength: 2,
  select:function (event,ui) {
    $("#id_ciudad_nacimiento_id").val(ui.item.id);
  }
});
$("#id_ciudad_residencia").autocomplete({
  source: "/preventivos/ciudades_ajax/",
  minLength: 2,
  select:function (event,ui) {
    $("#id_ciudad_residencia_id").val(ui.item.id);
  }
});
function validar(){
  if($("#id_apellido").val()=="" && $("#id_nombre").val() == "" && $("#id_documento").val()=="" && $("#id_ciudad_nacimiento_id").val()=="" && $("#id_ciudad_residencia_id").val()=="" && $("#id_documento").val() =="" && $("#id_anio_nacimiento").val()=="" ){
      return false;
  }
  return true;

}
$("#busquedaForm").submit(function(event){
  event.preventDefault();
  $("#buscar").prop('disabled',true);
  $("#loading").show();
  if(validar()){
    var form = $("#busquedaForm");
    var ajaxTime= new Date().getTime();
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function(data){
        var totalTime = (new Date().getTime()-ajaxTime)/1000;
        $("#btnSearch").prop('disabled', false);
        $("#loading").hide();
        $("#contenido").empty();
        if(data.length > 0){
          $("#contenido").append("<div class='row' id='encabezado'></div>");
          $("#encabezado").append("<div class='col-md-4'><h3>Resultados de la busqueda</h3><p class='text-muted'>"+data.length+" registros encontrados en " + totalTime +" segundos.</p></div>")
          desplegarInfo(data);
        }else{
          $("#contenido").append("<div class='row' id='encabezado'></div>");
          $("#encabezado").append("<div class='col-md-4'><h3>Resultados de la busqueda</h3><p class='text-muted'>0 registros encontrados en " + totalTime +" segundos.</p></div>")
        }

      },
      error: function(jqXHR, textStatus,msg){
        $("#btnSearch").prop('disabled', false);
        $("#loading").hide();
        $( "#dialog-confirm" ).dialog({
          closeOnEscape: false,
          open: function(event, ui) {
              $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
          },
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
              $("#btnSearch").prop('disabled', false);
              $("#loading").hide();
            }
          }
        }).empty().append("<center><p>No se pudo guardar. Verifique los datos ingresados, haga una nueva verificacion de la persona a cargar y vuelva a intentarlo. Si el error persiste, pongase en contacto con la División Desarrollo.</p></center>");
      }
    });
  }else{
    $("#buscar").prop('disabled',false);
    $("#loading").hide();
    $("#dialog").html("<p>Debe ingresar al menos un criterio de busqueda</p>");
    $("#dialog").dialog(
    {
      width: 'auto',
      height: 'auto',
      modal:true,
      open: function(event, ui)
      {

      },
      buttons: {
        Cerrar: function() {
          $( this ).dialog( "close" );

        }
      }
    });
  }
});

function desplegarInfo(data){
  var contenido = $("#contenido");
  var fila = 1;
  var id;
  var url = ""
  var miniaturas = []
  for(var i =0  ; i <  data.length; i++){
    id = data[i].pk;
    url = "/prontuario/obtener_miniatura/"+id+"/";
    if(i == 1){
      fila1 = fila;
     contenido.append("<div class='row' id='fila"+ fila +"'></div>");
     $.ajax({
       async: false,
       type: 'GET',
       url: url,
       success: function(dato){
         $("#fila"+fila).append(dato);
       }
     });
   }else if(i % 3 == 0){
     fila += 1;
     fila2 = fila;
     contenido.append("<div class='row' id='fila"+ fila +"'></div>");
     $.ajax({
       async: false,
       type: 'GET',
       url: url,
       success: function(dato){
         $("#fila"+fila).append(dato);
       }
     });
   }else{
     fila3 = fila;
     $.ajax({
       async: false,
       type: 'GET',
       url: url,
       success: function(dato){
         $("#fila"+fila).append(dato);
       }
     });
   }
  }
}

function verProntuario(id){
  var url = "/prontuario/ver_prontuario/"+id+"/";
  $.get(url,function(data){
    $("#contenido").empty().append(data);
  })
}
</script>
