{% load static %}
<div class="row">
  <div class="col-md-12">
    <table id="procesales_list" class="table table-bordered table-condensed">
      <thead>
        <th>
          Documento
        </th>
        <th>
          Nombre
        </th>
        <th>
          Prontuario
        </th>
        <th>

        </th>
      </thead>
      <tbody>
          {% for elemento in resultado %}
          <tr>
            <td>
              <p >{{elemento.dni}}</p>
            </td>
            <td>
              <p>{{elemento.n_c}}</p>
            </td>
            <td>
              <p>{{elemento.n_p}} {{elemento.tipo_p}}</p>
            </td>
            <td>
              <a href="javascript:utilizarProntuario({{elemento.id}})" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-copy"></i> {% if not cambia %} Copiar Numero Prontuario {% else %} Usar registro {% endif %}</a>
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
</div>
