{% extends 'prontuario_home.html' %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Registro de actividad de usuarios</h1>
                <hr>
            </div>
        </div>
        <form class="form" id="log-search-form" method="POST" action="{% url 'buscar_log' %}">{% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <label>Seleccione un usuario:</label>
                {{form.usuario}}
            </div>
            <div class="col-md-3">
                <label for="">Accion</label>
                {{form.accion_tipo}}
            </div>
            <div class="col-md-2">
                <label for="">Desde</label>
                {{form.fecha_desde}}
            </div>
            <div class="col-md-2">
                <label for="">Hasta</label>
                {{form.fecha_hasta}}
            </div>
            <div class="col-md-2">
                <br>
                <button type="submit" id="btn-search" class="btn btn-danger"> <i class="glyphicon glyphicon-search"></i> Buscar</button>
            </div>
        </div>
        </form>
        <hr>
        <div id="cargando" style="display:none">
            <img width="30px" src="/static/imagenes/preventivos/loading.gif" style="display:block;margin-left:auto; margin-right:auto">
            <p style="text-align: center" >Cargando...</p>
        </div>
        <div id="data">

        </div>
    </div>
<script>
$("#log-search-form").submit(function(event){
    event.preventDefault();
    var form = $("#log-search-form");
    $("#btn-search").attr("disabled","disabled");
    $("#cargando").show();
    $.ajax({
        type: form.attr('method'),
        url: form.attr('action'),
        data: form.serialize(),
        success: function(data){
            $("#cargando").hide();
            $("#data").empty().append(data);
            $("#btn-search").removeAttr("disabled");
        },
        always: function(){
            $("#btn-search").removeAttr("disabled");
        },
    });
});
$("#id_fecha_desde").datepicker({
    format: "dd/mm/yyyy",
    weekStart: 0,
    todayBtn: "linked",
    language: "es",
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true
  });
  $("#id_fecha_hasta").datepicker({
    format: "dd/mm/yyyy",
    weekStart: 0,
    todayBtn: "linked",
    language: "es",
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true
  });
</script>
{% endblock contenido %}
 
