{% load static %}
<div class="row">

    <div class="thumbnail">
        <img src="{% static 'imagenes/prontuario/nuevo.png' %}" style="height:80px" />
        <div class="caption">
          <center>  <p>
                <a href="#" class="btn btn-primary btn-xs" role="button" id="nuevo" > Cargar / Modificar Prontuario </a>
            </p></center>
        </div>
    </div>

</div>
<div class="row">
    <div class="thumbnail">
        <img src="{% static 'imagenes/prontuario/buscar.png' %}" style="height:80px" />
        <div class="caption">
          <center>  <p>
                <a href="" class="btn btn-info btn-xs" role="button" id="buscar" > Buscar Prontuario </a>
            </p></center>
        </div>
    </div>
</div>
<!--div class="row">
    <div class="thumbnail">
        <img src="{% static 'imagenes/prontuario/buscar.png" style="height:80px" />
        <div class="caption">
          <center>  <p>
                <a href="" class="btn btn-info btn-xs" role="button" > Buscar Prontuario </a>
            </p></center>
        </div>
    </div>
</div-->
