<div class="row">
  <div class="col-md-1">
    <label for="">Nro. Prontuario</label>
  </div>
  <div class="col-md-3">
    {{prontuarioForm.nro}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label for="">Apellido/s</label>
  </div>
  <div class="col-md-3">
    {{form.apellidos}}
  </div>
  <div class="col-md-1">
    <label for="">Nombre</label>
  </div>
  <div class="col-md-3">
    {{form.nombres}}
  </div>
  <div class="col-md-1">
    <label for="">Fecha Nacimiento</label>
  </div>
  <div class="col-md-3">
    {{form.fecha_nac}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label for="">Tipo y Numero Documento</label>
  </div>
  <div class="col-md-3">
    <div class="col-md-6">
        {{form.tipo_doc}}
    </div>
    <div class="col-md-6">
      {{form.nro_doc}}
    </div>

  </div>
  <div class="col-md-1">
    <label for="">Lugar Nacimiento</label>
  </div>
  <div class="col-md-3">
    <div class="col-md-6">
        {{form.pais_nac}}
    </div>
    <div class="col-md-6">
        {{form.ciudad_nac}}
    </div>

  </div>
  <div class="col-md-1">
    <label for="">Sexo</label>
  </div>
  <div class="col-md-3">
    {{form.sexo_id}}
  </div>
</div>
<div class="row">
  <div class="col-md-1">
    <label for="">Estado Civil</label>
  </div>
  <div class="col-md-3">
    {{form.estado_civil}}
  </div>
  <div class="col-md-1">
    <label for="">Lugar Residencia</label>
  </div>
  <div class="col-md-3">
    <div class="col-md-6">
        {{form.pais_res}}
    </div>
    <div class="col-md-6">
        {{form.ciudad_res}}
    </div>

  </div>
  <div class="col-md-1">
    <label for="">Ocupaci&oacute;n</label>
  </div>
  <div class="col-md-3">
    {{form.ocupacion}}
  </div>
</div>

<script type="text/javascript">
  $('input[type=text]').addClass('form-control');
  $('select').addClass('form-control');
  $("#id_pais_res").removeAttr('size');
  $('#id_fecha_nac').datepicker({
    format: "dd/mm/yyyy",
    weekStart: 0,
    todayBtn: "linked",
    language: "es",
    daysOfWeekHighlighted: "0",
    autoclose: true,
    todayHighlight: true
  });
</script>
