<div class="well">
  <center><h4>Nuevo Pais</h4></center>

  <form method = 'POST' action="{%url 'nuevo_pais' tipo %}" id="nuevo_pais">{%csrf_token%}
    <div class='row'>
      <div class='col-md-3'>
        <label>Pais</label>
      </div>
      <div class="col-md-8">
        {{form.descripcion}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pull-right">
        <button type="submit" class="btn btn-xs btn-success" id="btn-save"><i class="glyphicon glyphicon-save"></i> Guardar <img src="/static/imagenes/preventivos/loading.gif" style="display:none" id="loading" /></button>
      </div>
    </div>
  </form>

</div>
<script type="text/javascript">
$("#id_descripcion").addClass('form-control');
$("#nuevo_pais").submit(function(event){
  event.preventDefault();
  $("#btn-save").prop('disabled', true);
  $("#loading").show();
  var form = $("#nuevo_pais");
  if($("#id_descripcion").val()!= ""){
    var pais = $("#id_descripcion").val();

    $.ajax({
      type:form.attr('method'),
      url:form.attr('action'),
      data:form.serialize(),
      success: function(data){
        var select;
        var select2;
        if("{{tipo}}" == "res"){
          select = $("#id_pais_res");
          select2 =$("#id_pais_nac");
        }else{
          select = $("#id_pais_nac");
          select2 =$("#id_pais_res");
        }

        select.empty();
        var options = '<option value=""></option>';
        for (var i = 0; i < data.length; i++) {
          options += '<option value="'+data[i]["pk"]+'">' +data[i]["fields"]["descripcion"] +'</option>'
        }
        select.html(options);
        if(select2.val()==""){
          select2.empty().html(options);
        }
        $("#btn-save").prop('disabled', false);
        $("#loading").hide();
        if("{{tipo}}" == "res"){
          $("#id_pais_res option:contains("+pais.toUpperCase()+")").attr('selected','selected');
        }else{
          $("#id_pais_nac option:contains("+pais.toUpperCase()+")").attr('selected','selected');
        }
        $("#dialog").dialog( "close" );
      },
      error:function(jqXHR, textStatus, msg){
        $("#btn-save").prop('disabled', false);
        $("#loading").hide();
        $("#dialog").dialog("close");
        $( "#dialog-confirm" ).dialog({
          closeOnEscape: false,
          open: function(event, ui) {
              $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
          },
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
            }
          }
        }).empty().append("<center><p>Ocurrio un error al guardar. Por favor verifique que el País que intenta cargar no existe en el listado.</p></center>");
      }
    });
  }else{
    $("#id_descripcion").addClass('has-error')
    $("#btn-save").prop('disabled', false);
    $("#loading").hide();
  }



});
</script>
