{% load static %}
<div class="row bg-primary">
  <div class="col-md-4 col-md-offset-4">
    <center>
    {% if prontuario %}
      <h1>Prontuario N° <label id="lbl-nro">{{prontuario.nro}}</label> {% if perms.prontuario.can_change_prontuario_nro %} <a href="javascript:modificar_nro({{prontuario.id}})" class="btn btn-default btn-xs"> <i class="glyphicon glyphicon-edit"></i> Cambiar</a>{% endif %} </h1>
    {% elif identificacion %}
      <h1>Prontuario N° {{identificacion.prontuario_local}} </h1>
    {% endif %}
    </center>
  </div>
  {% if prontuario %}
    {% include 'imprimir_tag.html' with prontuario=prontuario %}  
  {% endif %}
</div>
<div class="row">
  <div class="col-md-4">
    <div class="row" id="datos_personales">
      {% include 'datos_personales.html' with persona=persona %}
    </div>
    <div class="row">
      <div class="col-md-12 bg-danger">
        <h3 class='text-default'>Datos de los Padres <small><a href="javascript:cargar_padres({{persona.id}})" class="btn btn-xs btn-success"> {% if existe %} Ver Padres {% else %} Cargar Padres {% endif %} </a></small></h3>
      </div>
      <dl class="dl-horizontal">
        <dt>Padre</dt>
        <dd id="dd-padre">{{padres.padre_apellidos}}, {{padres.padre_nombres}}</dd>
        <dt>Madre</dt>
        <dd  id="dd-madre">{{padres.madre_apellidos}}, {{padres.madre_nombres}}</dd>
      </dl>
    </div>
    <div class="row">
      <div class="col-md-12 bg-danger">
        <h3 class='text-default'>Domicilios registrados <small><a href="javascript:cargar_domicilios({{persona.id}})" class="btn btn-xs btn-success"> <i class="glyphicon glyphicon-map-marker"></i> {% if existe %} Ver Domicilios {% else %} Cargar domicilio {% endif %} </a></small> </h3>
      </div>
      <table class="table table-hover table-condensed table-bordered">
        <tbody>
          {%for domicilio in domicilios %}
            
          <tr>
            <td>
              {{domicilio.ref_ciudades.descripcion}}
            </td>
            <td>
              {{domicilio}}  
            </td>
            <td>
              {% if not domicilio.fecha_hasta %}
                Actual
              {% else %}
                {{domicilio.fecha_hasta}}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-4" id="fotos-box">
    
    <div class="row">
      <a href="javascript:cargar_fotos({{persona.id}})" class="btn btn-block btn-default"> <i class="glyphicon glyphicon-camera"></i> Cargar Fotos </a>
      {% if fotos.count > 0 %}
      <div class="carousel slide" id="fotos-{{id}}">
        <ol class="carousel-indicators">
          {% for foto in fotos %}
          {% if forloop.first %}
          <li class="active" data-slide-to="{{forloop.counter}}" data-target="#fotos-{{id}}">
          </li>
          {% else %}
          <li data-slide-to="{{forloop.counter}}" data-target="#fotos-{{id}}">
          </li>
          {% endif %}
          {% endfor %}
        </ol>
        <div class="carousel-inner">
          {% for foto in fotos %}
          {% if forloop.first %}
          <div class="item active">
            <center><img alt="{{foto.persona.nombres}} {{foto.persona.apellidos}} - {{foto.tipo_foto}}" src="/media/{{foto.foto}}" style="height:400px; width:auto" /></center>
            <div class="carousel-caption">
              <h4>
                  {% if foto.tipo_foto == '1' %} FRENTE {% elif foto.tipo_foto == '2' %} PERFIL DERECHO {% elif foto.tipo_foto == '3' %} PERFIL IZQUIERDO {% elif foto.tipo_foto == '4' %} CUERPO COMPLETO {% else %} OTRO {% endif %}
              </h4>

            </div>
          </div>
          {% else %}
          <div class="item">
            <center><img alt="{{foto.persona.nombres}} {{foto.persona.apellidos}} - {{foto.tipo_foto}}" src="/media/{{foto.foto}}" style="height:400px; width:auto" /></center>
            <div class="carousel-caption">
              <h4>
                  {% if foto.tipo_foto == '1' %} FRENTE {% elif foto.tipo_foto == '2' %} PERFIL DERECHO {% elif foto.tipo_foto == '3' %} PERFIL IZQUIERDO {% elif foto.tipo_foto == '4' %} CUERPO COMPLETO {% else %} OTRO {% endif %}
              </h4>
              <p>

              </p>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div> <a class="left carousel-control" href="#fotos-{{id}}" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#fotos-{{id}}" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      {% else %}
        <center><h3 class="text-muted">Sin Fotos</h3></center>
        <center><img alt="{{foto.persona.nombres}} {{foto.persona.apellidos}} - {{foto.tipo_foto}}" src="{% static 'prontuario/images/avatar.png' %}" style="height:400px; width:auto" /></center>
      {% endif %}
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12 bg-danger">
        <h3 class='text-default'>&Uacute;ltima Identificaci&oacute;n <small><a class="btn btn-xs btn-success" href="javascript:identificacion({{persona.id}})"> Nueva identificaci&oacute;n </a></small> </h3>
        <h4><small>{{identificacion.fecha_identificacion}} - {{identificacion.dependencia_identificacion}}</small></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="identificacion-box">
        {% include 'ver_ultima_identificacion.html' with identificacion=identificacion%}
        <a href="">Identificaciones anteriores</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 bg-danger">
    <h3 class='text-default'>Preventivos</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if preventivos.count > 0 %}
      {% include 'preventivos_persona.html' with resultados=preventivos %}
    {% else %}
      <h3>No hay preventivos relacionados a esta persona.</h3>
    {% endif %}
  </div>
</div>


<script>
  function identificacion(id){
    var url = "/prontuario/identificacion/"+id+"/";
    $.get(url,function(data){
      $("#contenido").hide().empty().append(data).fadeIn();
    });
  }

  function cargar_domicilios(id){
    var url = "/prontuario/cargar_domicilios/"+id+"/";
    $.get(url,function(data){
      $("#contenido").hide().empty().append(data).show();
    })
  }

  function nuevo_elemento(tipo){
      var url = "/prontuario/nuevo_elemento/"+tipo+"/";
      $.get(url,function(data){
        $("#dialog-nuevo").html(data);
        $("#dialog-nuevo").dialog(
        {
          width: 'auto',
          height: 'auto',
          modal:true,
          open: function(event, ui)
          {
  
          },
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
  
            }
          }
        });
      });
  
    }

  function modificar_persona(url){
      $.get(url,function(data){
        $("#dialog").html(data);
        $("#dialog").dialog(
        {
          width: 'auto',
          height: 'auto',
          modal:true,
          open: function(event, ui)
          {
  
          },
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
  
            }
          }
        });
      })
      .fail(function(){
        alert("Hubo un error en la solicitud. Por favor vuelva a intentarlo.")
      })
    }
  
  function cargar_padres(id){
      var url = "/prontuario/cargar_padres/"+id+"/";
      $.get(url,function(data){
        $("#dialog").html(data);
        $("#dialog").dialog(
        {
          width: 'auto',
          height: 'auto',
          modal:true,
          open: function(event, ui)
          {
  
          }
        });
      });
    }
    function cargar_fotos(id){
      var url = "/prontuario/cargar_fotos/"+id+"/";
      $.get(url,function(data){
        $("#dialog").html(data);
        $("#dialog").dialog(
        {
          width: 'auto',
          height: 'auto',
          modal:true,
          open: function(event, ui)
          {
  
          },
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
  
            }
          }
        });
      });
    }
    
    function modificar_nro(id){
      var url = "/prontuario/modificar_nro_prontuario/"+id+"/";
      $.get(url,function(data){
        $("#dialog").html(data);
        $("#dialog").dialog(
        {
          width: 'auto',
          height: 'auto',
          modal:true,
          open: function(event, ui)
          {
  
          },
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
  
            }
          }
        });
      })
    }
    
</script>