<div class="container well col-md-12" id="resultados">
  <h4><u>Resultados de la busqueda</u>
    <small>
      <a href="#" class="btn btn-primary btn-xs" id="ocultar"> Ocultar formulario busqueda </a>
      <a href="#" class="btn btn-success btn-xs" style="display:none" id="mostrar"> Mostrar formulario busqueda </a>
    </small></h4>
    <div class="row">
      <div class="col-md-12">
        <a href="javascript:nuevo();" class="btn btn-xs btn-primary">La persona que busco no esta en el listado, Cargar nuevo.</a>
        {% if ver_procesales > 0 %}
        <a href="javascript:ver_procesales()" class="btn btn-xs btn-info">Hay <span class="badge">{{ver_procesales}}</span> resultados posibles en el sisitema de Comunicaciones Procesales.</a>
        {% endif %}
      </div>
    </div><hr>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover table-condensed table-bordered" id="tblResult">
          <thead class="thead-inverse">
            <th>
              Nombre
            </th>
            <th>
              DNI
            </th>
            <th>
              Ciudad Nac
            </th>
            <th>
              Pais
            </th>
            <th>
              F.Nac.
            </th>
            <th>
              Ciudad Res
            </th>
            <th>
              Prontuario
            </th>
            <th>
              Sistema
            </th>
            <th>
              Utilizar
            </th>
          </thead>
          <tbody style="height:50%;overflow-y:auto;">
              {% for resultado in resultados %}
                {% include 'detalle_resultado.html' with detalle=resultado %}
              {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


</div>
<script type="text/javascript">
  function nuevo(){

      $( "#dialog-confirm" ).dialog({
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        buttons: {
          'Estoy Seguro': function() {
            var url = "/prontuario/cargar_nuevo/";
            $.get(url,function(data){
                $("#contenido").empty().append(data);
                $("#dialog-confirm").dialog( "close" );
            });

          },
          'No, volver a buscar': function() {
            $( this ).dialog( "close" );
          }
        }
      }).empty().append("<center><p>Esta seguro que la persona que desea cargar no esta en el listado?</p></center>");

  }
  //$("input[name=utilizar]:radio").change(function(event){
  function utilizar(id){
      //var checkbox = $(this);
      var id = id;//$(this).val();
      $( "#dialog-confirm" ).dialog({
        resizable: false,
        height: "auto",
        width: 400,
        modal: true,
        buttons: {
          Si: function() {
            var url = "/prontuario/cargar_nuevo_existe/"+id+"/";
            $.get(url,function(data){
                $("#contenido").empty().append(data);
                $("#carga").show();
                $("#dialog-confirm").dialog( "close" );
            });

          },
          Cancelar: function() {
            $( this ).dialog( "close" );
          }
        }
      }).empty().append("<center><p>Esta seguro que desea utilizar esta persona para generar un nuevo prontuario?.</p></center>");
  }

  function ver_procesales(){
    
    var url = "/prontuario/buscar_procesales/";
              $.get(url,function(data){
                var apellido  = $("#id_apellido").val();
                var nombre    = $("#id_nombre").val();
                var documento = $("#id_documento").val();
                $("#contenido").hide().empty().append(data);
                $("#id_apellido").val(apellido);
                $("#id_nombre").val(nombre);
                $("#documento").val(documento);
                $("#contenido").show()
                $("#buscarForm :submit").trigger("click");
              });
  }

  //});
  $("#tblResult").dataTable({
    "responsive":true,
    "language": {
            "lengthMenu": "Mostrar _MENU_ filas por pagina",
            "zeroRecords": "No hay resultados",
            "info": "Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay resultados",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "paginate": {
              "previous": "Anterior",
              "next":"Siguiente"
            }

        },
    "bFilter": false
  });
  $("#ocultar").click(function(event){
    event.preventDefault();
    $("#busqueda").toggle("slide");
    $(this).toggle();
    $("#mostrar").toggle();
    $("#resultados").removeClass("col-md-6").addClass("col-md-12");

  });
  $("#mostrar").click(function(event){
    event.preventDefault();
    $("#busqueda").toggle("slide");
    $(this).toggle();
    $("#ocultar").toggle();
    $("#resultados").removeClass("col-md-12").addClass("col-md-6");

  });
  $("#ocultar").trigger("click");

</script>
