<div class="container well col-md-6" id="busqueda">
  <div class="alert alert-info" role="alert">
    <center><h5> <i class="glyphicon glyphicon-info-sign"></i> Realice una busqueda previa de la persona que va a identificar.</h5></center>
  </div>
  <form id="search" action="{% url 'search_persona' %}" method="post">{% csrf_token %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.apellido}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.nombre}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.fecha_nacimiento}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.ciudad_nacimiento}}
        {{form.ciudad_nacimiento_id}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.pais_nacimiento}}
        {{form.pais_nacimiento_id}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.documento}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        {{form.alias}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-block btn-lg btn-info" id="btnSearch"> <i class="glyphicon glyphicon-search"></i> Buscar <img src="/static/imagenes/preventivos/loading.gif" style="display:none" id="loading" /></button>

      </div>

    </div>
  </form>
</div>



<script src="{{STATIC_URL}}/prontuario/js/bootstrap-datepicker.min.js"></script>
<script src="{{STATIC_URL}}/prontuario/js/bootstrap-datepicker.es.min.js"></script>

<script type="text/javascript">
$("#id_ciudad_nacimiento").autocomplete({
  source: "/preventivos/ciudades_ajax/",
  minLength: 2,
  select:function (event,ui) {
    $("#id_ciudad_nacimiento_id").val(ui.item.id);
    if($("#id_pais_nacimiento_id").val()==""){
      $("#id_pais_nacimiento_id").val(ui.item.pais_id);
      $("#id_pais_nacimiento").val(ui.item.pais);
    }
  }
});
$("#id_pais_nacimiento").autocomplete({
  source: "/preventivos/paises_ajax/",
  minLength: 2,
  select:function (event,ui) {
    $("#id_pais_nacimiento_id").val(ui.item.id);
  }
});
$('#id_fecha_nacimiento').datepicker({
  format: "dd/mm/yyyy",
  weekStart: 0,
  language: "es",
  daysOfWeekHighlighted: "0",
  endDate: '-18y'
});
$("#btnSearch").click(function(event){
  event.preventDefault();
  $(this).prop('disabled', true);
  $("#loading").show();

  var form = $("#search");
  if(validar()){
    $('input[type=text]').parent().removeClass('has-error');
    $.ajax({
      type:form.attr('method'),
      url:form.attr('action'),
      data:form.serialize(),
      success: function(data){
        $("#btnSearch").prop('disabled', false);
        $("#loading").hide();
        if($("#resultados")){
            $("#resultados").remove();
        }
        $("#contenido").append(data);

      },
      error:function(jqXHR, textStatus, msg){
        $("#btnSearch").prop('disabled', false);
        $("#loading").hide();
        $( "#dialog-confirm" ).dialog({
          closeOnEscape: false,
          open: function(event, ui) {
              $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
          },
          resizable: false,
          height: "auto",
          width: 400,
          modal: true,
          buttons: {
            Cerrar: function() {
              $( this ).dialog( "close" );
              var url = "/prontuario/cargar_nuevo/";
              $.get(url,function(data){
                $("#contenido").hide().empty().append(data).show();
              });

            }
          }
        }).empty().append("<center><p>No se encuentra la persona.</p></center>");
      }
    });

  }else{
    $('input[type=text]').parent().addClass('has-error');
    $(this).prop('disabled', false);
    $("#loading").hide();
  }

});

function validar(){
  if($("#id_apellido").val()=="" && $("#id_nombre").val() == "" && $("#id_fecha_nacimiento").val()=="" && $("#id_ciudad_nacimiento_id").val()=="" && $("#id_pais_nacimiento_id").val()=="" && $("#id_alias").val()==""  && $("#id_documento").val() =="" ){
      return false;
  }
  return true;

}
function verDetalle(sistema,id){
  var url = "/prontuario/search_detalle/"+sistema+"/"+id+"/";
  $.get(url,function(data){
    $("#ui-dialog-title-dialog").empty().append('Datos registrados en el sistema: '+sistema);
    $("#dialog").html(data);
    $("#dialog").dialog(
    {
      width: 600,
      height: 400,
      modal:true,
      open: function(event, ui)
      {

      }
    });
  });


}

function procesales(id,documento){
  var url ="/prontuario/search_procesales/"+id+"/"+documento+"/";
  $.get(url,function(data){
    $("#ui-dialog-title-dialog").empty().append('Datos registrados en el sistema: Comunicaciones Procesales');
    $("#dialog").html(data);
    $("#dialog").dialog(
    {
      width: 600,
      height: 400,
      modal:true,
      open: function(event, ui)
      {

      }
    });
  }).fail(function(e){
if(e.status == '404'){
  $( "#dialog-confirm" ).dialog({
    resizable: false,
    height: "auto",
    width: 400,
    modal: true,
    buttons: {
      Cerrar: function() {
        $( this ).dialog( "close" );
      }
    }
  }).empty().append("<center><p>No se encuentra la persona en el sistema Comunicaciones Procesales.</p></center>");

}
  })
}

function utilizarProntuario(id,prontuario){
  url = "/prontuario/utilizar_prontuario/"+id+"/"+prontuario+"/";
  $.get(url,function(data){
      $("#"+id+"-pront").empty().append(prontuario);
      $("#dialog").dialog("close");
  }).fail(function(e){
    $("#dialog").dialog("close");
    $( "#dialog-confirm" ).dialog({
      resizable: false,
      height: "auto",
      width: 400,
      modal: true,
      buttons: {
        Cerrar: function() {
          $( this ).dialog( "close" );
        }
      }
    }).empty().append("<center><p>No se pudo realizar la operación.</p></center>");


  })
}
function identificacion(id){
  var url = "/prontuario/identificacion/"+id+"/";
  $.get(url,function(data){
    $("#contenido").empty().append(data);
    $("#carga").show();
  })
}
</script>
