{% extends "./authrepar.html" %}
{% load i18n %}
{% block sidebar %}

{% block title %}<h6>{% trans "CAMBIO DE CONTRASEÑA" %}</h6>{% endblock %}

{% block content %}

<p style="text-align:justify">Olvido su contraseña?</p>
<p style="text-align:justify">Ingrese su email, y le enviaremos las intrucciones para crear una nueva"</p>

<form action="" method="post" autocomplete="off">{% csrf_token %}
{{ form.email.errors }}
<p ><label for="id_email" >{% trans 'Direccion de correo:' %}</label> 
	<input type="email" style="color:black;width:80;font-size:14px;height:25px;" name="email" id="id_email" {{ form.email }} <br><br> 
	<input class="new-aqua1" type="submit"  value="{% trans 'Aceptar' %}" /></p>
</form>

{% endblock %}
{% endblock %}