{% extends "base.html" %}
{% block main %}
<form id="form" action="." method="post">{% csrf_token %} 

   <h1>Formulario de ABM de Autoridades Judiciales</h1>
   {% if errors %}
            
              {% for error in errors %}
                   <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > Importante : {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
   <br>
   <p><label for="descripcion" name="descripcion"> Descripcion:
      <input type="text" name="descripcion" id="descripcion" value="{{autoridades.descripcion}}" autocomplete="off"/>
      <a href="/preventivos/authorities/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar ingreso"></a>
      {% if autoridades in lista %}
          <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" id="modifica"  title="Actualiza los cambios">
          <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" id="borrar" title="Elimina el registro actual">
        {%else%}
          <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" title="Grabar el registro actual" >
        {%endif%}
      </label> 
    </p>
    <p><label for="email" name="email">E-mail: 
      <input type="text" name="email" id="email" value="{{autoridades.email}}"  style="margin-left:32px;" 
       autocomplete="off"/>
    </label>
    </p>
    

      <h1>Ciudades:</h1>

      <label id = "ciudades" name="ciudades"  class="multi6">  {{ form.ciudades }}</label>

    <p align="right">
      
      <strong>Seleccione Todo</strong><input type="checkbox" id = "todo" name="todo" class="multicolumnas"  />
    </p>
    <hr>
    <p><b><img id="alert" src="{{STATIC_URL}}imagenes/preventivos/alert.png" style="border:0px solid #C0C0C0;"/>Seleccione haciendo click sobre  las Ciudades de competencia.</b></p>
    <br>
      <br>

    <p>
      <b><h1>Listado general de autoridades judiciales</h1></b>
    </p>  
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th >Items</th>
               <th>Autoridad</th>
               <th>Email</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href='/preventivos/authorities/{{ listas.id }}/'>{{ listas.id }}</a></td>
                    <td width="25%">{{ listas.descripcion}}</td>
                    <td width="30%">{{ listas.email }}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>

    </form> 
      
{% endblock %}
  