<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% load static %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
  <link rel="shortcut icon" href="{{STATIC_URL}}/imagenes/preventivos/icono.ico" type="image/x-icon"/>

{% include "fnciones.html"%}
<script type="text/javascript">
        $(document).ready(function () {
           
            //Demo code
            $('.password-container').pschecker({ onPasswordValidate: validatePassword, onPasswordMatch: matchPassword });

            var submitbutton = $('.submit-button');
            var errorBox = $('.error');
            var errorBox1 = $('.errorpass');
            errorBox.css('visibility', 'hidden');
            errorBox1.css('visibility', 'hidden');
            submitbutton.attr("disabled", "disabled");

            //this function will handle onPasswordValidate callback, which mererly checks the password against minimum length
            function validatePassword(isValid) {
                if (!isValid)
                    errorBox.css('visibility', 'visible');
                else
                    errorBox.css('visibility', 'hidden');
            }
            //this function will be called when both passwords match
            function matchPassword(isMatched) {
                if (isMatched) {
                    submitbutton.addClass('unlocked').removeClass('locked');
                    submitbutton.removeAttr("disabled", "disabled");
                    errorBox1.css('visibility', 'hidden');
                }
                else {
                    submitbutton.attr("disabled", "disabled");
                    submitbutton.addClass('locked').removeClass('unlocked');
                    errorBox1.css('visibility', 'visible');
                }
            }
        });
    </script>
</head>
<body oncontextmenu="return false" >
  {% if 'si' in changePass %}
        {% include "validator.html"%}

    
    {% endif %}
<!-- wrap starts here -->
  {% if user.is_authenticated %}

<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

  

<section id="page-header" class="clearfix">    
<!-- responsive FlexSlider image slideshow -->
    <div id="header">  
       <div id="header-logo">     
      
      <div id="logo"><img onclick="mensajes();" src="{{STATIC_URL}}imagenes/preventivos/policia.png"  style="border:0px solid #C0C0C0;"></div>
      
     
     
            <div id="logo4"><p style="font-size:28px"> INCIDENCIA DELICTIVA</p></div>
            <div id="logo6"><p style="font-size:16px">ESTADISTICAS - HERRAMIENTAS DE ANALISIS Y PREVENCION</p></div>

                       <!--<div id="logo2"><p>POLICIA</p><p>DE LA</p><p>PROVINCIA</p><p> DE </p><p>CHUBUT</p></div>-->

                       <div id="logo2">
                        <img src="{{STATIC_URL}}imagenes/preventivos/CIUDAD.gif" style="border:0px solid #C0C0C0;"></div>
      
               </div>   
      
   
            

    </div>

</section>
<!-- header area -->
            {% include "menuver.html"%}
 
 

<!-- main content area -->   
<div class="wrapper" id="main"> 
    
<!-- content area -->    
 
    <div id="main">       
      {% block main %}
        
      {% endblock %}  
          
    </div>      
       <!-- modal content -->
    <div id="contenido">
          {% block contenido %}
      {% endblock %}    
    </div>
     <div id="contenidos">
          {% block contenidos%}
      {% endblock %}    
    </div>
      <div id="modificar">
          {% block modificar%}
      {% endblock %}    
    </div>
     <div id="ciudadres">
          {% block ciudadres%}
      {% endblock %}    
    </div>

             


      
      
   
  </div><!-- #end div #main .wrapper -->
    
<p style="height:315px;">
</p>
<!-- footer area -->    
<footer>
  <div id="colophon" class="wrapper clearfix">
          <div class="blue align.left">{% if user.is_authenticated %}
            {%if user.is_staff or not user.is_staff%}Usuario /&nbsp;{% endif %} {{ state }} : &nbsp;&nbsp;&nbsp;&nbsp;{{ user.first_name }}&nbsp;{{ user.last_name }}&nbsp;-- {{destino}}
            {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;<a class="blue align-right"><strong>Policia de Chubut - Div. Sistemas Informaticos - &copy; SEP/2013</strong> &nbsp;&nbsp;</a>  </div> 

    </div>
    
   
    
</footer><!-- #end footer area --> 


<!-- jQuery -->

<script>window.jQuery || document.write('<script src="{{STATIC_URL}}plantiweb/js/libs/jquery-1.9.0.min.js">\x3C/script>')</script>

<script defer src="{{STATIC_URL}}plantiweb/js/flexslider/jquery.flexslider-min.js"></script>

<!-- fire ups - read this file!  -->   
<script src="{{STATIC_URL}}plantiweb/js/main.js"></script>


<script type="text/javascript">
	require('sys');
	var items = $$('#tabs > li');
	var href = sys.window.location.href;
	var current = items.shift();
	for each (var item in items) {
		if(item.firstChild.nodeName == "A" && href.startswith(item.firstChild.href) && len(current.firstChild.href) < len(item.firstChild.href))
			current = item;
	}
	current.addClassName("current");
</script>
</div>
{%else%}

   
  
   

  

 <div id="sitio">
    {% block error %}
         <img onclick="mensajes();" src="{{STATIC_URL}}imagenes/preventivos/policia.png" 
        style="align:center;border:0px solid #C0C0C0;">

      <h3>Policia de la Provincia de Chubut </h3>
       <h3>Incidencia Delictual</h3>
       <br>
        <h1> - Ingreso no Permitido - Comuniquese con el Administrador de SPID</h1>
    {%endblock%}   
   </div>
{%endif%}
</body>
</html>
