{% extends 'base.html' %}
{% block main %}
<div class="container">
  {% if msg or error %}
    <div {% if error %} class="alert alert-danger alert-dismissible" {% else %} class="alert alert-warning alert-dismissible" {% endif %} role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% if error %}
        <i class="glyphicon glyphicon-warning-sign"></i><strong> {{error}} </strong>
      {% else %}
        <i class="glyphicon glyphicon-thumbs-up"></i><strong> {{msg}} </strong>
      {% endif %}
    </div>
  {% endif %}
  <div class="alert alert-info">
    <strong><p>
      En esta secci&oacute;n podra cambiar las contrase&ntilde;as de los usuarios que sufran alg&uacute;n tipo de inconveniente con la recuperaci&oacute;n de la misma a traves del sistema de recuperaci&oacute;n automatica de contraseña.
      Antes de ralizar esta acci&oacute;n, asegurese que el usuario ha seguido los pasos correspondientes para la autogesti&oacute; de su contrase&ntilde;a.
    </p></strong>
  </div>
  <form class="" action="{% url 'cambiar_password'%}" method="post">{% csrf_token %}
    <div class="row form-group form-group-sm">
      <div class="col-md-3">
        <label for="">Motivo del cambio</label>
      </div>
      <div class="col-md-9">
        {{form.motivo}}
      </div>
    </div>
    <div class="row form-group form-group-sm">
      <div class="col-md-3">
        <label for="">Detalle el motivo de cambio</label>
      </div>
      <div class="col-md-9">
        {{form.detalle_motivo}}
      </div>
    </div>
    <div class="row form-group form-group-sm">
      <div class="col-md-3">
        <label for="">Seleccione el Usuario</label>
      </div>
      <div class="col-md-9">
        <select id="usuario" name="usuario" style="width:100%;">
          <option value="" placeholder="">Seleccione un Usuario</option>
          {% for usuario in usuarios %}
            <option value="{{usuario.id}}">{{usuario.username}} - {{usuario.last_name}}, {{usuario.first_name}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-8">
        <a href="" class="btn btn-warning ">Cancelar</a>
        <button type="submit" class="btn btn-primary" name="button">Aceptar</button>
      </div>
    </div>
  </form>

</div>
{% endblock %}
