{% extends "base.html" %}
{% block main %}

 <form id="form" action="." method="post">{% csrf_token %} 
   <h1>Formulario de ABM de Categorias para Distintos Rubros</h1>
   {% if errors %}
            
              {% for error in errors %}
                  <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > Importante : {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
    <p><label for="descripcion" name="descripcion">Categorias : 
    <input type="text" name="descripcion" id="descripcion" value="{{categorias.descripcion}}" autocomplete="off"/>
    <a href="/preventivos/category/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar ingreso"></a>   
    
     {% if categorias in lista %}
      <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" title="Actualiza los cambios">
     <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" title="Elimina categoria">

    {%else%}
     <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" title="Grabar categoria" >
    {%endif%}</label></p>
    <p>
     <label for="rubro" name="rubro" id="basic-modal"> Rubros  :
    <select name="rubro" id="rubro" style="width:160px;margin-left:22px;" tabindex="-1">
      <option name="rubro">Seleccione Rubro</option>
      <option selected="selected"{{categorias.rubro}}</option>
      <option {{formc.rubro}}</option>
    </select>
     
    <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png" title="Agregar Rubros">
    </a>
    </label>
    </p>  
    <br>
      <br>
      <h1>LISTADO GENERAL DE CATEGORIAS</h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th >Items</th>
               <th>Categorias</th>
               <th>Rubros</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href='/preventivos/category/{{ listas.id }}/'>{{ listas.id }}</a></td>
                    <td width="30%">{{ listas.descripcion}}</td>
                     <td width="30%">{{ listas.rubro}}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>

</form> 
{% endblock %}
{% block contenido %}

 <form id="form" action="/preventivos/newrubro/" method="post">{% csrf_token %} 
  
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Datos inválidos : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
      <div style="color: black"><label>Ingrese Rubro :
    <input type="textarea" name="descripcion" id="descripcion" value="{{categorias}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Grabar" name="grabar" title="Grabar el Rubro" >
    </label> </div>  
 </form>
{% endblock %}
