{% extends "base.html" %}
{% block main %}
<form id="form" action="." method="post">{% csrf_token %} 

   <h1>Formulario de ABM de Ciudades/Localidades</h1>
   {% if errors %}
            
              {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
    <br>
 
    <p><label for="pais" name="pais"> Seleccione Pais  :
     <select name="pais" id="pais" class="combolist"  size="1"/>
      <option name="pais">Seleccione Pais</option>
       <option {{formp.pais}}</option>
     </select>&nbsp;&nbsp;

     <span class="rojo">*</span> Provincia :
       <select name="provincia" id="provincia" class="combolist"  size="1"/>
        <option name="provincia"></option>
          <option {{formd.provincia}}</option>
       </select>
     <span class="rojo">*</span> Dptos :
     <select name="departamento" id="departamento" class="combolist"  size="1"/>
     <option name="departamento"></option>
     <option {{formc.departamento}}</option></select></label></p>       
     <br>
     <br>
     <input type="hidden" name="ids" id="ids" value="{{ciudad.id}}" autocomplete="off"/>
    
     <p><label for="descripcion" name="descripcion">Ciudad : 
    <input type="text" name="descripcion" id="descripcion" value="{{ciudad.descripcion}}" autocomplete="off"/>
    <a href="/preventivos/ciudades/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar ingreso"></a>   
    
     {% if ciudad in lista %}
      <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" title="Actualiza los cambios">
     <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" title="Elimina ciudad">

    {%else%}
     <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" title="Grabar ciudad" >
    {%endif%}</label></p>
    
  <!--input type="text" name="pais" id="pais" value="{{ciudades.pais}}" disabled="disabled"/-->
    </label>
    </p>  
    <br>
      <br>
      <h1>LISTADO GENERAL DE CIUDADES </h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th width="5%">Items</th>
                <th width="25%">Ciudad</th>
                <th width="20%">Departamento</th>
                <th width="25%">Provincia</th>
                <th width="25%">Pais</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="5%"><a href='/preventivos/ciudades/editar/{{ listas.id }}/'>{{ listas.id }}</a></td>
                     
                    <td width="25%">{{ listas.descripcion}}</td>
                   
                    <td width="20%">{{ listas.departamento}}</td>
                    
                    <td width="25%">{{ listas.provincia}}</td>
                    <td width="25%">{{ listas.pais}}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
     
    </form> 
      
{% endblock %}
