{% extends "administrar.html" %}

{% block main %}
<h1>{{ titulo }}</h1>
	<form action="" method="POST">
		<h2>Está seguro de que desea eliminar {{ object }}?</h2>
		<p class="comments align-right clear">
				<input id="cancelar" type="button" class="button" value="Cancelar"/>
				<input type="submit" class="button strong" value="Si"/>
		</p>
	</form>
	<script>
		(function () {
			require('sys');
			require('event');
			event.connect(sys.window, 'load', function (){
				event.connect($('cancelar'), 'click', function (e){
					event.stopEvent(e);
					sys.window.history.back();
				});
			});		
		})();
	</script>
{% endblock %}