{% extends "base.html" %}
{% block main %}

<form id="form" action="" method="post">{% csrf_token %} 

   <h1>Formulario de Control de actividades de Usuarios</h1>
   
   {% if errors %}
            
               {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}   
<br> 
<input type="hidden" name="iduser" id="iduser" value="{{usuarios.username}}"/>
  <hr>
  
   <h1>Usuarios Existentes</h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">

               <th width="10px">Usuario</th>
               <th width="30px">Apellidos</th>
               <th width="30px">Nombres</th>
               <th width="20px">E-mail</th>
                <th width="20px">Unidad Regional</th>
               
                 <th width="20px">Destino Actual</th>
               <th width="10px">Ultimo ingreso</th>
               <th width="10px">Ver Actividades</th>
            </tr>
        </thead>
           
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="5%">{{ listas.user.username }}</td>
                    <td width="20%">{{ listas.user.last_name}}</td>
                      <td width="20%">{{ listas.user.first_name}}</td>
                          <td width="20%">{{ listas.user.email}}</td>
                           <td width="20%">{{ listas.ureg.descripcion}}</td>
                            <td width="20%">{{ listas.depe.descripcion}}</td>
                            <td width="20%">{{ listas.user.last_login}}</td>
                            <td width="20%"><a href="{% url 'reporactivity' listas.user.username %}"> [ + ] </a></td>
                 
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
<br>
<br>
{%if control%}<a href="../"><div align="right">
  <a href="../" id="cancelar" name="cancelar"><input type="button" class="borrarde"
            title="Cerrar cuadro de actividades" ></a>
          <h1>Listado de Actividades realizadas por: {{usuarios.last_name}}, {{usuarios.first_name}} -- {{usuarios.username}}</h1>
  <!--   <div id="demo">-->
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="examples" width="100%">
        <thead>
            <tr class="gradeC">

               <th width="20px">Operacion</th>
               <th width="30px">Ref. de Tabla de Datos </th>
               <th width="20px">Ref. registro</th>
               <th width="30px">Fecha y Hora </th>
             
            </tr>
        </thead>
           
             <tbody>
                 {%for actividades in listacontrol%}

                  <tr  class="gradeC"> 
                    <td width="20%">{{actividades.action}}</td>
                     <td width="35%">{{actividades.tablas}}</td>
                      <td width="25%">{{actividades.link}}</td>
                    <td width="30%">{{actividades.fecha| date:"d/m/Y H:m:s"}}</td>
       
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
   <!--  </div>-->
     
  {%endif%}
 </form>
 
{% endblock %}
