{% extends "mapas.html" %}
{% block main %}

   {% if form.errors or dom.errors %}
            
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                     {% if form.errors %}
                     <h1>Errores en los datos ingresados</h1>
                  <p style="color: red;" > {{ form.errors.as_text}}.- &nbsp;&nbsp;</p>
                  {% endif %}
                 
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </div>
              
             
    {% endif %}
  <h1> DATOS DEL PREVENTIVO</h1>
  <!--
  <h1>Lugar del hecho del preventivo: {{preventivo.nro}}/{{preventivo.anio}}    de la {{preventivo.dependencia}} - {{preventivo.dependencia.unidades_regionales}}</h1>-->

      <input type="hidden" id="idhec" name="idhec" value="{{idhec}}"/>
  
    <input type="hidden" id="idp" name="idp" value="{{idprev}}"/>
<p>
     Unidad Regional / Dependencia : <strong style="font-weight:bold">{{unidadreg}} / {{dependencia}}</strong></p>
 <p>
     Preventivo  Nro. :
     <input type="text" name="nro" id="id_nro" value="{{nro}}/{{anio}}"/> 
 
     Fecha de Denuncia :
     <input type="text" name="fecha_denuncia" id="fecha_denuncia" value="{{fecha_denuncia|date:"d/m/Y"}}"/>
  </p>
  
  <p>   
     Caratula Policial :
     <input type="text" name="caratula"  
     id="caratula" size="70px" value="{{caratula}}"/>
  </p>

 
   <p>   
       Actuante : <input type="text" name="actuante"  id="actuante" size="25" readonly="readonly" value="{{actuante}}"/>
     Preventor : <input type="text" name="preventor"  id="preventor" size="30" readonly="readonly" value="{{preventor}}"/>
  
      </p>
  <p>
     Autoridades a Informar :
     {% for y in autoridades %}
        <ul>
           <li>
              <input type="text" name="autoridades" id="autoridades" size="70px" value="{{y}}"/>
           </li>
        </ul>      
     {% endfor%}        
   </p>
   <br>
  {% if not lugar.id %}
  <div id="informacion"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;"><h3><legend><u>Por favor leer esta información</u></legend></h3><p><strong><i>El lugar del hecho es uno de los datos de mayor interes en el sistema, ya que a partir de los datos aqui cargados se confecciona el mapa del delito.
        Es muy importante que se pueda relevar el lugar del hecho de la manera mas detallada posible. Es necesario en todos los casos consignar una calle, en 
        caso de no poder hacerlo, por favor brindar la mayor cantidad de datos posibles para poder ubicar el lugar del ilicito.</i></strong></p>
        <div align="right">
        <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
        </div>
        </blockquote>
        
  </div>
  {% endif %}
   <div id="informacion"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;">
    <p>
  <strong style="color:red;"><i> ( * ) Datos Obligatorios.-</i></strong></p>
        
        </blockquote>
        
  </div>
  <form id="form" action="." method="post">{% csrf_token %} 
  <input type="hidden" id="cpp" name="cpp" value="{{preventivo.dependencia.ciudad.descripcion}},{{preventivo.dependencia.ciudad.provincia.descripcion}},{{preventivo.dependencia.ciudad.pais.descripcion}}">
  <input type="hidden" id="lat" name="lat" value="{{preventivo.dependencia.ciudad.lat}}" />
  <input type="hidden" id="longi" name="longi" value="{{preventivo.dependencia.ciudad.longi}}" /> 
   {% if lugar.id %}
          <input  type="hidden" id="latitud" name="latitud" 
              readonly="readonly" size="22" value="{{lugar.latitud}}"></input>
              <input  type="hidden" id="longitud" name="longitud"
            readonly="readonly" size="22" value="{{lugar.longitud}}"></input>
        {% else %}
        <input  type="hidden" id="latitud" name="latitud" 
              readonly="readonly" size="22"></input>
              <input  type="hidden" id="longitud" name="longitud"
            readonly="readonly" size="22"></input>
         {% endif %}
    <h6>Detalles del lugar</h6><hr>
    <p>           
         <strong style="color:red;"> * </strong> <strong>Tipo Lugar:</strong>
            <select name="tipo_lugar" id="tipo_lugar" class="combox">
                <option {{form.tipo_lugar}}</option>
                </option>
            </select> 
          <strong style="color:red;margin-left:20px;"> * </strong><strong>Zona:</strong>
            <select name="zona" id="Zona" class="combox">
                <option {{form.zona}}</option>
                </option>
            </select> 
       </p>
       <br>
       {% if not lugar.id %}
       <div id="datos_barrio" style="display:block;">
       <h6>Datos del Barrio</h6><hr>
      <div id="informacion2" style="display:none"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;"><h3><legend><u>Por favor leer esta       información</u></legend></h3><p><strong><i>Antes de ingresar un nuevo barrio, verifique que el mismo no se encuentre en el listado existente. Por ejemplo si UD. busca el barrio 
         San Martin, verifique que no se encuentre cargado como S. Martin, o como Gral. San Martin.</i></strong></p></blockquote>
    </div>
    <p>
      <strong id='basic-modal'>Barrio:</strong>
            <select name="barrio" id="barrio" class="combobox" style="width: 200px;" >
                <option {{form.barrio}}</option>
                </option>
            </select> 
            <input type="button" id="addbarrio" value="[Agregar barrio]" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
            <input type="text" name="nuevo_barrio" id="nuevo_barrio" autocomplete="off" size="15" style="display:none;" {{form.nuevo_barrio}}
          <strong>Numero de Casa:</strong>
           <input type="text" name="nro_casa" id="nro_casa" value="{{lugar.nro_casa}}" autocomplete="off" size="5" /> 
        </p>
        <p>
           <strong>Manzana:</strong>
           <input type="text" name="manzana" id="manzana" value="{{lugar.manzana}}" autocomplete="off" size="5" /> 
           <strong>Lote:</strong>
           <input type="text" name="lote" id="lote" value="{{lugar.lote}}" autocomplete="off" size="5" /> 
           <strong>Sector:</strong>
           <input type="text" name="sector" id="sector" value="{{lugar.sector}}" autocomplete="off" size="5" /> 
        </p>
        <p>
           <strong>Edificio / Monoblock:</strong>
           <input type="text" name="edificio" id="edificio" value="{{lugar.edificio}}" autocomplete="off" size="5" /> 
           <strong>Escalera:</strong>
           <input type="text" name="escalera" id="escalera" value="{{lugar.escalera}}" autocomplete="off" size="5" /> 
           <strong>Piso:</strong>
           <input type="text" name="piso" id="piso" value="{{lugar.piso}}" autocomplete="off" size="5" /> 
           <strong>Departamento:</strong>
           <input type="text" name="departamento" id="departamento" value="{{lugar.departamento}}" autocomplete="off" 
           size="5" /> 
        </p>
        </div>
        <div id="datos_depe" style="display:none;">
        <h2>Datos de la dependencia</h2><hr>
    <p>
      <strong>Dependencia:</strong>
            <select name="dependencia" id="dependencia" style="width: 200px;">
                <option {{form.dependencia}}</option>
                </option>
            </select> 
        </p>
        </div>
        {% else %}
          {% if lugar.dependencia %}
            <h6>Datos de la dependencia</h6><hr>
    <p>
      <strong>Dependencia:</strong>
            <select name="dependencia" id="dependencia" style="width: 200px;">
                <option {{form.dependencia}}</option>
                </option>
            </select> 
        </p>
      {% else %}
          <h6>Datos del Barrio</h6><hr>
          <p>
            <strong>Barrio:</strong>
                  <select name="barrio" id="barrio" class="combobox" style="width: 200px;">
                      <option {{form.barrio}}</option>
                      </option>
                  </select> 
                <strong>Numero de Casa:</strong>
                 <input type="text" name="nro_casa" id="nro_casa" value="{{lugar.nro_casa}}" autocomplete="off" size="5" />   
              </p>
              <p>
                 <strong>Manzana:</strong>
                 <input type="text" name="manzana" id="manzana" value="{{lugar.manzana}}" autocomplete="off" size="5" /> 
                 <strong>Lote:</strong>
                 <input type="text" name="lote" id="lote" value="{{lugar.lote}}" autocomplete="off" size="5" /> 
                 <strong>Sector:</strong>
                 <input type="text" name="sector" id="sector" value="{{lugar.sector}}" autocomplete="off" size="5" /> 
              </p>
              <p>
                 <strong>Edificio / Monoblock:</strong>
                 <input type="text" name="edificio" id="edificio" value="{{lugar.edificio}}" autocomplete="off" size="5" /> 
                 <strong>Escalera:</strong>
                 <input type="text" name="escalera" id="escalera" value="{{lugar.escalera}}" autocomplete="off" size="5" /> 
                 <strong>Piso:</strong>
                 <input type="text" name="piso" id="piso" value="{{lugar.piso}}" autocomplete="off" size="5" /> 
                 <strong>Departamento:</strong>
                 <input type="text" name="departamento" id="departamento" value="{{lugar.departamento}}" autocomplete="off" size="5" /> 
              </p>

      {% endif %}
        {% endif %}
       <br>
        <h6>Datos de la Calle</h6><hr>

        <p>
        <blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;"><h3><legend><u>Por favor leer esta información</u></legend></h3>
        <p><strong><i>En el caso que se conozca calle y altura del hecho, se seleccionara la calle desde el cuadro calle y se indicara la altura
        en el cuadro numero. En caso de haber ocurrido en una interseccion directamente seleccionelo desde el mapa. Si la calle que necesita no esta
        disponible en el listado solamente seleccione desde el mapa la calle e indique la altura en el cuadro numero. </i></strong></p>
        </blockquote>
        </p>
 
        <p>
          <strong>Calle:</strong>
          <select name="calle" id="calle" style="width: 200px;" placeholder="Seleccione las calles">

            <option {{form.calle}}</option>
            </option>
          </select>


          <strong>Numero:</strong>
           <input type="text" name="altura" id="altura" value="{{lugar.altura}}" autocomplete="off"/> 
           <input  class="btn1 btn-success" type="button" name="buscar" id="buscar" value="Ubicar en mapa" />&nbsp;
           <input  class="btn1 btn-success" type="submit" name="limpiar" id="limpiar" value="Limpiar datos" />&nbsp;
          </p>
         <div class="forma"> <strong style="margin-left:18px;"> Lugar señalado :<input type="text" id="callen" name="callen" size="50"
          style="border:none;font-weight:bold;font-variant: small-caps;font-size:11px;" 
          readonly="readonly"></input></strong>

        <div id="mapa" name="mapa" class="capasm"> </div>
          
     
         <div class="capasmp"> <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/powered-by-google-on-white.png"></div>
        </div>
       <br><br><br><p>
        <h6>Datos de las Condiciones Climaticas y del lugar del hecho</h6><hr></p>
       <div>
        <p>
          <strong>Condiciones Climaticas y del lugar:</strong>
            {{form.cond_climaticas}}
          </p>
        </div>    
        {% if  not lugar.id %}   
        <div align="right">
      <input  class="new-aqua" type="submit" name = "button" id = "button" value="Guardar" style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;text-align:center;"/>
       <a href="{% url 'selectPrev' idprev %}" class="btn btn-success"><label style="font-size:11px;font-family: Georgia, 'Times New Roman', serif;text-align:center;">Volver</label></a> 
    </div>
    {% else %}
    <div align="right">
     
          {% if not fecha_autorizacion%}
      <input class="new-aqua" type="submit" id="grabar" name="grabar" value="Modificar"/>{%else%}
    <strong style="color:red;">Prev. Autorizado y Enviado el : {{fecha_autorizacion|date:"d/m/y"}}</strong>{%endif%}
      <td>    <a class="btn1 btn-success"  href="{% url 'elementos' idhec %}" ><label style="font-size:11px;font-family: Georgia, 'Times New Roman', serif;text-align:center;"> (+) Elementos </label></a>
     
      <a href="{% url 'selectPrev' idprev %}" class="btn btn-success"><label style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;text-align:center;">Volver</label></a>
   
        <a href="{% url 'reportes' idprev %}" target="_blank" ><input type="button" class="botonprint"
            title="Imprimir Preventivo"/></input></a>
    </div>

    {% endif %}




  </form>
{% endblock %}
