{% extends "base.html" %}
{% block main %}

<form id="form" action="" method="post">{% csrf_token %} 

   <h1>Formulario de Asignacion de Permisos a Grupos de Usuarios</h1>
   
   {% if errors %}
            
               {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}   
<br> 
<!--
<input type="hidden" name="iduser" id="iduser" value="{{usuarios.username}}"/>
<p>
<strong for="username">Usuario  :&nbsp;</strong>
 {% if usuarios in lista %}
  <input type="text" name="username" id="username" value="{{dni}}" autocomplete="off" onKeypress="format(this)" title="Nro de DNI sin puntos" readonly="readonly" class="required">
 {%else%}
  <input type="text" name="username" id="username" value="{{dni|add:0}}" autocomplete="off" onKeypress="format(this)" title="Nro de DNI sin puntos" class="required">
 {%endif%} 
 <a href="/preventivos/user/" id="cancelar" name="cancelar">
  <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar seleccion"></a>
 <a href="."><input class="botonsearch"  type="submit" value= "BUSCAR" name="buscar" id="personas" title="Permite buscar el dni de una Persona" ></a></p>
 {%if listap %}
 <hr>
   -->
    <!--div id="demo" class="display" id="example"-->
   <!--
    <table cellpadding="0" cellspacing="0" border="0" class="display" width="100%">
        <thead>

            <tr class="gradeC">
               <th>Tipo Documento</th>
               <th>Nro de Dni</th>
               <th>Apellido/s y Nombres </th>
            </tr>
     
        </thead>
         
             <tbody>
              {% for people in listap %}
                
                  <tr  class="gradeC"> 
                    <td width="17%">{{ people.tipo_doc}}</td>
                    <td width="12%">{{ people.nro_doc}}</td>
                    <td width="70%">{{ people.apellidos}}, {{people.nombres}}</td>
                    </a>
                    </td>
                  </tr>
                {% endfor %}
            </tbody>
           </table>-->
       <!--/div-->
 <!--
      <br>
      <br>
       <hr>
       {%endif%}
<p>
<strong for="first_name">Apellido :</strong>
<input type="text" name="last_name" id="first_name" value="{{apellidos}}" readonly="readonly" />
 <strong for="first_name"> Nombres :</strong>
  <input type="text" name="first_name" id="last_name" value="{{nombres}}" readonly="readonly"/>
{% if usuarios in lista %}
   <strong for="email">E-mail : &nbsp; &nbsp;</strong><input type="text" name="email" id="email" style="box-shadow: 1px 1px 1px 1px red; " value="{{usuarios.email}}" placeholder="Ej. Policia@gmail.com" class="required" autocomplete="off"/>
   {%else%}
     <strong for="email">E-mail : &nbsp; &nbsp;</strong><input type="text" name="email" id="email"  value="{{usuarios.email}}" placeholder="Ej. Policia@gmail.com" class="required" />
   {%endif%}
 </p> 
 <hr>

 
 {%if ocupacion %}
 
<p>
   <strong style="text-decoration: underline;" for="user_permission">Asignar Destino Actual: 
 </strong> 

 </p>
 <p>
 <strong for="ureg">Unidad Regional :</strong>
                                    <select name="ureg" id="ureg" class="comboxl" size="1"/>
                                    <option name="ureg">Seleccione Unidad Regional</option>
                                    <option {{form.ureg}}</option>
                                    </select>
                                     <strong for="depe">Dependencias:</strong>
                                    <select name="depe" id="depe" class="comboxl"  size="1"/>
                                      <option name="depe" id="depe"  {{form.depe}}</option>
                                   

                                        
                                
                                        </select></p><br>
                                    <hr>
   <p>    -->
 <!--va abajo de grupos
  {%endif%}
-->   
     <p>
       <strong for="user_groups" id="basic-modal">Asignar Grupo s/usuario :  
       <select id="user_groups" name="user_groups" multiple="multiple" lastindex="-1" class="combolistas">
        <option {{formnew.groups}}</opcion>
       </select>  
   
   <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png" title="Agregar Grupos de Usuarios">
    </a></strong> 
    
  </p>

 
  <p>
      <div id="informacion"><blockquote style="font-size:10px;font-family: Georgia, 'Trebuchet MS', serif;"><h3><legend>   <img id="alert" src="{{STATIC_URL}}imagenes/preventivos/alert.png" style="border:0px solid #C0C0C0;"/>&nbsp;&nbsp;
        <p>Especifique los permisos para un Grupo de usuarios.-</p>
        <dd><p>Para Asignar y/o reasignar uno o mas permisos, mantener presionada la tecla "Control"(Ctrl).</p></add>
        <dd><p>Para revocar uno o mas permisos mantener presionada la tecla "Control"(Ctrl) sobre el permiso anteriormente asignado.-</p></dd></strong></p>
        <div align="right">

 
        <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
        </div>
        </blockquote>
        
  </div>
     </p>
  <p>                                 
     <strong for="user_permission">Asignar Permisos : </strong>  


  <select id="user_permissions" name="user_permissions" multiple="multiple" lastindex="-1" class="combolista">
  <option {{formnew.user_permissions}}</opcion>
  </select>   

  </p>
 

 
   <hr>
   <br>
  {% if usuarios in lista %}
  
<!--
<label  class = "multicolumnas" readonly="readonly">Usuario Activo?
        {{ formnew.is_active }}  </label><hr>
<br> -->

  <p align="center"> 
     <input  class="btn btn-success" type="submit" name = "modifica" id = "modifica" value="Actualizar" onclick="{% url 'modiuser' dni %}"/>
 </p>
   
     {%else%}
     <p align="center">  
 <input type="submit" class="btn btn-success" id="new" name="new" value="Asignar"
 title="Asigna permisos a un grupo de usuarios" ></p>
    {%endif%}

 <br>

 <!--
      <hr>
   <h1>Listado General de Usuarios Existentes</h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th width="10px">Usuario</th>
               <th width="30px">Apellidos</th>
               <th width="30px">Nombres</th>
               <th width="20px">E-mail</th>
               <th width="10px">Ultimo ingreso</th>
            </tr>
        </thead>
           
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="5%"><a href='/preventivos/user/{{ listas.username }}/'>{{ listas.username }}</a></td>
                    <td width="20%">{{ listas.last_name}}</td>
                      <td width="20%">{{ listas.first_name}}</td>
                          <td width="20%">{{ listas.email}}</td>
                            <td width="20%">{{ listas.last_login}}</td>
                 
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
     -->
 </form>
 
{% endblock %}
{% block contenido %}

 <form id="form" action="/preventivos/newgroup/" method="post">{% csrf_token %} 
  
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Importante : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
      <div style="color: black"><label>Grupo de Usuarios :
    <input type="textarea" name="name" id="name" value="{{grupos}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Grabar" name="grabar" title="Grabar Grupo de Usuarios" >
    </label> </div>  
 </form>
{% endblock %}
