{% load static %}

<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link href="{{STATIC_URL}}css/preventivos/default.css" rel="stylesheet" type="text/css" />
<title>Informar Ampliaciones</title>	
{% block error %}
   <div align="center">
   	  <img onclick="mensajes();" src="{{STATIC_URL}}imagenes/preventivos/policia.png" 
        style="align:center;border:0px solid #C0C0C0;">
    <h4>RADIO AMPLIATORIO FUE ENVIADO</h4>
    <h4>SATISFACTORIAMENTE A SUS DESTINATARIOS CORRESPONDIENTES.-</h4>
    <p>Por cualquier consulta y/o sugerencia comuniquese con el Administrador. <a href="mailto:divsistemasjp@policia.chubut.gov.ar?Subject=Consulta y/o sugerencias" target="_top">
    Enviar un Mail</a>
    </p>
      <input class="new-aqua" type="submit" onclick="window.history.back();" value="Volver"/></p></div>
      
 </div>
{%endblock%}