	{% extends "base.html" %}


	{% block main %}
	
 
	<h1>Preventivo creado con fecha: {{fecha_carga|date:"d/m/y"}} por: {{user.last_name}}, {{user.first_name}} -- {{user.username}}</h1>

	<form action="" role="formvif" method="post">{% csrf_token %}
	  
		{% if formvif.errors or errors %}
							
											<div id="fade" class="overlay"  style="display: block;"></div>
											 <div id="light" class="modals" style="display: block;">
											 {% if formvif.errors %}
											 <h1>Errores en los datos del Formulario VIF</h1>
										<p style="color: red;" > {{ formvif.errors.as_text}}.- &nbsp;&nbsp;</p>
										{% endif %}
									 
										{% if errors %}
														 <p style="color: red;" > {{ errors }}.- &nbsp;&nbsp;
										 {%endif%}
																						<a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
												 </div>
								
							 
			{% endif %}

			

		 <input type="hidden" id="ids" name="ids" value="{{idhec}}"/>
		 <input type="hidden" id="idp" name="idp" value="{{idprev}}"/>
		 <input type="hidden" id="idper" name="idper" value="{{idper}}"/>
		 <input type="hidden" id="idciu" name="idciu"/>
		 <input type="hidden" id="dependencia" name="dependencia" value="{{preventivo.dependencia.id}}"/>
		 <input type="hidden" id="unidad" name="unidad" value="{{preventivo.dependencia.unidades_regionales.id}}"/>
		<p>
			 Unidad Regional / Dependencia : <strong style="font-weight:bold">{{unidadreg}} / {{dependencia}}</strong></p>
	 <p>
			 Preventivo  Nro. :
			 <input type="text" name="nro" id="id_nro" value="{{nro}}/{{anio}}" readonly="readonly"/> 
	 
			 Fecha de Denuncia :
			 <input type="text" name="fecha_denuncia" id="fecha_denuncia" readonly="readonly" value="{{fecha_denuncia|date:"d/m/y"}}"/>
		</p>
		
		<p>   
			 Caratula Policial :
			 <input type="text" name="caratula"  
			 id="caratula" size="70px" readonly="readonly" value="{{caratula}}"/>
		</p>

		<p>   
			 Actuante : <input type="text" name="actuante"  id="actuante" size="25" readonly="readonly" value="{{actuante}}"/>
			 Preventor : <input type="text" name="preventor"  id="preventor" size="30" readonly="readonly" value="{{preventor}}"/>
				</p>
		<p>
			 Autoridades a Informar :
			 {% for y in autoridades %}
					<ul>
						 <li>
								<input type="text" name="autoridades" id="autoridades" size="70px" readonly="readonly" value="{{y}}"/>
						 </li>
					</ul>      
			 {% endfor%}        
		 </p>

		 <h1>Datos del Hecho Ocurrido</h1>  
					<p>
					Motivo :<strong> {{motivo}}</strong> 
					&nbsp;&nbsp;Fecha y Hora Inicio : <strong>{{fecha_desde|date:"SHORT_DATETIME_FORMAT"}} Hs.</strong>
					&nbsp;&nbsp;Fecha y Hora Final : <strong>{{fecha_hasta|date:"SHORT_DATETIME_FORMAT"}} Hs.</strong> </p>
	 <!--     <p>
				 Hecho :&nbsp;<strong>{{descripcion|safe}}</strong></p>-->
				<p>
				 Delito/s Cometido/s :
								 {% for y in delito %}
									<ul>
										 <li>
												<strong>{{y}}</strong>
										 </li>
									</ul>      
			 {% endfor%}        
				 </p>

						
					 <hr>
					<h1>Formulario de Violencia Familiar</h1>
					
		
				<h6>Organismo Actuante</h6> 
	          <input type="hidden"	id="fecha_carga" name="fecha_carga" value="{{fecha_carga|date:"d/m/Y"}}">
			 <p>	Fecha y Hora  :	
			
			 <strong style="font-weight:bold"><input type="text" name="fecha_denuncia" id="fecha_denuncia" readonly="readonly" 
			 	value="{{fecha_denuncia|date:"d/m/Y H:i"}}"/></strong>
		</p>
		 <p> Unida Regional / Dependencia : <strong style="font-weight:bold">{{unidadreg}} / {{dependencia}}</strong></p>
       <p>
		Intervencion del SAVD :  <strong><label id="intervenciosavd" name="intervencionsavd" class="multi8"  checked="checked"> 
		{{ formvif.intervencionsavd }}</label></strong> 
         <span style="margin-left:20px;">Intervencion de otro servicio :  </span><strong><label id="intervencionotro" name="intervencionotro" 
         class="multi8">{{ formvif.intervencionotro }} </label></strong>
         <span style="margin-left:25px;">¿Cual? </span><strong> {{formvif.intervencioncual}} </strong>
	    </p>
	    <div id="informacion">
            <p style="color: #000;background-color: #B0E0E6;border-color: #d58512;border-radius:3px;font-size:16px;font-variant:small-caps;font-weight:bold;"><u>IMPORTANTE</u>: <i>Cuando ingrese informacion en un cuadro de texto por ejemplo DATOS DE INTERES.</i>
             <i>Por favor evite ingresar en el mismo palabras acentuadas y signos(° & "), como asi mismo no ingrese texto resaltado, entre comillas ni tampoco realice tabulaciones, SOLO INGRESE TEXTO PLANO!.</i>
             <i> No realice copias de texto de otros procesadores por ejemplo WORD. MUCHAS GRACIAS.-</i></p>
        </div>
		<p> Otros datos de Interes :
		 <textarea type="text" id="otrosdatosinteres" name="otrosdatosinteres" style="width: 99%;" >{{datosinteres}} </textarea></p>
		 	<br><hr>
		 	<div align="right">
    
		     <input class="btn btn-success" type="submit" value="Guardar Datos" id="grabar" name="grabar"
           title="Permite guardar organismo actuante" />
           {%if grabo%}
             <a class="btn1 btn-success"  href="{% url 'persinvolvif' idhec 0%}"> <label title="Permite Agregar Personas Involucradas" >
         Involucrados</label></a>
           {%endif%}
		      </div>
			</form> 
				
	{%endblock%}
