{% extends "administrar.html" %}

{% block main %}
<h1>{{ titulo }}</h1>
<form action="" method="post" class="django-form">
	{% block form_content %}
			{% for field in form %}
				<p>
				{% if field.errors %} {{ field.errors }} {% endif %}
				{{ field.label_tag }} {{ field }}
				</p>
			{% endfor %}
	
	{% endblock %}
    {% block form_buttons %}
		<p class="comments align-right clear">
			{% block button_inputs %}
				<input id="cancelar" type="button" class="button" value="Cancelar"/>
				<input type="submit" class="button strong" value="{% if submit_text %} {{submit_text}} {%else%} Agregar {% endif %}"/>
			{% endblock %}
		</div>
	{% endblock%}
</form>

<script type="text/javascript">
    (function (){
        require('sys');
        require('event');
        var initial_data = {};
        function onload() {
            var btn_cancel = $('cancelar');
            event.connect(btn_cancel, 'click', function (e) {
                event.stopEvent(e);
                sys.window.history.back();
            });
            
            function get_django_fields() {
                
                return $$('form *').filter(function (e){
                    var id = e.getAttribute('id');
                    return  (id && id.search(/^id_/) >= 0);
                });
            }
            var form_fields = get_django_fields();
            if (form_fields) {
                form_fields[0].focus();
            }
            // console.log(get_django_fields());
        }
        event.connect(sys.window, 'load', onload);
    })();
</script>
{% endblock %}
