{% extends "base.html" %}
{% load static %}
{% block main %}

<form id="form" action="" method="POST">{% csrf_token %} 

   <h1>Formulario de Asignacion de Permisos a Grupos de Usuarios</h1>
   
   {% if errors %}
            
               {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}   
<br> 
 <input id="grupo" name="grupo" type="hidden" value="{{grupos}}">
  <p>  
     
       <strong for="groups" id="basic-modal">Seleccione Grupo de Usuarios :  
       <select id="groups" name="groups" multiple="multiple" onclick="submit(this.value)" lastindex="-1" class="combolistas">
       
        <option name="groups" selected="selected" {{formnew.groups}}  </opcion>
       </select>  
  <!-- 
   <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png" title="Agregar Grupos de Usuarios">
    </a>-->
  </strong> 
    
  </p>

  <p>
      <div id="informacion"><blockquote style="font-size:10px;font-family: Georgia, "DroidSansMono", serif;"><h3><legend>   <img id="alert" src="{% static 'imagenes/preventivos/alert.png' %}" style="border:0px solid #C0C0C0;"/>
        <p>Especifique los permisos para el grupo de usuario seleccionado.</p></legend></h3><br><br>
        <dd><p>Para Asignar y/o reasignar uno o mas, realize la busqueda y seleccione haciendo click sobre el permiso en el cuadro izquierdo</p></dd>
        <dd><p>Para revocar o remover permisos, hacer doble click sobre el permiso en el cuadro derecho anteriormente asignado.-</p></dd></strong></p>

        <div align="right">

 
        <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
        </div>
        </blockquote>
        
  </div>
     </p>
 <div>
  <table class="table">
    <tr>
    <td>                              
     <p><strong for="content_type">Buscar y Asignar Permisos al grupo de usuarios: </strong>  </p>
   </td>
   <td width="20px;">
 </td>
   <td>
     <p><strong>Permisos otorgados al Grupo de Usuarios: {{grupos|capfirst}}</strong>  </p>
   </td>
 </tr>
 <tr>
  <td style="vertical-align:top;">
     <p>


  <select id="permissions" name="permissions" multiple="multiple" style="width: 400px;  margin-top: -5px;" >
   
  <option value="{{form.id}}"{{form.permissions}}</option>
 
  </select>   

  </p>
 </td>
 <td style="vertical-align:top;">
  <input class="botonagregar" type="submit" value="Asignar" id="dar" name="dar" title="Asignar permisos"/><br><br><br>
 <!--<input class="botonsacar" type="submit" value="Remover" id="nodar" name="nodar" title="Remover permisos"/><br>-->
       
 </td>
 <td>
  <p>
    <select id="group_permissions" name="group_permissions" multiple="multiple" lastindex="-1" class="combolista" 
    ondblclick="submit(this.value)">
      {%for permisos in listapg%}
  <option name="group_permissions" value={{permisos.id}}
     <ul><li> {{permisos}}</ul></li>
   </option>{%endfor%}
  </select>   

       
  </p>
</td>
</tr>
</table>

 </div>
   <hr>
  
  
<br>
<!--
 <p align="right">  
 <input type="submit" class="btn btn-success" id="new" name="new" value="Guardar"
 title="Crea un nuevo usuario" ></p>
   
-->
 <br>

 </form>
 
{% endblock %}
{% block contenido %}

 <form id="form" action="." method="post">{% csrf_token %} 
  
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Importante : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
      <div style="color: black"><label>Grupo de Usuarios :
    <input type="textarea" name="name" id="name" value="{{grupos}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Grabar" name="grabarg" title="Grabar Grupo de Usuarios" >
    </label> </div>  
 </form>
{% endblock %}
