{% load static %}
<!--
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<link href="{{STATIC_URL}}css/preventivos/default.css" rel="stylesheet" type="text/css" />
<title>Informar Preventivo</title>
{% block error %}
   <div align="center">
   	  <img onclick="mensajes();" src="{{STATIC_URL}}imagenes/preventivos/policia.png"
        style="align:center;border:0px solid #C0C0C0;">
    <h4>EL PREVENTIVO FUE ENVIADO</h4>
    <h4>SATISFACTORIAMENTE A SUS DESTINATARIOS CORRESPONDIENTES.-</h4>
    <p>Por cualquier consulta y/o sugerencia comuniquese con el Administrador. <a href="mailto:divsistemasjp@policia.chubut.gov.ar?Subject=Consulta y/o sugerencias" target="_top">
    Enviar un Mail</a>
    </p>

          <a href="{% url 'selectPrev' idprev %}" class="btn1 btn-success"><strong style="font-size:14px;text-align:center;">Volver</strong></a>

 </div>
{%endblock%}
-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2><span class="glyphicon glyphicon-ok-circle"></span></h2>
      <h3>El preventivo fue informado.</h3>
    </div>
  </div>
</div>
