{% load static %}
{%if 'no' in total %}

  
 <h1>LISTADO GENERAL DE AMPLIACIONES </h1>
 <div> Realice una Búsqueda mas detallada con el resultado que se encontró con la búsqueda anterior</div>
  <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th>Ampliacion</th>
               <th >Fecha de Carga</th>
               <th>Titulo</th>
                <th>U.Regional/Dependencias</th>
               <th>Fecha de Autorizado</th>
             </tr>
        </thead>
            <tbody>
                
                {% for existen in todos %}
                 {%for datos in existen %}
                  <tr  class="gradeC"> 
                 
                   <td width="5%">

                    <a href="{% url 'reporampli' datos.preventivo_id datos.id  %}" target="_blank">
                      <img src="{% static 'imagenes/preventivos/ver.png ' %}" style="border:0" 
                      title="Permite Ver Datos de la Ampliacion"  rel='tooltip'/>
                   </a></td>

          
                   <td width="10%">{{ datos.fecha|date:"d/m/Y"}}</td>
                     <td width="55%">{{ datos.titulo}}</td>
                   <td width="45%">{{datos.preventivo.dependencia.unidades_regionales.descripcion}} / {{ datos.preventivo.dependencia.descripcion}}</td>
                  
                   <td width="10%">{{ datos.fecha_autorizacion | date:"d/m/Y"}}</td>
       
                  </td>
                 
                 </tr>
                 {% endfor %}
                {%endfor%}
            </tbody>
    </table>
  </div>
{%endif%}

