{% extends "mapasver.html" %}
{% block main %}
 
   <form action="." method="post">{% csrf_token %} 

   <h1>Formulario Vista del Mapa del Delito</h1>
   {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
                  <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > Importante : {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
     
    
       
        <input type="hidden" id="latv" name="latv" value="{{preventivo.ciudad.lat}}" />
        <input type="hidden" id="longiv" name="longiv" value="{{preventivo.ciudad.longi}}" /> 
        <input type="hidden" id="cdav" name="cdav" value="{{preventivo.ciudad.descripcion}}" />
        <br>
        <section style="margin: 10px;">
          <fieldset style="border-radius: 5px; padding: 5px; min-height:60px;">
                <legend><b> Buscar por : </b> </legend>
                    <br>
                   <strong style="margin-left:10px;">DEPENDENCIAS POLICIALES</strong><input type="checkbox" id = "depes" name="depes" />
                   <strong style="margin-left:30px;">CIUDADES</strong><input type="checkbox" id = "ciu" name="ciu" />
     
          </fieldset>
      
          <br>
        <div id="combodepe" style="display:none;">
        <p>
         <strong>UNIDADES REGIONALES :</strong>
            <select name = "ureg" id="ureg" style="width:250px;">
              <option name="ureg" {{form.ureg}}</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
             
          <strong> DEPENDENCIAS : </strong>
            <select name = "depe" id="depe"  style="width:250px;" >
              <option name="depe" {{form.depe}}</option>
            </select> </p><br>
           
      </div>
      <div id="combociu" style="display:none;">
        <p>
         <strong>CIUDADES :</strong>
            <select name = "ciudades" id="ciudades" style="width:250px;">
              <option name="ciudades" {{form.ciudades}} </option>
            </select> </p> <br>
           
      </div>
      <div align="center">

 {%if haydatos%}
       

            <input type="hidden" id="lista" name="lista" value="{{preven}}" /> 
         
              <p><u><strong>REFERENCIA DE DELITOS COMETIDOS EN JURISDICCION DE</strong></u></p>
               <p><u><strong> {{buscar}} </strong></u></p>
            <p><strong>   PERIODO DE FECHAS: {{ayerfue}} AL {{hoyes}}</strong></p>
              <p><strong style="color:red;">
    
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitospropiedad.png" style="background: transparent;"> <strong>ROBO</strong>
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrapeople.png" style="background: transparent;">  <strong>HOMICIDIOS</strong>
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrahonor.png" style="background: transparent;">  <strong>OTROS DELITOS</strong>
    <!-- {% for y in refdelitosdes %}
        <p>
                {%if 'ROBO' in y%}
                      <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitospropiedad.png" style="background: transparent;"> {{y}} 
                 {%else%}     
                        {%if 'HOMICIDIO' in y%}
                             <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrapeople.png" style="background: transparent;"> {{y}} 
                         {%else%}   
                            <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrahonor.png" style="background: transparent;"> {{y}} 
                         {%endif%}   
                {%endif%}
          </p>        
            

            
     {% endfor%}    -->
    </strong> </p> 
       
      {%else%}
        <input type="hidden" id="lista" name="lista" value="{{preven}}"/>
       {%endif%}
       </div>
            
        <div class="forma">
        <div id="mapa" name="mapa" class="capasmf"> </div>

           
                
           
               <div class="capasmpf"> <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/powered-by-google-on-white.png"></div></div><br><br>
                <p>
            <h1>Seleccione los Delitos a consultar</h1>
              <p>
      <div  id="informacion"><blockquote style="font-size:11px;font-family: Georgia, "DroidSansMono", serif;"><h3><legend>   <img id="alert" src="{{STATIC_URL}}imagenes/preventivos/alert.png" style="border:0px solid #C0C0C0;text-align:justify;"/>&nbsp;&nbsp;<p><u>Especifique los delitos a consultar su incidencia en el mapa</u></p>
        <dd><p>Antes de buscar, cierre los delitos anteriores. [x Delitos].</p></dd>
        <dd><p>Para seleccionar uno o mas, realize la busqueda y seleccione haciendo click sobre el mismo.</p></dd>
            <dd><p>Luego seleccione la Fecha Desde y Hasta que se quiere consultar, luego Haga click en visualizar.- </p></dd>
              <dd><table><tr><td><u><strong>En el caso que desee consultar todos los delitos cometidos en un determinada Fecha: </strong></u></td></tr></dd>
               <dd><tr><td>1- Cierre los delitos anteriores [x Delitos] y no seleccione ninguno.-</td></tr></dd>
               <dd><tr><td>2- Ingrese el Fecha Desde y Hasta el mismo dia/mes/año que quiere consultar.- </td></tr></table></dd></h3>
           <div align="right">
              <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
           </div>
        </blockquote>
      </div></p>
      <p><strong>Seleccione Delitos :</strong>
       <select id="delito" name="delito" multiple="multiple" class="combobox" style="font-size: 10px;width: 420px;  margin-top: -5px;" placeholder="Por Ej. ROBO">
   
           <option value="{{form.id}}" {{form.delito}}</option>
 
       </select> 
      
      </p><br><hr><br>
      <p><u><strong>PERIDOS DE FECHAS</STRONG></u></p>
      <p>

         <strong>Fecha Desde :</strong>
      <input type="text" name="fecha_desde" size="9" id="fecha_desde"  placeholder="dd/mm/aaaa" />
      <input class="botoncalendar"  type="button" id="lanzador" title="Seleccione Fecha Desde">
       <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_desde", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "lanzador" // el id del botón que lanzará el calendario 
        }); 
      </script> &nbsp;&nbsp;&nbsp;&nbsp;
      <strong>Fecha Hasta :</strong>
      <input type="text" name="fecha_hasta" size="9" id="fecha_hasta"  placeholder="dd/mm/aaaa" />
      <input class="botoncalendar"  type="button" id="lanzadora" title="Seleccione Fecha Hasta">
       <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_hasta", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "lanzadora" // el id del botón que lanzará el calendario 
        }); 
      </script> 
     </p><br><hr><br>
     <div align="center">
   
          <input class="new-aqua" type="submit" id="ver" name="ver" value="Visualizar"/></div>

      </form>
{% endblock %}
