{% extends "mapasver.html" %}
{% block main %}
 
   <form action="." method="post">{% csrf_token %} 

   <h1>Formulario Vista del Mapa del Delito</h1>
   {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
                  <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > Importante : {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
     
    
       
        <input type="hidden" id="latv" name="latv" value="{{preventivo.ciudad.lat}}" />
        <input type="hidden" id="longiv" name="longiv" value="{{preventivo.ciudad.longi}}" /> 
        <input type="hidden" id="cdav" name="cdav" value="{{preventivo.ciudad.descripcion}}" />
        <br>
        <section style="margin: 10px;">
          <fieldset style="border-radius: 5px; padding: 5px; min-height:60px;">
                <legend><b> Buscar por : </b> </legend>
                    <br>
                   <strong style="margin-left:10px;">DEPENDENCIAS POLICIALES</strong>&nbsp;&nbsp;&nbsp;<input type="checkbox" id = "depes" name="depes" />
                   <strong style="margin-left:30px;">CIUDADES</strong>&nbsp;&nbsp;&nbsp;<input type="checkbox" id = "ciu" name="ciu" />
     
          </fieldset>
      
          <br>
        <div id="combodepe" style="display:none;">
        <p>
         <strong>UNIDADES REGIONALES :</strong>
            <select name = "ureg" id="ureg" style="width:250px;">
              <option name="ureg" {{form.ureg}}</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
             
          <strong> DEPENDENCIAS : </strong>
            <select name = "depe" id="depe"  style="width:250px;" >
              <option name="depe" {{form.depe}}</option>
            </select> </p><br>
           
      </div>
      <div id="combociu" style="display:none;">
        <p>
         <strong>CIUDADES :</strong>
            <select name = "ciudades" id="ciudades" style="width:250px;">
              <option name="ciudades" {{form.ciudades}} </option>
            </select> </p> <br>
           
      </div>
      <div align="center">

 {%if haydatos%}
       

            <input type="hidden" id="lista" name="lista" value="{{preven}}" /> 
         
              <p><u><strong>REFERENCIA DE DELITOS COMETIDOS EN JURISDICCION DE</strong></u></p>
               <p><u><strong> {{buscar}} </strong></u></p>
            <p><strong>   PERIODO DE FECHAS: {{hoyes}}  AL  {{ayerfue}}</strong></p>
              <p><strong style="color:red;">
    
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitospropiedad.png" style="background: transparent;"> <strong>ROBO</strong>
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrapeople.png" style="background: transparent;">  <strong>HOMICIDIOS</strong>
     <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrahonor.png" style="background: transparent;">  <strong>OTROS DELITOS</strong>
    <!-- {% for y in refdelitosdes %}
        <p>
                {%if 'ROBO' in y%}
                      <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitospropiedad.png" style="background: transparent;"> {{y}} 
                 {%else%}     
                        {%if 'HOMICIDIO' in y%}
                             <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrapeople.png" style="background: transparent;"> {{y}} 
                         {%else%}   
                            <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/delitoscontrahonor.png" style="background: transparent;"> {{y}} 
                         {%endif%}   
                {%endif%}
          </p>        
            

            
     {% endfor%}    -->
    </strong> </p> 
       
      {%else%}
        <input type="hidden" id="lista" name="lista" value="{{preven}}"/>
       {%endif%}
       </div>
            
        <div class="forma">
        <div id="mapa" name="mapa" class="capasmf"> </div>

           
                
           
               <div class="capasmpf"> <img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/powered-by-google-on-white.png"></div></div><br><br>
                <p>
            <h1>Seleccione los Delitos a consultar</h1>
              <p>
      <div  id="informacion"><div align="center"><blockquote style="font-size:11px;font-family: Georgia, "DroidSansMono", serif;">
        <img id="alert" src="{{STATIC_URL}}imagenes/preventivos/alert.png" style="border:0px solid #C0C0C0;text-align:justify;"/>&nbsp;&nbsp;<p><u>
        <strong>Especifique los delitos a consultar su incidencia en el mapa</strong></u></p>
        <dd><p>Antes de buscar, cierre los delitos anteriores. [x Delitos].</p></dd>
        <dd><p>Para seleccionar uno o mas, realize la busqueda y seleccione haciendo click sobre el mismo.</p></dd>
            <dd><p>Luego seleccione la Fecha Desde y Hasta que se quiere consultar, luego Haga click en visualizar.- </p></dd>
              <dd><u><strong>En el caso que desee consultar todos los delitos cometidos en un determinada Fecha: </strong></u></dd>
               <dd>1- Cierre los delitos anteriores [x Delitos] y no seleccione ninguno.-</dd>
               <dd>2- Ingrese el Fecha Desde y Hasta el mismo dia/mes/año que quiere consultar.- </dd>
           <div align="right">
              <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
           </div>
        </blockquote></div>
      </div></p>
      <p><strong>Seleccione Delitos :</strong>
          <select data-placeholder="Seleccione delitos" style="width:350px;" name="delito" id="delito" multiple class="search-choice" style="width:400px;">
              <option value="{{form.id}}" {{form.delito}}</option>
            </select>
      
      
      </p><br><hr><br>
      <p><u><strong>PERIDOS DE FECHAS</STRONG></u></p>
     <p>
        <strong> Fecha de Autorizado : Desde :</strong>
    <input type="text" id="fecha_desde" name="fecha_desde" autocomplete="off" size="9" value="{{fecha_desde | date:"d/m/Y"}}"
     placeholder="dd/mm/aaaa" />
      <input class="botoncalendar"  type="button" id="lanzador" title="Seleccione Fecha de Carga Denuncia">
      
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_desde", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "lanzador" // el id del botón que lanzará el calendario 
        }); 
      </script> 

    &nbsp;&nbsp;
    <strong> Hasta :</strong>
    <input type="text" id="fecha_hasta" name="fecha_hasta" autocomplete="off" size="9" 
     placeholder="dd/mm/aaaa" />
      <input class="botoncalendar"  type="button" id="lanzadora" title="Seleccione Fecha de Carga de Denuncia">
    
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_hasta", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "lanzadora" // el id del botón que lanzará el calendario 
        }); 
      </script>
     </p>
     <br><hr><br>
     <div align="center">
   
          <input class="new-aqua" type="submit" id="ver" name="ver" value="Visualizar"/></div>

      </form>
      <script src="{{ STATIC_URL }}chosen_v1.3.0/chosen.jquery.js" type="text/javascript"></script>
  <script src="{{ STATIC_URL }}chosen_v1.3.0/docsupport/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script>

{% endblock %}
