<script>
  function abrirMod(){
    window.showModalDialog("http://127.0.0.1:8000/contacto/","","dialogWidth:800px;dialogHeight:540px;dialogTop:200;dialogLeft: 350");
  }
</script>
<!--

      <ul id="tabs" >
        <li><a href="/spid/inicio/"><span>Inicio</span></a></li>
        <li><a href="/spid/manual/"><span>Instructivo</span></a></li>
         {% if user.is_authenticated and user.is_staff%}
          <li><a href="/admin/config/" target="new"><span>Administrador</span></a></li>
         {%endif%}
        <li><a href="#" onclick="abrirMod();"><span>Contacto</span></a></li>
        {% if user.is_authenticated %}
        <li><a href="/spid/salir/"><span>Desconectar</span></a></li>
        {% endif %}
      </ul>     

-->
{% block cabecera %}
<li class='current'><a href='#'><span>Utilidades</span></a>
                        <ul>
       
        <li><a href="/spid/manual/"><span>Instructivo</span></a></li>
         {% if user.is_authenticated and user.is_staff%}
          <li><a href="/admin/config/" target="new"><span>Administrador</span></a></li>
         {%endif%}
        <li><a href="#" onclick="abrirMod();"><span>Contacto</span></a></li>
        {% if user.is_authenticated %}
        <li><a href="/spid/salir/"><span>Desconectar</span></a></li>
        {% endif %}</ul>
          </li>
        
  {%endblock%}