{% block sidebar %}

 <header class="wrapper clearfix">
               
        <div id="banner">        
        

        
        <!-- main navigation -->
        <nav id="topnav" role="navigation">
        <div class="menu-toggle">Menu</div>  
            <ul class="srt-menu" id="menu-main-navigation">
            {% if user.is_authenticated and user.is_staff or not user.is_staff%}
                        <li><a href="/spid/inicio/"><span>Inicio</span></a></li>
                                      {%if 'policia' in state or 'jefes' in state%}
                                      
                                        <li class='has-sub'><a href='#'><span>Preventivos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/new/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <!--
                                        <li class='has-sub'><a href='#'><span>Ampliaciones</span></a>
                                             <ul>
                                               <li><a href="/ampliaciones/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>-->
                                        <li class='has-sub'><a href='#'><span>Personas</span></a>
                                             <ul>
                                               <li><a href="/preventivos/persona/"><span>Padron General</span></a></li>
                                             </ul>
                                        </li>
                                        <!--
                                        <li class='has-sub'><a href='#'><span>Detenidos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/detenidos/ingresos/"><span>Ingresos</span></a></li>
                                               <li><a href="/preventivos/detenidos/egresos/"><span>Egresos</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Oficial de Calle</span></a>
                                       <ul>
                                         <li><a href='/preventivos/calle/control/'><span>Disponibles</span></a></li>
                                         <li><a href='/preventivos/calle/control/'><span>Moviles</span></a></li>
                                         <li><a href='/preventivos/calle/control/'><span>Novedades</span></a></li>
                                        <li><a href='/preventivos/calle/control/'><span>Fichas de Identificacion</span></a></li>
                                      </ul>
                                    </li>-->
                                        <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                     <ul>
                                           <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                          <li><a href='/preventivos/seehechos/'><span>Descripcion Hecho</span></a></li>
                                          <li><a href='/preventivos/seedelitos/'><span>Delitos</span></a></li>
                                          <li><a href='/preventivos/seeampli/'><span>Ampliaciones</span></a></li>
                                            <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                          <li><a href='/preventivos/objectsin/'><span>Elementos Involucrados</span></a></li>
                                           <!-- <li><a href="/preventivos/reportes/"><span>Busco Hechos</span></a></li>-->
                                     </ul>
                                </li>
                                
                                    </li>
                                        <li class='has-sub'><a href='#'><span>Mapa del Delito</span></a>
                                         <ul>
                                           <li><a href="/preventivos/mapsanality/"><span>Ver</span></a></li>
                                         </ul>
                                       </li>
                               {%endif%}

                                {%if 'investigaciones' in state or 'radio' in state%}
                                      
                                        <li class='has-sub'><a href='#'><span>Preventivos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/new/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <!--
                                        <li class='has-sub'><a href='#'><span>Ampliaciones</span></a>
                                             <ul>
                                               <li><a href="/ampliaciones/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>-->
                                        <li class='has-sub'><a href='#'><span>Personas</span></a>
                                             <ul>
                                               <li><a href="/preventivos/persona/"><span>Padron General</span></a></li>
                                             </ul>
                                        </li>
                                        <!--
                                       <li class='has-sub'><a href='#'><span>Detenidos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/detenidos/ingresos/"><span>Ingresos</span></a></li>
                                               <li><a href="/preventivos/detenidos/egresos/"><span>Egresos</span></a></li>
                                             </ul>
                                        </li>-->
                                        <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                         <ul>
                                          <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                          <li><a href='/preventivos/seehechos/'><span>Descripcion Hechos</span></a></li>
                                          <li><a href='/preventivos/seedelitos/'><span>Delitos</span></a></li>
                                          <li><a href='/preventivos/seeampli/'><span>Ampliaciones</span></a></li>
                                          <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                          <li><a href='/preventivos/objectsin/'><span>Elementos Involucrados</span></a></li>
                          
                                         </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Mapa del Delito</span></a>
                                         <ul>
                                           <li><a href="/preventivos/mapsanality/"><span>Ver</span></a></li>
                                         </ul>
                                       </li> 
                                       <li class='has-sub'><a href='#'><span>Informes Varios</span></a>
                                         <ul>   
                                           <li><a href="/preventivos/forages/"><span>Resumen de Personas Involucradas</span></a></li>
                                           <li><a href="/preventivos/hechos/">
                                            <span>Cantidad de Hechos s/Tipo y p/Delitos </span></a></li>
                                           <li><a href="/preventivos/homicides/"><span>Cantidad de Hechos con Homicidios  Tipo de Lugar/Armas</span></a></li>
                                           <li><a href="/preventivos/automotores/">
                                            <span>Cantidad de Automotores s/Tipo y p/Delitos </span></a></li>                                          
                                         </ul>
                                       </li> 
                                       
                                 
                                {%endif%}
                               {% endif %}
                            {% if user.is_authenticated and user.is_staff or not user.is_staff%}
                                 {%if 'visita' in state%}

                                 <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                     <ul>
                                           <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                         <li><a href='/preventivos/seeampli/'><span>Ampliaciones</span></a></li>
                                            <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                                  <li><a href='/preventivos/objectsin/'><span>Elementos Involucradas</span></a></li>
                          
                                          <li><a href='/preventivos/causas/'><span>Causas/Detenidos</span></a></li>
                                     </ul>
                                </li>
                                   <li class='has-sub'><a href='#'><span>Estadisticas</span></a>
                                   <ul>
                                    <li><a href="/preventivos/reportes/"><span>Reportes Varios</span></a></li>
                                  </ul>
                                 </li>
                                
                               
                                {% endif %}
                            {% endif %}
                            {% if user.is_authenticated and user.is_staff %}
                                <li class='has-sub'><a href='#'><span>Bases de Datos</span></a>
                                     <ul>
                                           <li><a href='/preventivos/persona/'><span>Personas</span></a></li>
                                          <li><a href='/preventivos/user/'><span>Usuarios</span></a></li>
                                          <li><a href='/preventivos/groupusers/'><span>Grupos de Usuarios</span></a></li>
                                           <li><a href='/preventivos/groupfree/'><span>Permisos a Grupos</span></a></li>
                                        
                                          <li><a href='/preventivos/actuantes/'><span>Actuantes  Preventores</span></a></li>
                                          <li><a href='/preventivos/controller/'><span>Actividades de Usuarios</span></a></li>
                                     </ul>
                                </li>
                                <li class='has-sub'><a href='#'><span>Datos Referenciales</span></a>
                                     <ul>
                                         <li><a href="/preventivos/ciudades/"><span>Ciudades  Localidades</span></a></li>
                                         <li><a href="/preventivos/departamentos/"><span>Departamentos</span></a></li>
                                         <li><a href="/preventivos/provincias/"><span>Provincias</span></a></li>
                                         <li><a href="/preventivos/paises/"><span>Paises</span></a></li>
                                         <li><a href="/preventivos/hogares/"><span>Tipos : Viviendas</span></a></li>
                                         <li><a href="/preventivos/lugares/"><span>Tipos : Lugar-Hecho</span></a></li>
                                         <li><a href="/preventivos/climas/"><span>Condiciones Climaticas</span></a></li>
                                         <li><a href="/preventivos/unidades/"><span>Unidades Regionales</span></a></li>
                                         <li><a href="/preventivos/dependencias/"><span>Dependencias</span></a></li>
                                         <li><a href="/preventivos/peopleenv/"><span>Personas Involucradas</span></a></li>
                                         <li><a href="/preventivos/typedelitos/"><span>Tipos: Delitos</span></a></li>
                                         <li><a href="/preventivos/delitos/"><span>Delitos</span></a></li>
                                         <li><a href="/preventivos/modus/"><span>Modus  Operandi</span></a></li>
                                         <li><a href="/preventivos/jobs/"><span>Ocupaciones</span></a></li>
                                         <li><a href="/preventivos/trademark/"><span>Marcas Registradas</span></a></li>
                                         <li><a href="/preventivos/items/"><span>Rubros</span></a></li>
                                         <li><a href="/preventivos/category/"><span>Categorias</span></a></li>
                                         <li><a href="/preventivos/typearms/"><span>Tipos de Armas</span></a></li>
                                         <li><a href="/preventivos/subarms/"><span>Sub-Tipos de Armas</span></a></li>
                                       
                                         <li><a href="/preventivos/barrios/"><span>Barrios</span></a></li>
                                         <li><a href="/preventivos/address/"><span>Direcciones   Calles</span></a></li>
                                         <li><a href="/preventivos/authorities/">Autoridades Oficiales</span></a></li>
                                     </ul>
                                </li>
                            
                            {%endif%}
                     {% include "menuhyv.html"%}
        </nav><!-- #topnav -->
  
    </header><!-- end header -->





<!--"menu vertical
       <table border="0" cellspacing="0" cellpadding="0" max-width="100%" style=" padding-top:5px; margin:0 ; margin-left:-15px; ">-->
                       <!--  <tr><td class="lefttitle"><b>Preventivo Policial  </b></td></tr>
                               <tr><td class="box_middle">-->
             <!--                   <tr><td>
                                
                               
                                  <ul   id="menu-bar">
                                      {% if user.is_authenticated and user.is_staff or not user.is_staff%}
                                      {%if 'policia' in state%}
                                      
                                        <li class='has-sub'><a href='#'><span>Preventivos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/new/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Ampliaciones</span></a>
                                             <ul>
                                               <li><a href="/ampliaciones/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Personas</span></a>
                                             <ul>
                                               <li><a href="/preventivos/persona/"><span>Padron General</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Detenidos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/detenidos/ingresos/"><span>Ingresos</span></a></li>
                                               <li><a href="/preventivos/detenidos/egresos/"><span>Egresos</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Oficial de Calle</span></a>
                                       <ul>
                                         <li><a href='/preventivos/calle/control/'><span>Disponibles</span></a></li>
                                         <li><a href='/preventivos/calle/control/'><span>Moviles</span></a></li>
                                         <li><a href='/preventivos/calle/control/'><span>Novedades</span></a></li>
                                        <li><a href='/preventivos/calle/control/'><span>Fichas de Identificacion</span></a></li>
                                      </ul>
                                    </li>
                                        <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                     <ul>
                                           <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                          <li><a href='/ampliaciones/seedata/'><span>Ampliaciones</span></a></li>
                                            <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                          <li><a href='/preventivos/objectsin/'><span>Elementos Involucrados</span></a></li>-->
                                           <!-- <li><a href="/preventivos/reportes/"><span>Busco Hechos</span></a></li>-->
                              <!--       </ul>
                                </li>
                                
                                    </li>
                                        <li class='has-sub'><a href='#'><span>Mapa del Delito</span></a>
                                         <ul>
                                           <li><a href="/preventivos/mapsanality/"><span>Ver</span></a></li>
                                         </ul>
                                       </li>
                               {%endif%}

                                {%if 'investigaciones' in state%}
                                      
                                        <li class='has-sub'><a href='#'><span>Preventivos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/new/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Ampliaciones</span></a>
                                             <ul>
                                               <li><a href="/ampliaciones/"><span>Nuevo</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Personas</span></a>
                                             <ul>
                                               <li><a href="/preventivos/persona/"><span>Padron General</span></a></li>
                                             </ul>
                                        </li>
                                       <li class='has-sub'><a href='#'><span>Detenidos</span></a>
                                             <ul>
                                               <li><a href="/preventivos/detenidos/ingresos/"><span>Ingresos</span></a></li>
                                               <li><a href="/preventivos/detenidos/egresos/"><span>Egresos</span></a></li>
                                             </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                         <ul>
                                          <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                          <li><a href='/ampliaciones/seedata/'><span>Ampliaciones</span></a></li>
                                          <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                          <li><a href='/preventivos/objectsin/'><span>Elementos Involucrados</span></a></li>
                          
                                         </ul>
                                        </li>
                                        <li class='has-sub'><a href='#'><span>Mapa del Delito</span></a>
                                         <ul>
                                           <li><a href="/preventivos/mapsanality/"><span>Ver</span></a></li>
                                         </ul>
                                       </li> 
 
                                        <li class='has-sub'><a href='#'><span>Estadísticas</span></a>
                                         <ul>
                                           <li><a href="/preventivos/forages/"><span>Personas Inv. p/Edad</span></a></li>
                                           <li><a href="/preventivos/reportes/"><span>Delitos</span></a></li>
                                           
                                         </ul>
                                       </li> 
                                 
                                {%endif%}
                               {% endif %}
                            {% if user.is_authenticated and user.is_staff or not user.is_staff%}
                                 {%if 'visita' in state%}

                                 <li class='has-sub'><a href='#'><span>Búsqueda</span></a>
                                     <ul>
                                           <li><a href='/preventivos/seedata/'><span>Preventivos</span></a></li>
                                          <li><a href='/ampliaciones/seedata/'><span>Ampliaciones</span></a></li>
                                            <li><a href='/preventivos/peoplein/'><span>Personas Involucradas</span></a></li>
                                                  <li><a href='/preventivos/objectsin/'><span>Elementos Involucradas</span></a></li>
                          
                                          <li><a href='/preventivos/causas/'><span>Causas/Detenidos</span></a></li>
                                     </ul>
                                </li>
                                   <li class='has-sub'><a href='#'><span>Estadisticas</span></a>
                                   <ul>
                                    <li><a href="/preventivos/reportes/"><span>Reportes Varios</span></a></li>
                                  </ul>
                                 </li>
                                
                               
                                {% endif %}
                            {% endif %}
                            {% if user.is_authenticated and user.is_staff %}
                                <li class='has-sub'><a href='#'><span>Bases de Datos</span></a>
                                     <ul>
                                           <li><a href='/preventivos/persona/'><span>Personas</span></a></li>
                                          <li><a href='/preventivos/user/'><span>Usuarios</span></a></li>
                                          <li><a href='/preventivos/groupusers/'><span>Grupos de Usuarios</span></a></li>
                                           <li><a href='/preventivos/groupfree/'><span>Permisos a Grupos</span></a></li>
                                        
                                          <li><a href='/preventivos/actuantes/'><span>Actuantes  Preventores</span></a></li>
                                          <li><a href='/preventivos/controller/'><span>Actividades de Usuarios</span></a></li>
                                     </ul>
                                </li>
                                <li class='has-sub'><a href='#'><span>Datos Referenciales</span></a>
                                     <ul>
                                         <li><a href="/preventivos/ciudades/"><span>Ciudades/Localidades</span></a></li>
                                         <li><a href="/preventivos/departamentos/"><span>Departamentos</span></a></li>
                                         <li><a href="/preventivos/provincias/"><span>Provincias</span></a></li>
                                         <li><a href="/preventivos/paises/"><span>Paises</span></a></li>
                                         <li><a href="/preventivos/hogares/"><span>Tipos : Viviendas</span></a></li>
                                         <li><a href="/preventivos/lugares/"><span>Tipos : Lugar-Hecho</span></a></li>
                                         <li><a href="/preventivos/climas/"><span>Condiciones Climaticas</span></a></li>
                                         <li><a href="/preventivos/unidades/"><span>Unidades Regionales</span></a></li>
                                         <li><a href="/preventivos/dependencias/"><span>Dependencias</span></a></li>
                                         <li><a href="/preventivos/peopleenv/"><span>Personas Involucradas</span></a></li>
                                         <li><a href="/preventivos/typedelitos/"><span>Tipos: Delitos</span></a></li>
                                         <li><a href="/preventivos/delitos/"><span>Delitos</span></a></li>
                                         <li><a href="/preventivos/modus/"><span>Modus-Operandi</span></a></li>
                                         <li><a href="/preventivos/jobs/"><span>Ocupaciones</span></a></li>
                                         <li><a href="/preventivos/trademark/"><span>Marcas Registradas</span></a></li>
                                         <li><a href="/preventivos/items/"><span>Rubros</span></a></li>
                                         <li><a href="/preventivos/category/"><span>Categorias</span></a></li>
                                         <li><a href="/preventivos/typearms/"><span>Tipos de Armas</span></a></li>
                                         <li><a href="/preventivos/subarms/"><span>Sub-Tipos de Armas</span></a></li>
                                       
                                         <li><a href="/preventivos/barrios/"><span>Barrios</span></a></li>
                                         <li><a href="/preventivos/address/"><span>Direcciones - Calles</span></a></li>
                                         <li><a href="/preventivos/authorities/">Autoridades Oficiales</span></a></li>
                                     </ul>
                                </li>
                              <li class='has-sub'><a href='#'><span>Estadísticas</span></a>
                                         <ul>
                                           <li><a href="/preventivos/forages/"><span>Personas Involucradas por Edad</span></a></li>
                                           <li><a href="/preventivos/delitozonas/"><span>Delitos por Dependencias</span></a></li>
                                           <li><a href="/preventivos/forages/"><span>Delitos contra la Vida</span></a></li>
                                           <li><a href="/preventivos/forages/"><span>Delitos contra Propiedad</span></a></li>
                                                                                      
                                         </ul>
                                       </li> 
                            {%endif%}
                     
                            </ul>
                      
                          </td></tr>-->
                          <!--<tr><td class="box_foot"></td></tr>-->
                 <!--    </table>-->
{% endblock %}