{% extends "base.html" %}
{% load static %}
{% block main %}

  {% if errors %}
            
              {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  

  <h1 style="font-size:12px;">Carga de elementos Ampliacion: {{amplia.fecha|date:"d/m/y"}} - {{amplia.titulo.upper}}</h1>
  {% if not lugar.id %}<!--
  <div id="informacion"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;"><h3><legend><u>Por favor leer esta información</u></legend></h3><p><strong><i>El lugar del hecho es uno de los datos de mayor interes en el sistema, ya que a partir de los datos aqui cargados se confecciona el mapa del delito.
        Es muy importante que se pueda relevar el lugar del hecho de la manera mas detallada posible. Es necesario en todos los casos consignar una calle, en 
        caso de no poder hacerlo, por favor brindar la mayor cantidad de datos posibles para poder ubicar el lugar del ilicito.</i></strong></p>
        <div align="right">
        <input type="button" id="cerrarinfo" value="x" style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
        </div>
        </blockquote>
        
  </div>-->
  {% endif %}
  
  <form id="form" action="." method="post">{% csrf_token %} 
      <input type="hidden" id="id" name="id" value="{{idhec}}"/>
  
    <input type="hidden" id="idp" name="idp" value="{{idprev}}"/>
 <input type="hidden" id="idele" name="idele" value="{{idele}}"/>
   <input type="hidden" id="idampl" name="idampl" value="{{idamp}}"/>
 <p><strong style="text-transform:uppercase;font-size:15px">Datos Generales del preventivo:</strong></p>
   <div style="color: #3er7ad;background-color: #d9edf7;border-color: #bce8f1;border-radius:5px;font-size:14px;"><p>
    <strong style="color: #3a87ad;">Nro./Año : </strong> {{preventivo.nro}}/{{preventivo.anio}}  de la {{preventivo.dependencia}} - {{preventivo.dependencia.unidades_regionales}}</p>
    <p>
   <strong style="color: #3a87ad;">Preventor:</strong> {{preventivo.preventor}}</p>
   <p><strong style="color: #3a87ad;">Actuante:</strong> {{preventivo.actuante}}</p>
   <p><strong style="color: #3a87ad;">Caratula:</strong> {{preventivo.caratula}}</p>
   {% if preventivo.fecha_cierre %}
      <p style="color: #b94a48;"><strong style="color: #b94a48;">Preventivo cerrado en fecha:</strong> {{preventivo.fecha_cierre}}</p>

   {% endif %}
  </div>
   <hr>

   <br>
   <h1>Elementos relacionados al Hecho</h1>
<div id="informacion"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;">
    <p>
  <strong style="color:red;"><i> ( * ) Datos Obligatorios.-</i></strong></p>
        
        </blockquote>
        
  </div>
 <table  class="tables" >
  <tr>
    <td>
  
             <strong style="color:red;"> * </strong> <strong>Tipo Elemento :</strong>
        <strong>
                   <select name="tipo" id="tipo" style="width:190px">>
                    <option {{form.tipo}}</option>
                    </option>
                </select> </strong>
        </td>
    </tr>
    <tr>

        <td >
             <strong style="color:red;"> * </strong>  <strong>Rubros :</strong>
       
                <strong  id="basic-modal" style="margin-left:38px">
                <select name="rubro" id="rubro" style="width:190px">
                    <option {{form.rubro}}</option>
                    </option>
                </select>
                 <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{% static 'imagenes/preventivos/agregar.png' %}" width="18px" title="Agregar Rubros">
                 </a></strong>
        </td>
    </tr>
    <tr>
        <td >
           <strong style="color:red;"> * </strong>   <strong >Categorias:</strong>
        
             <strong id="basic-modal2" style="margin-left:20px">
                <select name="categoria" id="categoria" style="width:190px" >
                    <option  name="categoria" id="categoria" {{form.categoria}} </option>
                    </option>
                </select> 
                 <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{% static 'imagenes/preventivos/agregar.png' %}" width="18px"
                  title="Agregar categoria">
              </strong>
        </td>
    </tr>
   
 
    <tr >
        <td >
               {%if tiene %}
                <div id="habilitaf">
              {%else%}
                 <div id="habilitaf" style="display:none;width:100%;">
               {%endif%}   
        <h1>Caracteristicas del Arma de Fuego</h1>
     
       <p>
       <strong style="color:red;"> * </strong> <strong>Tipo de Armas:</strong><strong>
                   <select name="tipos" id="tipos" style="width:190px;">
                    <option {{formar.tipos}}</option>
                    </option>
                </select> </strong>
        <strong style="color:red;margin-left:6px;"> * </strong><strong>Sub-Tipo de Armas :</strong><strong>
        <select name="subtipos" id="subtipos" style="width:190px">
                    <option {{formar.subtipos}}</option>
                    </option>
                </select> </strong>
    
        <strong style="margin-left:6px;">Sist. Disparo :</strong><strong><select name="sistema_disparo" id="sistema_disparo" style="width:190px;">
                    <option {{formar.sistema_disparo}}</option>
                    </option>
                </select> </strong></p>

     <p>
        <strong>Marcas:</strong><strong><select name="marcas" id="marcas" style="width:140px;margin-left:42px;">
                    <option {{formar.marcas}}</option>
                    </option>
                </select> </strong>
        
            <input type="button" id="addmarca" value="[Nueva Marca]"   title="Permite agregar una nueva Marca de Armas de Fuego"  style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
            <input type="text" name="nueva_marca" id="nueva_marca" autocomplete="off" size="15" style="display:none;" {{formar.nueva_marca}}
        </p>
        <p>
        <strong>Calibre :</strong>
        <input type="text" name="calibre" id="calibre" size="4"  style="margin-left:38px;" {{formar.calibre}}
       
         <strong style="margin-left:32px;">Modelo :</strong> <input type="text" name="modelo" id="modelo" size="20" 
         style="margin-left:22px;" {{formar.modelo}} 
     
    <strong >Serie N° :</strong>
    <input type="text" name="nro_arma" id="nro_arma" size="20"  {{formar.nro_arma}} 
  </p>
       <p><strong><u>Datos del propietario:</u></strong></p> 
     <p>
        <strong>Nro Dni :</strong>
        <input type="numeric" name="nro_doc" id="nro_doc" size="8" max_lenght ="8" autocomplete="off"
    onkeypress="return isNumberKey(event,this)"  title="Nro de DNI sin puntos y hasta 8 digitos" style="margin-left:35px;" {{formar.nro_doc}}
 
    <strong >Propietario:</strong>
    <input type="text" name="propietario" id="propietario" size="45"  {{formar.propietario}} 
  </p>
       </div>
       {% if tienecar %}
       <div id="habilitav">
       {% else %}
       <div id="habilitav" style="display:none">
       {% endif %}
          <h1>Datos del vehiculo</h1>
          <p>
           <strong>Marcas:</strong><strong>
             <select name="idmarca" id="idmarca"  style="width:160px;margin-left:14px;">
                    <option {{vehiculo.idmarca}}</option>
                    </option>
                </select>  </strong>       <input type="button" id="addmarcav" value="[Nueva Marca]"   title="Permite agregar una nueva Marca de Vehiculos"  style="font-size:11px;cursor:pointer;background:transparent;border:0" align="right" />
            <input type="text" name="nueva_marcav" id="nueva_marcav" autocomplete="off" size="22" style="display:none;" {{form.nueva_marcav}}
 
         
        </p>
        <p>
          <strong>Modelo:
            <input type="text" name="modelo" id="modelo" placeholder="ej:meriva" style="margin-left:14px;" {{vehiculo.modelo}}
            
            
          </input></strong>
        
         <strong style="color:red"> * </strong>   <strong>Tipo:
            <input type="text" name="tipov" id="tipov" placeholder="ej:sedan 4ptas."  style="margin-left:38px;" {{vehiculo.tipov}}
            
            
          </input></strong>
          <strong>Año:
            <input type="text" name="anio" id="anio" placeholder="ej:2014" size="11px" {{vehiculo.anio}}
            
            
          </input></strong>
        
           <strong>Dominio:
            <input type="text" name="dominio" id="dominio" placeholder="ej:AAH-113" {{vehiculo.dominio}}
            
            
          </input></strong>
          
         </p> 
         <p>
           <strong>N° Motor:
            <input type="text" name="nmotor" id="nmotor"  {{vehiculo.nmotor}}
            
            
          </input></strong>

           <strong>N° Chasis:
            <input type="text" name="nchasis" id="nchasis"  {{vehiculo.nchasis}}
            
            
          </input></strong>
          
         </p>
         <p><strong><u>Datos del propietario:</u></strong></p> 
         <p>
          <strong> DNI:
             <input type="text" name="nro_doc" id="nro_doc" size="8" {{vehiculo.nro_doc}}
            
            
          </input>
          </strong>
          <strong> Apellido y nombre:
                       <input type="text" name="propietario" id="propietario" size="40" {{vehiculo.propietario}}
            
              </input>
          </strong>
          </p>
      </div>



     </td>
    </tr>  
   <tr><td><hr></td></tr>
      <tr >
        <td >
                <strong style="color:red;"> * </strong><strong>Cantidad:</strong>
             
             
                <input type='text' name='cantidad' id='cantidad' size="4"  onkeypress="return isNumberKey1(event)" 
                style="margin-left:32px"{{form.cantidad}} 
          <strong style="color:red;margin-left:8px;" id="basic-modal3"> *     
                <select name="unidadmed" id="unidadmed" style="width:124px">
                    <option {{form.unidadmed}}</option>
                    </option>
                </select> 
                <!--
                <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png" width="18px" title="Agregar unidad medida">-->
              </strong>
        </td>
    </tr>
    
  </table>
  </td>


  </tr>
  </table>      
  <br>
    <h6>Caracteristicas generales de los Elementos relacionados al Hecho</h6>
   
      
         
          <textarea name='descripcion' id='descripcion' style="width: 99%;">{{elemento.descripcion}} </textarea>
  
  <p> 

        {%if tieneob %}
         <div align="right">
 {% if depe == user.userprofile.depe and not preventivo.fecha_cierre or "CENTRAL RADIO" in user.userprofile.depe.descripcion and not preventivo.fecha_cierre%}
               <input  class="new-aqua" type="submit" name = "button" id = "button" value="Guardar" 
               onclick="location.href='{% url 'amplia_ele' preventivo.id idamp %}';"/>
               {%endif%}
                 <a href="{% url 'amplia_ele' preventivo.id idamp %}" class="btn btn-succes"><label style="font-size:12px;text-align:center;">Limpiar</label></a> 
                <a href="{% url 'ver_ampliacion' preventivo.id idamp %}" class="btn btn-succes"><label style="font-size:11px;text-align:center;">Volver</label></a> 
            
           </div> 
        {%else%}   

            
           <div align="right">
             
              <input  class="new-aqua" type="submit" name = "button" id = "button" value="Guardar" /> 
                 
   
                <a href="{% url 'amplia_ele' preventivo.id idamp %}" class="btn btn-succes"><label style="font-size:11px;font-family: Georgia, 'Times New Roman', serif;text-align:center;">Limpiar</label></a> 
            
   
            
                  <a href="{% url 'ver_ampliacion' preventivo.id idamp%}" class="btn btn-success"><label style="font-size:11px;font-family: Georgia, 'Times New Roman', serif;text-align:center;">Volver</label></a> 
                    
           </div>  
     
      {%endif%}
            
     </p>

     <hr>
     {%if not fechaenvio%}

 
     <h1>Listado de elementos de la Ampliacion</h1> 

    <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
             
               <th >Id.</th>
               <th>Tipo</th>
               <th>Rubro</th>
               <th>Categoria</th>
               <th>Cantidad</th>
               <th>Fecha de Ampliacion</th>
              <th>Borrar</th>

            </tr>
        </thead>
      
             <tbody>
                 {% for elemento in listam %}
                  <tr  class="gradeC"> 

                    <td width="13%"><a href="{% url 'eleampli' hecho.id elemento.id idamp%}">{{ elemento.id }}</a></td>
                    <td width="25%">{{ elemento.tipo}}</td>
                    <td width="30%">{{ elemento.rubro }}</td>
                    <td width="30%">{{ elemento.categoria }}</td>
                    <td width="30%">{{ elemento.cantidad }}  {{ elemento.unidadmed }}</td>
                    {%if elemento.ampliacion%}
                             <td width="30%">{{elemento.ampliacion.fecha|date:"d/m/Y"}}</td>
                    {%else%}
                       <td>---</td>
                    {%endif%}
        {% if depe == user.userprofile.depe  and not fechaenvio or "CENTRAL RADIO" in user.userprofile.depe.descripcion and not fechaenvio%}
                           <td  width="2%"> <button type="submit" name="dele" id="dele" class="borrarde"
              value="{{elemento.id}}" onclick=(this.value) title="Permite borrar un elemento"/></button></td>
        {%else%}
          <td width="12%"><center><a href="#"><img src="{% static 'imagenes/preventivos/validatebox_warning.png' %}" style="border:0" title="" rel='tooltip' /></a></center></td>
                      {%endif%}          
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
      {%endif%}
    <br><br><hr>
     <h1 style="width:100%;margin-left:0px;">Listado de elementos del Preventivo : {{preventivo.nro}}/{{preventivo.anio}}  de la {{preventivo.dependencia}} - {{preventivo.dependencia.unidades_regionales}}</h1> 

   
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
             
               <th >Id.</th>
               <th>Tipo</th>
               <th>Rubro</th>
               <th>Categoria</th>
               <th>Cantidad</th>
              
            </tr>
        </thead>
      
             <tbody>
                 {% for elemento in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href="{% url 'eleampli' hecho.id elemento.id idamp%}">{{ elemento.id }}</a></td>
                    <td width="25%">{{ elemento.tipo}}</td>
                    <td width="30%">{{ elemento.rubro }}</td>
                    <td width="30%">{{ elemento.categoria }}</td>
                    <td width="30%">{{ elemento.cantidad }}  {{ elemento.unidadmed }}</td>

        
                      </td>          
           
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
  
  </form>
{% endblock %}
{% block contenido %}

 <form id="form" action="." method="post">{% csrf_token %} 
   <h1>Formulario de ABM de Rubros</h1>
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Datos inválidos : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
    <br>
      <div style="color: black"><label>Ingrese Rubro :
    <input type="textarea" name="descripcion" id="descripcion" value="{{categorias|upper}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Guardar" name="guardarubro" title="Grabar el Rubro" >
    </label> </div>  
 </form>
{% endblock %}
{% block contenidos %}
<form id="form" action="." method="post">{% csrf_token %} 

   <h1>Formulario de ABM de Categorias  segun el Rubro</h1>
  {% if errors %}
            
              {% for error in errors %}
                 
                  <p style="color: red;" > {{ error }} &nbsp;&nbsp;
                      
                       </p>
                       
               {% endfor %}
             
    {% endif %}  
   <br>
   
    <p><strong> Descripcion:</strong>
      <input type="text" name="descripcion" id="descripcion" value="{{descripcion|upper}}" autocomplete="off"/>
      
           <input class="btn btn-success" type="submit" value= "Guardar" name="guardacategoria" title="Grabar categoria" >
 
    </p>
    <p>
      
     <strong for="rubro" name="rubro" > Rubro  :</strong>
        <select name="rubro" id="rubro" class="combodoc"  tabindex="-1">
           <option {{form.rubro}}</option>
         </select>
 
    </p>  
  </form>
{%endblock%}  
{% block modificar%}
<form id="form" action="." method="post">{% csrf_token %} 
    <h1>Formulario de ABM de Unidades de Medidas universales</h1>
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Datos inválidos : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
    <br>
      <div style="color: black"><label>Ingrese Unidad Medida :
    <input type="textarea" name="descripcion" id="descripcion" value="{{unidadmed|upper}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Guardar" name="guardamedida" title="Grabar" >
    </label> </div>  
 </form>
{% endblock %} 