{% extends "base.html" %}

{% block main %}
<script>
  function abrirModal(){
    window.showModalDialog("http://www.policia.chubut.gov.ar:8000/preventivos/addbarrios/","","dialogWidth:450px;dialogHeight:300px;dialogTop:200;dialogLeft: 350;resizable:0");
  }
   function abrirModalc(){
    window.showModalDialog("http://www.policia.chubut.gov.ar:8000/preventivos/addcalles/","","dialogWidth:450px;dialogHeight:300px;dialogTop:200;dialogLeft: 350;resizable:0");
  }
  function abrirModalcr(){
    window.showModalDialog("http://www.policia.chubut.gov.ar:8000/preventivos/addciudades/","","dialogWidth:450px;dialogHeight:300px;dialogTop:200;dialogLeft: 350;resizable:0");
  }
</script>
<form id="form" action="." method="post" onsubmit="return validaPersonaInv()">{% csrf_token %} 


   <h1>Formulario de ABM de Personas</h1>

  {% if form.errors or dom.errors or errors %}
            
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                     {% if form.errors %}
                     <h1>Errores en los datos de la persona</h1>
                  <p style="color: red;" > {{ form.errors.as_text}}.- &nbsp;&nbsp;</p>
                  {% endif %}
                  {% if dom.errors %}
                     <h1>Errores en los datos del domicilio de la persona</h1>
                  <p style="color: red;" > {{ dom.errors.as_text}}.- &nbsp;&nbsp;</p>
                  {% endif %}
                   {% if errors %}
                      {% for error in errors %}
                      <h1>Error</h1>
                      <p style="color: red;" > {{ error}}.- &nbsp;&nbsp;</p>
                      {%endfor%}
                   {% endif %}
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </div>
              
             
    {% endif %}


   <input type="hidden" name="ids" id="ids" value="{{personas.id}}" autocomplete="off"/>
   <div id="informacion"><blockquote style="font-size:12px;font-family: Georgia, 'Times New Roman', serif;">
    <p style="text-align:right">
  <strong style="color:red;"><i> ( * ) Datos Obligatorios.-</i></strong></p>
        
        </blockquote>
        
  </div>
  {% if 'NO POSEE' in noposee %}
    <div style="width:98%;position:relative;left:5px;">
        <p style="color: #000;background-color: #ed9c28;border-color: #d58512;border-radius:3px;font-size:20px;font-style:oblique;font-variant:small-caps;font-weight:bold;" align="center">La persona Seleccionada, esta registrada con un DNI de Fantas&iacute;a.<br>Recuerde que mientras la persona este registrada de esta manera, no se vera reflejada en las estadisticas.</p>
        
        </div>
  
  {% endif %}
   <p>
        <strong style="color:red;"> * </strong> <strong>Apellidos:</strong>
        <input type="text" name="apellidos" id="apellidos" value="{{personas.apellidos}}" 
        style="margin-left:56px" autocomplete="off"/>
  
        <strong style="color:red;margin-left:16px"> * </strong><strong>Nombres:</strong>
        <input type="text" name="nombres" id="nombres" value="{{personas.nombres}}" autocomplete="off"/>
        <a href="/preventivos/persona/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" 
           style="margin-left:15px" title="Limpiar ingreso"></a>
        {% if personas in lista %}
          <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" 
         title="Actualiza los cambios">
        {%else%}
          <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" id="grabar" title="Grabar el registro actual">
        {%endif%}
   </p>
   <p><strong style="color:red;"> * </strong><strong>Tipo Documento:</strong>
      <select name="tipo_doc" id="tipo_doc" class="combodni"  tabindex="-1" style="margin-left:15px">
            <option {{form.tipo_doc}}</option>
        </select> 
 
         <strong style="color:red;margin-left:107px"> * </strong><strong>Nro.Documento:</strong>
        <input type="text" name ="nro_doc" id ="nro_doc" value="{{personas.nro_doc}}"  size="10" onkeypress="if($('#tipo_doc option:selected').text() == 'PAS'){return this}else{return isNumberKey(event,this)}" autocomplete="off"/>   
      <strong style="color:red;">{{form.nro_doc.errors}}</strong> 
       <strong style="color:red;"> * </strong><strong>Sexo : </strong>
       <select name="sexo_id" id="sexo_id" class="combolist"><option{{form.sexo_id}}</option></select>
    </p>
    <p><strong>Fecha Nacimiento:</strong>
      <input type="text" name="fecha_nac" id="fecha_nac" value="{{personas.fecha_nac|date:"d/m/Y"}}"
       placeholder="dd/mm/aaaa" /> 
      <input class="botoncalendar" button id="fnac" title="Fecha de Nacimiento"></button>
       <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_nac", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "fnac" // el id del botón que lanzará el calendario 
        }); 
      </script> 
      <strong>Estado Civil : </strong>
       <select name="estado_civil" id="estado_civil" class="combolist"><option{{form.estado_civil}}</option></select>

   
    </p>
     <p><strong>Ocupacion :</strong> 
       <select name="ocupacion" id="ocupacion" class="comboxs" style="margin-left:44px">
          <option{{form.ocupacion}}</option>
       </select>
       <strong style="margin-left:25px">Cuit:</strong>
       <input type="text" name="cuit" id="cuit" title="Ej.: 20345678904 sin puntos ni guiones" value="{{personas.cuit}}" 
       onkeypress="return isNumberKey1(event,this)">
       <strong>Celular:</strong>
      <input type="text" name="celular" id="celular" placeholder="Cod. Area+Numero" value="{{personas.celular}}" 
      onkeypress="return isNumberKey2(event,this)">
    </p>
    <p>  <strong>Pais de Nacimiento:</strong>
      <select name="pais_nac" id="pais" class="comboxs" tabindex="-1" >
        <option {{form.pais_nac}}</option></select>
        <strong>Ciudad de Nacimiento:</strong>
      {% if not form.ciudad_nac %}
          <select name="ciudad_nac" id="ciudades" style="width: 165px;" tabindex="-1">
          <option name="ciudades"></option>
          <option {{ciudad}}</option></select> </p>
      {% else %}
          <select name="ciudad_nac" id="ciudades" style="width: 165px;" tabindex="-1">
          <option name="ciudades"></option>
           <option {{form.ciudad_nac}}</option> </select>
      {% endif %}
   
    
    <p><strong>Pais de Residencia:</strong>
      <select name="pais_res" id="pais_res" class="comboxs" tabindex="-1"><option {{form.pais_res}} </select>
       <strong >Ciudad de Residencia :</strong>
      <!--id="basic-modalcr"-->
      {% if not form.nro_doc %}z
        <select name="ciudad_res" id="ciudades_r" class="comboxs" tabindex="-1">
         <option name="ciudades_r"></option>
         <option {{ciudad}}</option></select>
      {% else %}
   
        <select name="ciudad_res" id="ciudades_r" style="width: 165px;" tabindex="-1">
         <option name="ciudades_r"></option>
       <option {{form.ciudad_res}}</option></select>
         <a onclick="abrirModalcr();" href="#" ><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png"
         width="18px" title="Agregar Ciudad de Residencia"></a>
       <!-- <a onclick="." href="#" class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png"
         width="18px" title="Agregar Ciudad de Residencia"></a></strong>-->

      {% endif %}
    </p>
      <p>
       <strong>Apodo/Alia/s :</strong><input type="text" id="alias" name="alias" {{form.alias}}
      </p>
        <h6> Datos de los Padres</h6>
         <p>
  <strong>Hijo de :<strong>
    <input type="text" id="padre_apellidos" name="padre_apellidos" size="30" placeholder="Apellido Paterno" autocomplete="off" {{formpa.padre_apellidos}}

    <input type="text" id="padre_nombres" name="padre_nombres" size="40"   placeholder="Nombres del padre" autocomplete="off"  {{formpa.padre_nombres}}
   </p>
   <p>
     <strong>y de :<strong> &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" id="madre_apellidos" name="madre_apellidos" size="30" placeholder="Apellido Materno" autocomplete="off"
         {{formpa.madre_apellidos}}
    <input type="text" id="madre_nombres" name="madre_nombres" size="40" placeholder="Nombres de la madre" autocomplete="off"
     {{formpa.madre_nombres}}
 
   </p>
  
<h6>Domicilio de la persona</h6>
    <br>
      <p><strong>Barrio:</strong>
      <select name="barrio_codigo" id="barrio_codigo" style="width: 160px;">
          
            <option {{dom.barrio_codigo}}</option>
        </select> 
          <a onclick="abrirModal();" href="#" ><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png"
         width="18px" title="Agregar Barrios"></a>

         <strong>Calle:</strong>
        <select name ="calle" id ="calles" style="width: 160px;">   
          <option{{dom.calle}}</option>
        </select>
     <!--   <a onclick="abrirModalc();" href="#" ><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png"
         width="18px" title="Agregar Calles"></a>-->
       <strong>Altura: </strong>
       <input type="text" name="altura" id="altura" size="4" value="{{domicilios.altura}}" onkeypress="return isNumberKeyc(event,this)" autocomplete="off"/> 
       <strong>Interseccion:</strong>
        <select name ="entre" id ="entre" style="width: 160px;">   

          <option{{dom.entre}}</option>
        </select>
    </p>
    <p><strong>Lote:</strong>
        <input type="text" name="lote" id="lote" size="4" value="{{domicilios.lote}}" autocomplete="off" 
        onkeypress="return isNumberKeyc(event,this)"/> 
       <strong>Sector: </strong>
       <input type="text" name="sector" id="sector" size="4" value="{{domicilios.sector}}" autocomplete="off" /> 
       <strong>Manzana: </strong>
       <input type="text" name="manzana" id="manzana" size="4" value="{{domicilios.manzana}}" autocomplete="off" 
       onkeypress="return isNumberKeyc(event,this)"/> 
       <strong>Piso:</strong>
      <input type="text" name="piso" id="piso" size="4" value="{{domicilios.piso}}"
       onkeypress="return isNumberKeyc(event,this)" autocomplete="off" /> 
      <strong>Dto.:</strong>
      <input type="text" name="departamento" size="4" id="departamento" value="{{domicilios.departamento}}" autocomplete="off"/> 
    </p>
    <p><strong>Fecha desde:</strong>
     <input type="text" size="15" name="fecha_desde" id="fecha_desde" value="{{domicilios.fecha_desde|date:"d/m/Y"}}" placeholder="dd/mm/aaaa" autocomplete="off" /> 
       <input class="botoncalendar" button id="fdesde" title="Fecha Inicial"></button>
    
      <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_desde", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "fdesde" // el id del botón que lanzará el calendario 
        }); 
      </script> 
 
         <strong>Fecha hasta:</strong>
       <input type="text" size="15" name="fecha_hasta" id="fecha_hasta" value="{{domicilios.fecha_hasta|date:"d/m/Y"}}" placeholder="dd/mm/aaaa" autocomplete="off"/> 
         <input class="botoncalendar" button id="fhasta" title="Fecha Final"></button>
        <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_hasta", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "fhasta" // el id del botón que lanzará el calendario 
        }); 
      </script> 
       <strong>Fecha Actualizacion: </strong>
       <input type="text" size="15" name="fecha_actualizacion" id="fecha_actualizacion" value="{{domicilios.fecha_actualizacion|date:"d/m/Y"}}" placeholder="dd/mm/aaaa" autocomplete="off"/> 
        <input class="botoncalendar" button id="factualizacion" title="Fecha Actualizada"></button>
      <!-- script que define y configura el calendario--> 
      <script type="text/javascript"> 
        Calendar.setup({ 
          inputField : "fecha_actualizacion", // id del campo de texto 
          ifFormat : "%d/%m/%Y", // formato de la fecha que se escriba en el campo de texto 
          button : "factualizacion" // el id del botón que lanzará el calendario 
        }); 
      </script> 
    </p>
    <p><strong>Tipo de domicilio:</strong>
      <select name="tipos_domicilio" id="tipos_domicilio" class="combolist">
            <option {{dom.tipos_domicilio}}</option>
        </select> 
 
         <strong>Zona:</strong>
        <select name ="ref_zona" id ="ref_zona" class="combolist">   
          <option{{dom.ref_zona}}</option>
        </select>
    </p>
    <br>
      <br>

    <p>
 
      <b><h6>Listado de personas</h6></b>
    </p>  
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th >Items</th>
               <th>Documento</th>
               <th>Apellido</th>
               <th>Nombre</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href='/preventivos/persona/ver/{{ listas.id }}/'>{{ listas.id }}</a></td>
                    <td width="25%">{{ listas.tipo_doc}}&nbsp{{listas.nro_doc}}</td>
                    <td width="30%">{{ listas.apellidos }}</td>
                    <td width="30%">{{ listas.nombres }}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
     
    </form> 
      
{% endblock %}
{%block ciudadres%}
<form  action="" role="form"  method="post">{% csrf_token %} 

   <h1>Formulario de ABM de Ciudades/Localidades</h1>
   {% if errors %}
            
              {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
    <br>

    <p><strong for="pais" name="pais"> Seleccione Pais  :
     <select name="pais" id="pais" class="combolist"  size="1"/>
      <option name="pais">Seleccione Pais </option>&nbsp;
       <option {{formpr.pais}}</option>
     </select></strong></p>
    
      
     <input type="hidden" name="ids" id="ids" value="{{ciudad.id}}" autocomplete="off"/>
    
     <p><label for="descripcion" name="descripcion">Ciudad Residencia : 
    <input type="text" name="descripcion" id="descripcion" value="{{ciudad.descripcion}}" autocomplete="off"/>
    <a href="/preventivos/ciudades/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar ingreso"></a>   
    
     {% if ciudad in lista %}
      <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" title="Actualiza los cambios">
     <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" title="Elimina ciudad">

    {%else%}
     <input class="btn btn-success" type="submit" value= "Grabar" name="grabarciu" title="Grabar ciudad" >
    {%endif%}</label></p>
    
  <!--input type="text" name="pais" id="pais" value="{{ciudades.pais}}" disabled="disabled"/-->
    </label>
    </p>  
   
    </form> 
      
{%endblock%}
