{% extends "base.html" %}
{% block main %}

<form id="form" action="." method="post">{% csrf_token %} 


   <h1>Formulario de Alta de Preventivo  -  Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</h1>
   <br>
    <table>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
          {{ wizard.form.management_form }}
          {% for form in wizard.form.forms %}
              {{ form }}
          {% endfor %}
      {% else %}
         <input id="id_preventivo_wizard-current_step" name="preventivo_wizard-current_step" type="hidden" value="preventor_actuante" />
          <p>
            <strong>Actuante:</strong>
            <select id="id_preventor_actuante-actuante" name="preventor_actuante-actuante">
              <option {{wizard.form.actuante}}</option>
            </select>
          </p>
          <p>
            <strong>Preventor:</strong>
            <select id="id_preventor_actuante-preventor" name="preventor_actuante-preventor">
              <option {{wizard.form.preventor}}</option>
            </select>
          </p>
          
         
          
      {% endif %}
    </table>
    
    <br>
    <p>
      {% if wizard.steps.prev %}
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Primer paso</button>
      <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Paso anterior</button>
    {% endif %}
      <input type="submit" value="Siguiente"/></p>
     
    </form> 
      
{% endblock %}
{% block footer%}
<div class="blue align.left">{% if user.is_authenticated %}
            {%if user.is_staff or not user.is_staff%}Usuario &nbsp;{% endif %} {{ state }} : &nbsp;&nbsp;&nbsp;&nbsp;{{ user.username }}&nbsp;&nbsp; {{destino}}
            {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;<a class="blue align-right"><strong>Policia de Chubut - Div. Sistemas Informaticos - &copy; 2013</strong> &nbsp;&nbsp;</a>  </div> 
 {% endblock %}   