{% extends "base.html" %}

{% block main %}

   <form action="." method="post">{% csrf_token %} 

   <h1>Formulario de Consultas y Reportes Estadísticos</h1>
 
         <br>
        <section style="margin: 0px;">
          <fieldset style="border-radius: 5px; padding: 5px; min-height:60px;">
                <legend><b> Consultar por : </b> </legend>
                    <br>
                   <strong style="margin-left:10px;">DEPENDENCIAS POLICIALES</strong><input type="checkbox" id = "depesi" name="depesi" />
                   <strong style="margin-left:30px;">CIUDADES</strong><input type="checkbox" id = "cius" name="cius" />
     
          </fieldset>
      
          <br>
        <div id="combodepe" style="display:none;">
        <p>
         <strong>UNIDADES REGIONALES :</strong>
            <select name = "ureg" id="ureg" style="width:250px;">
              <option name="ureg" {{form.ureg}}</option>
            </select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
             
          <strong> DEPENDENCIAS : </strong>
            <select name = "depe" id="depe"  style="width:250px;" >
              <option name="depe" {{form.depe}}</option>
            </select> </p><br>
         
          
      </div>
      <div id="combociu" name="combociu" style="display:none;">
        <p>
         <strong>SELECCIONE CIUDAD :</strong>
            <select name = "ciudades" id="ciudades" style="width:250px;;margin-left:17px;">
              <option name="ciudades" {{form.ciudades}} </option>
            </select> </p> <br>
      
           
      </div>
      <div id="combofechas" style="display:none;">
        <p><input type="text" id="buscartex" name="buscartex"></p>
        <p>
 <strong> SELECCIONE MES : </strong>
           <select name = "mes" id="mes"  style="width:250px;margin-left:40px;" >
             {% for m in month_choices %} 
                 <option name="mes" value="{{ m }}" >{{ m|upper}}</option> 
             {% endfor %}
           </select>&nbsp;&nbsp;&nbsp;
         <strong> SELECCIONE AÑO : </strong>
           <select name = "anios" id="anios"  style="width:250px;" >
             {% for ye in anios %} 
                 <option name="anios" value="{{ye}}" >{{ye}}</option> 
             {% endfor %}
           </select></p><br>
         <strong> TIPOS DE DELITOS :</strong>
        <select id="tipodel" name="tipodel" style="width:250px;;margin-left:40px;">
        <option name="tipodel" {{tiposdelitos.tipo_delito}}  </option>
        </select>     &nbsp;&nbsp;
  
           
       <strong> DELITOS :</strong>
        <select id="delitoe" name="delitoe" style="width:250px;;margin-left:62px;">
        <option name="delitoe" {{tiposdelitos.descripcion}}  </option>
        </select> &nbsp;&nbsp;&nbsp;&nbsp;
   
          <input class="new-aqua" type="submit" id="ver" name="ver" value="Visualizar"/>
<p><br><hr><br></p>

         </div>


     

      </form>
{% endblock %}
