{% extends "base.html" %}
{% block main %}

 <form id="form" action="." method="post">{% csrf_token %} 
   <h1>Formulario de ABM de Sub-Tipos de Armas de Fuego</h1>
   {% if errors %}
            
              {% for error in errors %}
                  <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > Importante : {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
    <p><label for="descripcion" name="descripcion">Descripcion : 
    <input type="text" name="descripcion" id="descripcion" value="{{subtiposa.descripcion}}" 
    autocomplete="off" style="margin-left:52px;"/>
    <a href="/preventivos/subarms/" name="cancelar"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/reset.png" title="Limpiar ingreso" ></a>   
    
     {% if subtiposa in lista %}
      <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" title="Actualiza los cambios">
     <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" title="Elimina subtipo">

    {%else%}
     <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" title="Grabar Sub-tipo de armas de fuego" >
    {%endif%}</label></p>
    <p>
     <label for="tipo" name="tipo" id="basic-modal"> Tipo/Armas de Fuego :
    <select name="tipo" id="tipo" style="width:162px;margin-left:4px;" tabindex="-1">
      <option name="tipo">Seleccione Tipo de Armas de Fuego</option>
      <option selected="selected"{{subtiposa.tipo}}</option>
      <option {{forms.tipo}}</option>
    </select>
     
    <a onclick="" href="." class="basic" name="basic"><img id="imagen" src="{{STATIC_URL}}imagenes/preventivos/agregar.png" title="Agregar Tipos de Armas de Fuego">
    </a>
    </label>
    </p>  
    <br>
      <br>
      <h1>LISTADO GENERAL DE SUB-TIPOS DE ARMAS DE FUEGO</h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th >Items</th>
               <th>Sub-Tipos</th>
               <th>Tipos</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href='/preventivos/subarms/{{ listas.id }}/'>{{ listas.id }}</a></td>
                    <td width="30%">{{ listas.descripcion}}</td>
                     <td width="30%">{{ listas.tipo}}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>

</form> 
{% endblock %}
{% block contenido %}

 <form id="form" action="/preventivos/newtypearms/" method="post">{% csrf_token %} 
  
     {% if errors %}
            
              {% for error in errors %}
                  <p style="color: red;"> Datos inválidos : {{ error }}</p>
               {% endfor %}
             
    {% endif %}  
      <div style="color: black"><label>Ingrese Tipo de Armas :
    <input type="textarea" name="descripcion" id="descripcion" value="{{subtiposa}}" autocomplete="off"/>
    <input class="new-aqua" type="submit" value= "Grabar" name="grabar" title="Grabar el Sub-tipo" >
    </label> </div>  
 </form>
{% endblock %}
