{% extends "base.html" %}
{% load static %}
{% block main %}
<form id="form" action="." method="post">{% csrf_token %} 

   <h1>Formulario de ABM de Tipos de delitos</h1>
   {% if errors %}
            
              {% for error in errors %}
                    <div id="fade" class="overlay"  style="display: block;"></div>
                     <div id="light" class="modals" style="display: block;">
                  <p style="color: red;" > {{ error }}.- &nbsp;&nbsp;
                        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"><input class="botoncerrar"  type="text" value= "CERRAR"></a>
                       </p>
                       </div>
               {% endfor %}
             
    {% endif %}  
   <br>
    <p><label for="descripcion" name="descripcion"> Descripcion:
      <input type="text" name="descripcion" id="descripcion" value="{{tdel.descripcion}}" autocomplete="off"/>
      <a href="/preventivos/typedelitos/" name="cancelar"><img id="imagen" src="{% static 'imagenes/preventivos/reset.png' %}" title="Limpiar ingreso"></a>
      {% if tdel in lista %}
          <input class="btn btn-success" type="submit" value= "Actualizar" name="modifica" title="Actualiza los cambios">
          <input class="btn btn-success" type="submit" value= "Borrar" name="borrar" title="Elimina la unidad">
        {%else%}
          <input class="btn btn-success" type="submit" value= "Grabar" name="grabar" title="Grabar la unidad" >
        {%endif%}
      </label> 
    </p>
    <br>
      <br>
       <h1>listado general de Tipos de Delitos</h1>
      <div id="demo">
    <table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%">
        <thead>
            <tr class="gradeC">
               <th >Items</th>
               <th>Tipo Delito</th>
            </tr>
        </thead>
      
             <tbody>
                 {% for listas in lista %}
                  <tr  class="gradeC"> 
                    <td width="13%"><a href='/preventivos/typedelitos/{{ listas.id }}/'>{{ listas.id }}</a></td>
                    <td width="25%">{{ listas.descripcion}}</td>
                  </a>
                      </td>
                  </tr>
                 {% endfor %}
            </tbody>
           </table>
  
       </div>
     
    </form> 
      
{% endblock %}
