
<div class="row">
  <div class="col-md-12">
    <div class="alert alert-dismissable" role="alert" style="display:none" id="mensajes">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        ×
      </button>
      <div id="mensajesBody">

      </div>
    </div>
  </div>
</div>
<div class="" id="formulario" >
    <div class="row-fluid">
      <div class="col-md-8 form-group form-group-lg">
            <div class="input-group">
              <span class="input-group-addon">Buscar</span>
              <input type="text" id="buscar" class="form-control" value="" placeholder="Nombre, Apellido o Documento">
              <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
              <div id="error" style="display:none">
                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                <span id="inputError" class="sr-only">(error)</span>
              </div>
            </div>
            <input type="hidden" id="id_usuario" value="">
        </div>

    </div>

    <div class="row-fluid" id="detalle" style="display:none">
      <div class="row">
        <div class="col-md-4">
          <p id="nombre">

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 ">

          <p id="usuario">

          </p>
        </div>
        <div class="col-md-4 ">

          <p id="email">

          </p>
          <div id="modificarMail"  style="display:none">
            <form class="" id="formMail" action="/preventivos/user/modificarMail/" method="post">{%csrf_token%}
              <div class="col-md-9">
                  <input type="text" class="form-control" name="mailChange" value="" id="mailChange">
              </div>
              <div class="col-md-3">
                <button type="button" class="btn btn-xs btn-prymary"  id ="sbmtMail" name="button"><i class="glyphicon glyphicon-ok"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row" id="divBtnDestino">
        <div class="col-md-2">
          <button type="button"  class="btn btn-xs btn-primary pull-left" id="btnDestino">Destino/Funcion</button>
        </div>
        <div class="col-md-2" id="divBtnReenvio">
          <button type="button"  class="btn btn-xs btn-success" id="btnReenvio" data-loading-text="Trabajando en eso...">Reenvio usuario</button>
        </div>
        <div class="col-md-2" id="divBtnMail">
          <button type="button"  class="btn btn-xs btn-warning" id="btnMail">Moficar mail</button>
        </div>
        <div class="col-md-2" id="divBtnActivar">
          <button type="button"  class="btn btn-xs btn-danger" id="btnActivar" data-loading-text="Trabajando en eso...">Activar</button>
        </div>
        <div class="col-md-2">
          <button type="button" name="btnRoles" id="btnRoles" class="btn btn-xs btn-default">Roles</button>
        </div>
      </div>

    </div>
    <div id="success" style="display:none">

    </div>
</div>



<script type="text/javascript">
  $("#btnRoles").click(function(event){
    var usuario = $("#id_usuario").val();
    var url = "/preventivos/user/roles/"+usuario+"/";
    $.get(url,function(data){
      $("#success").empty().append(data).show("slow");
    });
  });
  $("#btnActivar").click(function(event){
    $(this).button('loading');
    var usuario = $("#id_usuario").val();
    var url = "/preventivos/user/activar/"+usuario+"/";
    $.get(url,function(data){

    })
    .done(function(data){
      $("#success").empty().append(data).show();
      $("#divBtnActivar").hide("slow");
    })
    .fail(function(){
      $("#btnActivar").button('reset');
    })
  });
  $("#btnReenvio").click(function(event){
    $(this).button('loading');
    var usuario = $("#id_usuario").val();
    var url = "/preventivos/user/reenviar_mail/"+usuario+"/";
    $.get(url,function(data){

    })
    .done(function(data){
      $("#success").empty().append(data).show("slow");
    })
    .fail(function(){
      $("#success").empty().append("<h4>No se pudo realizar la operacion</h4>").show("slow");

    })
    .always(function(){
      $("#btnReenvio").button('reset');
    })
  });
  $("#btnMail").click(function(event){
    $("#sbmtMail").css("text-align","left")
    $("#email").hide("slow");
    $("#modificarMail").show("slow");
  });
  $("#sbmtMail").click(function(event){
    var form = $("#formMail");
    $.ajax({
      type:form.attr('method'),
      url:form.attr('action'),
      data:form.serialize(),
      success:function(data){
        $("#success").empty().append(data).show();
        var email = $("#mailChange").val();
        $("#email").empty().append("<strong ><i class='glyphicon glyphicon-envelope'></i> Email:</strong>"+email);
        $("#email").show("slow");
        $("#modificarMail").hide("slow");
      },
      error:function(jqXHR, textStatus, msg){
        $("#success").empty().append(jqXHR.responseText).show();

      }
    });
  });
  $("#btnDestino").click(function(event){
    var usuario = $("#id_usuario").val();
    var url = "/preventivos/user/edit/destino/"+usuario+"/";
    $.get(url,function(data){

    })
    .done(function(data){
      $("#success").empty().append(data).show("slow");
    })
  });
  $("#id_grupos").change(function(){

    var arr = $(this).val();
    if(jQuery.inArray('2',arr) >= 0 || jQuery.inArray('7',arr) >= 0 ){
      $("#funcion").show("slow");
    }else{
      $("#funcion").hide("slow");
    }
  });

  function buscar(usuario){

      var url = '/preventivos/buscar_usuario/'+usuario+'/';
      $.get(url,function(data){

      })
      .done(function(data){
        var activo = data[0]["fields"]["is_active"];
        $("#usuario").empty().append("<strong><i class='glyphicon glyphicon-user'></i> Usuario: </strong> "+data[0]["fields"]["username"]);
        $("#email").empty().append("<strong ><i class='glyphicon glyphicon-envelope'></i> Email:</strong>"+data[0]["fields"]["email"]);
        $("#nombre").empty().append("<strong>Nombre y apellido:</strong>"+data[0]["fields"]["last_name"]+', '+data[0]["fields"]["first_name"]);
        $("#mailChange").val(data[0]["fields"]["email"]);
        var action = "/preventivos/user/modificar_mail/"+data[0]["pk"]+"/";
        $("#formMail").attr("action",action);
        if(!activo){
          $("#divBtnActivar").show();
        }else{
          $("#divBtnActivar").hide();
        }
        $("#detalle").show("slow");
      });

  }

  $("#buscar").autocomplete({
    source: "/preventivos/usuarios_ajax/",
    minLength: 2,
    select:function (event,ui) {
      $("#id_usuario").val(ui.item.id);
      $("#success").empty().hide("slow");
      buscar($("#id_usuario").val());

    }
  });


  $("#id_lugar_trabajo").autocomplete({
    source: "/preventivos/dependencias_ajax/",
    minLength: 2,
    select:function (event,ui) {
      $("#id_lugar_trabajo_id").val(ui.item.id);

    }
  });
  $("#id_jerarquia").autocomplete({
    source: "/preventivos/jerarquias_ajax/",
    minLength: 2,
    select:function (event,ui) {
      $("#id_jerarquia_id").val(ui.item.id);

    }
  });




</script>
