<div class="row">
  <div class="form-inline">
    <div class="form-group form-group-lg">
        <label class="sr-only" for="documuento">DNI</label>
        <div class="input-group">
          <div class="input-group-addon">DNI</div>
          <input type="text" id="documento" value="" onkeyup="javascript:format(this);" class="form-control" aria-describedby="inputError">
          <div id="error" style="display:none">
            <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
            <span id="inputError" class="sr-only">(error)</span>
          </div>
        </div>

    </div>
    <button type="button" id="verificar" class="btn btn-xs btn-danger" data-loading-text="Verificando...">Verificar</button>
  </div>

</div>
<script type="text/javascript">
  $("#verificar").click(function(event){
    var dni = $("#documento").val();
    $("#verificar").button('loading');
    if(!dni || dni.length < 7){
      $("#documento").parent().addClass('has-error has-feedback');
        $("#error").show();
    }else{
      $("#documento").parent().removeClass('has-error');
    }
    $("#verificar").button('reset');
  });
  $("#documento").keypress(function(event){
    $("#error").hide();
  });
</script>
