/* top elements */
* { margin: 0;	padding: 0; }

body {
	margin: 0; padding: 0;
	font: 70%/1.5 DroidSansMono;
	color: #333; 
      	background: url(../imagenes/back.png) repeat;	
}

/* links */
a {
	color: #003366;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #CC0001; 
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: DroidSansMono;
	font-weight: bold;
	color: #333;
}
h1 {
	font-size: 120%;
	letter-spacing: .5px;
}
h2 {
	font-size: 115%;	
	text-transform: uppercase; 		
}
h3 {
	font-size: 115%;
	color: #003366;		
}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p {
	padding: 0;		
	margin: 10px;
}

ul, ol {
	margin: 10px 10px;
	padding: 0 10px;
}

code {
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'DroidSansMono', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #7CA0C7;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

blockquote {
	margin: 10px;
 	padding: 0 0 0 32px;  	
  	background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 4px solid #7CA0C7; 
	font-weight: bold;  
}

/* start - table */
table {
	border-collapse: collapse;
	border: 0px solid #f2f2f2; 
	margin-top: 5px;		
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
	text-align: left;			
	border-width: 1px;
  	border-style: solid;
}
th {
	color: black;
	background: #7CA0C7;
    border-color: #EFEFEF;
	padding: .8em 1em;		
}
td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}	
/* end - table */

/* form elements */
form {
	/* margin: 10px; */ 
	padding: 0 5px;
	border: 0px solid #f2f2f2; 
	width: 100%;
	/* background-color: #FAFAFA; */ 
}

label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}

input {
	padding: 2px;
	border: 1px solid #eee;
	font: normal 1em Verdana, sans-serif;
	color: #777;
}

textarea {
	width: 400px;
	padding: 2px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 100px;
	display: block;
	color: #777;
}

input.button { 
	margin: 0; 
	font: normal 12px Arial, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #417690;
}

input.strong { 
	font: bolder 12px Arial, Sans-serif; 
}

/* search form */
form.search {
	position: absolute;
	top: 5px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}

form.search input.textbox { 
	margin: 0; 
	width: 200px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 
}

form.search input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	font-family: Arial, Sans-serif; 
	border: 1px solid #CCC; 
	background: #FFFFFF url(../imagenes/headerbg.gif) repeat-x bottom left; 
	padding: 1px; 
	font-weight: bold; 
	height: 23px;
	color: #333;
	width: 70px;
}

/**********************************
  LAYOUT 
***********************************/

.clr{
	clear: both;
}
#wrap {
	margin: 0 auto; 
		
	width:95%;
}

/* header */
#header {
	margin-top: 0px;
	background: url(../imagenes/bg1.gif) repeat-x;
    border-bottom: 1px solid rgb(0, 0, 0);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(0, 0, 0);
    height: 149px;
    width: 100%;
  
    position: relative;
	margin: 0; padding: 0;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
}

}
#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 3px; bottom: 7px;
	font: bold 1.2em DroidSansMono;	
	color: blue;	

}

#header-logo {
	position: relative;
	clear: both;
	height: 10px; 
	margin: 0; padding: 0;	
}
#header-logo #logo {
	position: absolute;
	top: 15px; left: 2%;
	font: bold 28px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}
#header-logo #logo1 {
	position: absolute;
	top: 15px; left: 20%;
	font: bold 16px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: 2px;
	color: #000;
}
#header-logo #logo3 {
	position: absolute;
	top: 55px; left: 22%;
	font: bold 28px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}
#header-logo #logo2 {
	position: absolute;
	top: 15px; left: 83%;
	font: bold 22px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}
/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:16px ; bottom: 0px;
  font-family: 'DroidSansMono';
   
    src: url('../fonts/DroidSansMono.ttf') format('truetype'),
 
    font-weight: normal;
    font-style: normal;
	font: bold 10px ;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(../imagenes/cabmenu2.gif) no-repeat left top;
   margin-bottom: -2px;
   margin-left: 1px;
   border-radius: 4px;
   text-decoration:none;
}
#header a span {
   display: inline-block;
   margin-left: 0px;
   border-radius: 4px;
   background: url(../imagenes/cabmenu1.gif) no-repeat right top;
   padding:2px 13px 2px 13px;
   color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -40px;
     color:black;
}
#header a:hover span {
   background-position:65% -40px;
     color:black;
}
#header .current a {
   background-position:0% -40px;
     color:black;
}
#header .current a span {
   background-position:65% -40px;
     color:black;
}

/* main column */
#main {
	float: right;
	margin-right: -4;
	padding: 0;
	min-height: 440px;
	width: 80%;
}
#main h1 {
	margin: 3px 0 2px 2px;
	padding: 2px 0 2px 12px; 
	font-size: 90%;
	color: #000;
	text-transform: uppercase; 
	background: #7CA0C7 url(../imagenes/h1-bg.gif) repeat-x scroll left top;	
	letter-spacing: .5px;
}

/* sidebar */
#sidebar {
	float: left;
	width: 0%;
	margin: 2px 0; padding: 0; 
	background-color: #FFFFFF; 	
}
#sidebar h1 {
	margin: 10px 0 0 0; 
	padding: 4px 0 4px 8px; 
	font: bold 105% Arial, Sans-Serif;
	color: #FFF;
	text-transform: uppercase; 
	background: #333; 
	letter-spacing: 1px;	
}
#sidebar .left-box {
	border: 1px solid #EBEBEB;
	margin: 2 0 5px 0;	
	background: #FFF;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;		
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #f2f2f2; 
	background: url(../imagenes/bullet.gif) no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.sidemenu a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

#sidebar ul.login {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; 
	padding: 0;
	text-decoration: none;		
}
#sidebar ul.login li { 	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.login a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

/* footer */
.footer { 
	clear: both; 	
	border-top: 1px solid #f2f2f2;
	background: #FFF url(../imagenes/table.gif) repeat-x;
	padding: 2px 0 5px 0; 
	text-align: right;  
	line-height: 1.5em;	
	font-size: 95%;
}
.footer a { 
	text-decoration: none; 
	font-weight: bold;		
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* display and additional classes  */
.clear {	clear: both; }
.blue   { color: black; }
.blanco   { color: white; }
.comments { 
	margin: 20px 10px 5px 10px; 
	padding: 3px 0;
	border-bottom: 1px dashed #EFF0F1; 	
	border-top: 1px dashed #EFF0F1;	
}
/* Accordion Menu powered by www.menucool.com */

/* ##### Top level items #####*/
#acdnmenu 
{
    /* Note about height: 
    Set "height:auto;" if flexible height is required. 
    A fixed height is prefered as content below the menu won't be pulled down/up when the menu is expanding/collapsing. */
    height: 300px;
    width: 200px;
}


#acdnmenu ul.top
{
	padding-left:0;
    background:#FFF;
    border:1px solid #D8E2F3;
}

#acdnmenu div.heading, #acdnmenu a.link
{
    padding:8px; padding-left:24px;
    text-align:left;
    font:normal 11px DroidSansMono;
    color:#000; 
    background:#E8FFF8 url(../imagenes/bg2.gif) repeat-x 0 0;
    text-decoration:none;
    outline:none;
}

#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link
{
    color:#000;
    font-weight:normal;
    text-decoration:none;  
    background-position:0 -64px;
}

/*Top level link without children*/
#acdnmenu a.current, #acdnmenu a.current:hover
{
    color:#336699;
    text-decoration:none;   
}

/* arrow image for the top headings */
#acdnmenu div.arrowImage {
    width:12px;
    height:12px;
    top:9px;
    left:4px; /* Changing it to "right:8px;" will position the arrow image to the right */
    background-image:url(arrows.gif);
    background-position:0 0;
}

#acdnmenu div.current div.arrowImage {
    background-position:0 -12px;
}

#acdnmenu li.separator
{
    border-top:1px solid #D8E2F3;
    border-bottom:none; 
}


/* ##### Sub level items #####*/
#acdnmenu ul.sub
{
	padding-left:14px; /*This determines the hierarchical offset*/ 
}

#acdnmenu ul.sub div.heading
{
    text-align:left;
    font:normal 11px DroidSansMono;
    padding:5px; padding-left:15px;
    color:#000;
    background:none; 
}
#acdnmenu ul.sub div.heading a
{
    color:#000;
}

#acdnmenu ul.sub div.current
{
    color:#000;
    background:none; 
}

#acdnmenu ul.sub a.link
{
    font:normal 11px DroidSansMono;
    color:#000;
    padding:5px; padding-left:15px;
    text-decoration:none;
    background:none; 
}

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{
    color:#000;
    text-decoration:underline;
    background:none; 
}


#acdnmenu ul.sub div.arrowImage {
    width:12px;
    height:12px;
    top:6px;
    left:4px;
    background-image:url(arrows.gif);
    background-position:0 -24px;
}
#acdnmenu ul.sub div.current div.arrowImage {
    background-position:0 -36px;
}



/* ##### Followings usually don't need modification ###### */
/*Hack the font-size:0 bug for IE6 */
#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:12px; line-height:16px;}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

/*Hack for IE6-7*/
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;/*!*/
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}

#container {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);

}
.container_16 {
    margin-left: auto;
        margin-left-value: auto;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
    margin-right: auto;
        margin-right-value: auto;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    width: 80%;
}
#contentr {
    background: none repeat scroll 0% 0% rgb(227, 227, 227);
        background-color: rgb(255, 255,255);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    padding-top: 0px;
    padding-bottom: 0px;
}
.clearfix {
}
