{% extends "auth.html" %}
{% load i18n %}
{% block sidebars %}


{% block title %}<p style="color: blue;font-size:14px;">{% trans 'Cambio de Contraseña' %}{% endblock %}</p>



{% if validlink %}


<p >{% trans "Por favor ingrese su nueva contraseña dos veces para verificar que la escribio correctamente" %}</p>

<form action="" method="post">{% csrf_token %}

	   <p>
            <span  class="error">Contraseña puede contener minimo 6 caracteres</span>
        </p>
         <div class="password-container">
	         {{ form.new_password1.errors }}
         	 <p>
                <label>
                     Nueva Password :</label>
                <input class="strong-password" type="password" {{ form.new_password1 }}</p>
            </p>
          	{{ form.new_password2.errors }}
            <p>
                <label>
                    Confirme Password:</label>
                <input class="strong-password" type="password" {{ form.new_password2 }}</p>
            </p>
			
			
                <input class="submit-button locked" type="submit" value= "{% trans 'Aceptar' %}" name="aceptar">
            </p>
            <p>
                <span  class="errorpass">La Contraseña debe tener seguridad fuerte</span>
            </p>
            <div class="strength-indicator">
                <div class="meter">
                </div>
                Una contraseña de seguridad Fuerte contiene 
                entre 6 y 12 caracteres.
                No incluya palabras comunes ni nombres.
                Combine letras mayusculas, minusculas,
                numeros y simbolos(Ej: @,#,%,$,&).-
            </div>
        </div>
</form>

{% else %}


<p>{% trans "El link de cambio de contraseña es invalido, porque posiblemente ya haya sido utilizado. Por favor solicite un nuevo cambio de Contraseña" %}</p>

{% endif %}


{% endblock %}