{% extends "auth.html" %}
{% load i18n %}
{% block sidebar %}


{% block title %}{% trans 'Cambio de Contraseña' %}{% endblock %}

{% block content %}

{% if validlink %}


<p>{% trans "Por favor ingrese su nueva contraseña dos veces para verificar que la escribio correctamente" %}</p>

<form action="" method="post">{% csrf_token %}
{{ form.new_password1.errors }}
<p class="aligned wide"><label for="id_new_password1">{% trans 'Nueva contraseña:' %}</label>
	<input type="password" style="color:black;width:60;font-size:14px;height:25px;"{{ form.new_password1 }}</p>
{{ form.new_password2.errors }}
<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirme contraseña:' %}</label>
	<input type="password" style="color:black;width:60;font-size:14px;height:25px;"{{ form.new_password2 }}</p>
<p><input class="new-aqua1"type="submit" value="{% trans 'Aceptar' %}" /></p>
</form>

{% else %}


<p>{% trans "El link de cambio de contraseña es invalido, porque posiblemente ya haya sido utilizado. Por favor solicite un nuevo cambio de Contraseña" %}</p>

{% endif %}

{% endblock %}
{% endblock %}