/* CSS */

.DynarchCalendar1 {
  border: 1px solid #aaa;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font: 10px "lucida grande",tahoma,verdana,sans-serif;
  line-height: 12px;
  position: relative;
  cursor: default;
}

.DynarchCalendar1 table {
  font: 9px "lucida grande",tahoma,verdana,sans-serif;
  margin-top: 0px;
  line-height: 0px;
}

.DynarchCalendar1-topBar {
  border: 1px solid #aaa;
  padding: 0px 0 0 0;
}

table.DynarchCalendar1-titleCont {
  font-size: 95%; font-weight: bold;
  color: #444;
  border: hidden;
  margin-left: 30%;
  z-index: 9;
  position: relative;
  margin-top: -6px;
  background-color: green;
  text-align: center
}

.DynarchCalendar1-title div {
  border: hidden;
  padding: 10px 20px;
  color: black;
  background-image: url("../../imagenes/preventivos/drop-down.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.DynarchCalendar1-hover-title div {
  border: hidden;
  padding: 10px 20px;
  color: white;
  background-image: url("../../imagenes/preventivos/drop-down.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.DynarchCalendar1-pressed-title div {
  border: hidden;
  padding: 10px 20px;
  color: white;
  background-image: url("../../imagenes/preventivos/drop-up.gif");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}



.DynarchCalendar1-bottomBar {
  border:hidden;
  padding: 2px;
  position: relative;
  text-align: center;
}

.DynarchCalendar1-bottomBar-today {
    border: hidden;
  padding: 8px 15px;
}

.DynarchCalendar1-hover-bottomBar-today {
  border: hidden;
  background: #fff;
  padding: 8px 14px;
}
.DynarchCalendar1-pressed-bottomBar-today {
  border: hidden;
  color: #fff;
  padding: 8px 14px;
}




.DynarchCalendar1-body {
  position: relative;
  overflow: hidden;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.DynarchCalendar1-first-col { padding-left: 0px; }
.DynarchCalendar1-last-col { padding-right: 12px; }

.DynarchCalendar1-animBody-backYear {
  position: absolute;
  top: -50%;
  left: 0;
}
.DynarchCalendar1-animBody-back {
  position: absolute;
  top: 5px;
  left: -50%;
}
.DynarchCalendar1-animBody-fwd {
  position: absolute;
  top: 5px;
  left: 50%;
}
.DynarchCalendar1-animBody-now {
  position: absolute;
  top: 5px;
  left: 0;
}
.DynarchCalendar1-animBody-fwdYear {
  position: absolute;
  top: 100%;
  left: 0;
}

.DynarchCalendar1-dayNames {
  padding-left: 0px;
  padding-right: 0px;

}

.DynarchCalendar1-dayNames div {font-weight: bold; color: green; font-size: 9px; text-align: center;}

.DynarchCalendar1-navBtn {
  position: absolute;
  top: 5px;
  z-index: 10;
}

.DynarchCalendar1-navBtn div {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 15px;
  width: 16px;
  padding: 0px;
}
.DynarchCalendar1-hover-navBtn div {
  border: hidden;
  padding: 0;
  background-color: #fff;
}
.DynarchCalendar1-navDisabled {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.DynarchCalendar1-pressed-navBtn div {
  border: 1px solid #000;
  padding: 0;
  background-color: #777;
  color: #fff;
}

.DynarchCalendar1-prevMonth {
  left: 25px;
}

.DynarchCalendar1-nextMonth {
  left: 100%;
  margin-left: -43px;
}

.DynarchCalendar1-prevYear {
  left: 5px;
}

.DynarchCalendar1-nextYear {
  left:100%;
  margin-left: -23px;
}

.DynarchCalendar1-prevMonth div {
  background-image: url("../../imagenes/preventivos/nav-left.gif");
}

.DynarchCalendar1-nextMonth div {
  background-image: url("../../imagenes/preventivos/nav-right.gif");
}

.DynarchCalendar1-prevYear div {
  background-image: url("../../imagenes/preventivos/nav-left-x2.gif");
}

.DynarchCalendar1-nextYear div {
  background-image: url("../../imagenes/preventivos/nav-right-x2.gif");
}

.DynarchCalendar1-menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: gray;
  overflow: hidden;
  color: black; font-size: 10px;
  opacity: 1;
  filter: alpha(opacity=1);
}

.DynarchCalendar1-menu table td div {
  text-align: left;
  font-weight: bold;
  padding: 10px 10px;
}
.DynarchCalendar1-menu table td div.DynarchCalendar1-menu-month {
  width: 3em;
  text-align: center;
}
.DynarchCalendar1-menu table td div.DynarchCalendar1-hover-navBtn {
  border: 1px solid #000;
  padding: 8px 8px;
  background-color: #fff;
  color: #000;
}
.DynarchCalendar1-menu table td div.DynarchCalendar1-pressed-navBtn {
  border: 1px solid #000;
  padding: 2px 4px;
  background-color: #777;
  color: #fff !important;
}

.DynarchCalendar1-menu-year {
  text-align: center;
  font: 9px "lucida grande",tahoma,verdana,sans-serif;
  font-weight: bold;
}
#fecha_desde,#fecha_hasta {font:black;}
.DynarchCalendar1-menu-sep {
  height: 1px; font-size: 9px; line-height: 1px;
  overflow: hidden;
  border-top: 1px solid #888;
  background: #fff;
  margin-top: 0px; margin-bottom: 0px;
  margin-left: 0px;
}

.DynarchCalendar1-time td { border: hidden;  font-size: 120%; font-weight: bold;}
.DynarchCalendar1-time-hour, .DynarchCalendar1-time-minute { padding:0px 0px; }
.DynarchCalendar1-time-down { background: url("../../imagenes/preventivos/sort_desc.png"); height: 4px;}
.DynarchCalendar1-time-up { background: url("../../imagenes/preventivos/sort_asc.png"); }
.DynarchCalendar1-time-sep { padding: 0 0px; }
.DynarchCalendar1-pressed-time { background-color: #000; color: #fff;}
.DynarchCalendar1-time-am { padding: 0px; width: 1em; text-align: center; }

/* body */

.DynarchCalendar1-hover-week { background-color: #ddd; }

.DynarchCalendar1-dayNames div, .DynarchCalendar1-day, .DynarchCalendar1-weekNumber {
  width: 0.9em;
  padding: 5px 5px;

}
.DynarchCalendar1-weekNumber {
  border-right: 1px solid #aaa;
  margin-right: 0px;
  width: 0em !important;
  padding-right: 0px !important;
}

.DynarchCalendar1-day {
  text-align: left; color: #222;
}
.DynarchCalendar1-day-othermonth { color: #888; }
.DynarchCalendar1-weekend { color: #c22; }
.DynarchCalendar1-day-today { color: #00f; font-weight: bold; }

.DynarchCalendar1-day-disabled {
  opacity: 0.5;
  text-shadow: 1px 1px 1px #fff;
}

.DynarchCalendar1-hover-date {
  padding: 5px 5px;
  background-color: #eef;
  border: 1px solid green;
  margin: 2 !important;
  color: #000;
}

.DynarchCalendar1-day-othermonth.DynarchCalendar1-hover-date { border-color: #aaa; color: #888; }

.DynarchCalendar1-dayNames .DynarchCalendar1-weekend { color: #c22; }
.DynarchCalendar1-day-othermonth.DynarchCalendar1-weekend { color: #d88; }

.DynarchCalendar1-day-selected {
  padding: 5px 5px;
  margin: 0px;
  background-color: #aaa;
  color: #000 !important;
}
.DynarchCalendar1-day-today.DynarchCalendar1-day-selected { background-color: #999; }

/* focus */

.DynarchCalendar1-focusLink {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}


.DynarchCalendar1-focused {
  border-color: #000;
}

.DynarchCalendar1-focused .DynarchCalendar1-topBar, .DynarchCalendar1-focused .DynarchCalendar1-bottomBar {
  background-color: #ccc;
  border-color: #fff;
}

.DynarchCalendar1-focused .DynarchCalendar1-hover-week {
  background-color: #ccc;
}

.DynarchCalendar1-tooltip {
  position: absolute;
  top: 40%;
  width: 40%;
}

.DynarchCalendar1-tooltipCont {
  margin: 0 2px 0 2px;
  border: 0px solid #aaa;
  border-top: 0;
  padding: 5px 5px;
  background: #ddd;
}

.DynarchCalendar1-focused .DynarchCalendar1-tooltipCont {
  background: #ccc;
  border-color: #000;
}


