/* top elements */
* { margin: 0;	padding: 0; }

body {
	
	margin: 0; padding: 0;
	font: 70%/1.5 Arial;
	color: #333; 
   /*   	background: url(../../imagenes/preventivos/back_pixel.png) repeat;	*/
   background:#ffffff;

background-repeat: repeat-x, repeat;
}

/* links */
a {
	color: blue;
	background-color: inherit;
	text-decoration: none;
}

a:hover {
	color: #CC0001; 
	background-color: inherit;
}

/* headers */
h1, h2, h3 {
	font-family: Arial;
	font-weight: bold;text-align: center;
	color: #333;
	width:auto;
	vertical-align:middle;
}
h1 {
	font-size: 120%;
	letter-spacing: .5px;
}
h2 {
	font-size: 115%;	
	text-transform: uppercase; 		
}
h3 {
	font-size: 115%;
	color: #003366;		

}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3,p {
	padding: 0;		
	margin: 5px;
	font-size: 12px;
}

ul, ol {
	margin: 10px 10px;
	padding: 0 10px;
}

code {
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'Arial', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #7CA0C7;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

blockquote {
	margin: 10px;
 	padding: 0 0 0 32px;  	
  	background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 4px solid #7CA0C7; 
	font-weight: bold;  
}

/* start - table */
table {
	border-collapse: collapse;
	border: 0px solid #f2f2f2; 
	margin-top: 5px;		
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
	text-align: left;			
	border-width: 0px;
  	border-style: solid;
}
th {
	color: black;
	background: #7CA0C7;
    border-color: #EFEFEF;
	padding: .8em 1em;		
}
td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}	
/* end - table */

/* form elements */
form {
	/* margin: 10px; */ 
	padding: 0 5px;
	border: 0px solid #f2f2f2; 
	width: 100%;
	/* background-color: #FAFAFA; */ 
}

label {
	display:block;
	font-weight:normal;
	margin:5px 0;
	color: black;
}

input {
	padding: 2px;
	border: 1px solid gray;
	font: normal 1em Verdana, sans-serif;
	color: #777;
	max-width: 100%;
}
input:focus{
box-shadow: 0 0 0.5em rgb(89,156,206); 
}

textarea {
	max-width: 99%;
	padding: 2px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #eee;
	height: 100px;
	font-size: 12px;
	display: block;
	color: #777;
}
.textarea1 {
	text-align: top;
	font: normal 0.8em Verdana, sans-serif;
	border: 0px solid #eee;
	max-width: 99%;
	font-size: 12px;
	display: block;
	color: #777;
}
input.button { 
	margin: 0; 
	font: normal 12px Arial, Sans-serif; 
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #417690;
}
strong{
	font-size: 12px;font-weight: bold; vertical-align: middle;
}
input.strong { 
	font: bolder 12px Arial, Sans-serif; vertical-align:middle;
}

/* search form */
form.search {
	position: absolute;
	top: 5px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}

form.search input.textbox { 
	margin: 0; 
	width: 200px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 
}

form.search input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	font-family: Arial, Sans-serif; 
	border: 1px solid #CCC; 
	background: #FFFFFF url(../../imagenes/preventivos/headerbg.gif) repeat-x bottom left; 
	padding: 1px; 
	font-weight: bold; 
	height: 25px;
	color: #333;
	width: 70px;
}
#menu-bar {
  width:100%;
  margin: -5px 0px 0px 10px;
  padding: 2px 2px 0px 2px;
  height: 22px;
  line-height: 99%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 1px 2px #666666;
  -webkit-box-shadow: 1px 1px 2px #666666;
  -moz-box-shadow: 1px 1px 2px #666666;
  background: #3972D4;

  background: linear-gradient(top,  #1986E6,  #E3E9FA);
  background: -ms-linear-gradient(top,  #1986E6,  #E3E9FA);
  background: -webkit-gradient(linear, left top, left bottom, from(#1986E6), to(#E3E9FA));
  background: -moz-linear-gradient(top,  #1986E6,  #E3E9FA);
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 0px 0px 0px 2px;
  padding: 0px 0px 6px 0px;
  float: left;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: lighter;
  font-family: 'courier new';
  font-style: normal;
  font-size: 11px;
  color: #0A0A0A;
  text-decoration: none;
  display: block;
  padding: 1px 12px 2px 13px;
  margin: 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 1px 1px 2px #636363;
}
#menu-bar .active a, #menu-bar li:hover > a {
  background: #FAFAFA;
  background: linear-gradient(top,  #F2F2F2,  #D1D1D1);
  background: -ms-linear-gradient(top,  #F2F2F2,  #D1D1D1);
  background: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#D1D1D1));
  background: -moz-linear-gradient(top,  #F2F2F2,  #D1D1D1);
  color: #F51505;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  text-shadow: 0px 0px 0px #CFCFCF;
}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;
  -box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
#menu-bar ul a:hover {
  background: #010012 !important;
  background: linear-gradient(top,  #72A3ED,  #7BAFFF) !important;
  background: -ms-linear-gradient(top,  #72A3ED,  #7BAFFF) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#72A3ED), to(#7BAFFF)) !important;
  background: -moz-linear-gradient(top,  #72A3ED,  #7BAFFF) !important;
  color: #000000 !important;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  text-shadow: 0px 0px 0px #000000;
}
#menu-bar ul {
  background: #D5DEF2;
  background: linear-gradient(top,  #C0D7EB,  #FAFAFA);
  background: -ms-linear-gradient(top,  #C0D7EB,  #FAFAFA);
  background: -webkit-gradient(linear, left top, left bottom, from(#C0D7EB), to(#FAFAFA));
  background: -moz-linear-gradient(top,  #C0D7EB,  #FAFAFA);
  display: none;
  margin: 0;
  padding: 0;
  width: 180px;
  position: absolute;
  top: 23px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px #000000;
  -moz-box-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #000000;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:5px 0px 5px 10px;
  color:#090754 !important;
  font-size:12px;
  font-style:normal;
  font-family:'trebuchet ms';
  font-weight: lighter;
  text-shadow: 0px 0px 0px #000000;
}
#menu-bar ul li:first-child > a {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
}
#menu-bar ul li:last-child > a {
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
}
#menu-bar:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu-bar {
  display: inline-block;
}
  html[xmlns] #menu-bar {
  display: block;
}
* html #menu-bar {
  height: 1%;
}
/**********************************
  LAYOUT 
***********************************/

.clr{
	clear: both;
}

#wrap {
	margin: 0 left; 

	width:90%;
}

/* header */
#header {
	margin-top: -5px;
    text-transform: uppercase;

    height: 95px;
    width: 100%;
  
    position: relative;
	margin: 0; padding: 0;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        	content: '';

background-color: gray transparent;

}

#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 3px; bottom: 7px;
	font: bold 1.0em Verdana;	
	color: blue;	
	

}
#header-logo {
	position: relative;
	clear: both;
	height: 20px; 
	margin: 0; padding: 0;	

}
#header-logo #logo {
	position: absolute;
	top: 7px; left: 0.5%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font: bold 8px ;
	margin: 0; padding: 0;
	letter-spacing: -1px;
	max-width: 25%; 
	 line-height: 1px;
	color: #000;
}

#header-logo #logo1 {
	position: absolute;
	top: 6px; left: 8%;
	margin: 0; padding: 5px 5px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 24px;
	max-width: auto;
	font: 70%/1em "Verdana", Verdana, Arial, Helvetica, sans-serif;
	/*text-shadow: 1px 1px #333, -1px -1px white;
	text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #87F,
		0 0 0.2em #87a;

	 text-shadow: 1px 1px white, -1px -1px #222;
	 text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93;*/
	
color: #000;
text-shadow:  2px 4px 8px black;
}

#header-logo #logo3 {
	position: absolute;
	top: 55px; left: 22%;
	font: bold 22px "Verdana";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;

}

#header-logo #logo4 {
	position: absolute;
	top: 4px; left: 25%;
	font-family:"Amaranth', serif";
	margin: 0; padding: 5;
	letter-spacing: 1px;
	text-align: center;
	font-size: 22px;

	min-width: 5%;
	/*text-shadow: 1px 1px #333, -1px -1px white;
	text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #87F,
		0 0 0.2em #87a;

	 text-shadow: 1px 1px white, -1px -1px #222;
	 text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93;*/
	
color: #000;
text-shadow:  2px 4px 8px black;
}
#header-logo #logo6 {
	position: absolute;
	top: 40px; left: 30%;
	font-family:"Amaranth', serif";
	margin: 0; padding: 5;
	letter-spacing: 1px;
	text-align: center;
	font-size: 14px;

	min-width: 5%;
	/*text-shadow: 1px 1px #333, -1px -1px white;
	text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #87F,
		0 0 0.2em #87a;

	 text-shadow: 1px 1px white, -1px -1px #222;
	 text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93;*/
	
color: #000;
text-shadow:  2px 4px 8px black;
}
#header-logo #logo2 {
	position: absolute;
	top: -5px; left: 88%;
	
	margin: 0; padding: 5px 5px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 24px;
	max-width: auto;
	font: 90%/1em "Verdana", Verdana, Arial, Helvetica, sans-serif;
	/*text-shadow: 1px 1px #333, -1px -1px white;
	text-shadow: 0 0 0.2em #8F7, 0 0 0.2em #87F,
		0 0 0.2em #87a;

	 text-shadow: 1px 1px white, -1px -1px #222;
	 text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93;*/
	
color: #000;
text-shadow:  2px 4px 8px black;
}

/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:12px ; bottom: 0px;
  font-family: 'Arial';
    src: url('../../fonts/preventivos/Arial.ttf') format('truetype'),
 
    font-weight: normal;
    font-style: normal;
	font-size:  10px ;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(../../imagenes/preventivos/cabmenu2.gif) no-repeat left top;
   margin-bottom: -4px;
   margin-left: 2px;
   border-radius: 6px;
    padding:2px 3px 2px 3px;
   text-decoration:none;
}
#header a span {
   display: inline-block;
   margin-left: 0px;
   border-radius: 4px;
   background: url(../../imagenes/preventivos/cabmenu1.gif) no-repeat right top;
   padding:2px 10px 2px 10px;
   color:#000;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -45px;
     color:white;
}
#header a:hover span {
   background-position:65% -45px;
     color:white;
}
#header .current a {
   background-position:0% -45px;
     color:white;
}
#header .current a span {
   background-position:65% -45px;
     color:white;
}

/* main column */
#main {
	
	margin-left: 25;
	padding: 0;
	min-height: auto;
	min-width: 85%;

}
#main hr{
	width: 99.2%;
	margin: 3px 0 2px 2px;
	
	color: #000;

		margin-left: 1px;
}
#main h1 {
	width: 100%;
	margin: 3px 0 2px 2px;
	padding: 2px 0 2px 8px; 
	font-size: 1.2em;
	color: #000;
	height: 25px;
	margin-left: 0px;
	text-align: center;

	text-transform: uppercase; 
	background: #7CA0C7 url(../../imagenes/preventivos/h1-bg.gif) repeat-x scroll left top;	
	letter-spacing: 1px;
		content: '';
background-color: #599cce;
background-image: -webkit-gradient(linear, left bottom, left top, from(#599cce), to(#82b5da));
background-image: -webkit-linear-gradient(bottom, #599cce, #82b5da);
background-image: -moz-linear-gradient(bottom, #599cce, #82b5da);
background-image: -ms-linear-gradient(bottom, #599cce, #82b5da);
background-image: -o-linear-gradient(bottom, #599cce, #82b5da);
}

#main h6 {
	width: 100%;
	margin: 3px 0 2px 2px;
	padding: 2px 0 2px 8px; 
	font-size: 11px;
	color: #000;
	text-align: center;
		margin-left: 0px;
	text-transform: uppercase; 
	background: #7CA0C7 url(../../imagenes/preventivos/coolbg.png) repeat-x scroll left top;	
	letter-spacing: 1px;
}

/* sidebar */
#sidebar {
	float: left;
	width: 0%;
	margin: 2px 0; padding: 0; 
	background-color: #FFFFFF; 	
}
#sidebar h1 {
	margin: 10px 0 0 0; 
	padding: 4px 0 4px 8px; 
	font: bold 105% Arial, Sans-Serif;
	color: #FFF;
	text-transform: uppercase; 
	background: #333; 
	letter-spacing: 1px;	
}
#sidebar .left-box {
	border: 1px solid #EBEBEB;
	margin: 2 0 5px 0;	
	background: #FFF;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;		
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #f2f2f2; 
	background: url(../../imagenes/preventivos/bullet.gif) no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.sidemenu a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

#sidebar ul.login {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; 
	padding: 0;
	text-decoration: none;		
}
#sidebar ul.login li { 	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.login a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

/* footer */
.footer { 
	clear: both; 	
	border-top: 0px solid #f2f2f2;
	background: #FFF url(../../imagenes/preventivos/table.gif) repeat-x;
	padding: 2px 0 5px 0; 
	text-align: right;  
	line-height: 1.5em;	
	font-size: 11px;
}
.footer a { 
	text-decoration: none; 
	font-weight:normal;		
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* display and additional classes  */
.clear {	clear: both; }
.blue   { color: white; font-size: 1em;}
.blanco   { color: white; }
.comments { 
	margin: 20px 10px 5px 10px; 
	padding: 3px 0;
	border-bottom: 1px dashed #EFF0F1; 	
	border-top: 1px dashed #EFF0F1;	
}
/*

#acdnmenu 
{
     height: 300px;
    width: 200px;
}


#acdnmenu ul.top
{
	padding-left:0;
    background:#FFF;
    border:1px solid #D8E2F3;
}

#acdnmenu div.heading, #acdnmenu a.link
{
    padding:8px; padding-left:24px;
    text-align:left;
    font:normal 10px Arial;
    color:#000; 
    background:#E8FFF8 url(../../imagenes/preventivos/bg2.gif) repeat-x 0 0;
    text-decoration:none;
    outline:none;
}

#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link
{
    color:#000;
    font-weight:normal;
    text-decoration:none;  
    background-position:0 -64px;
}


#acdnmenu a.current, #acdnmenu a.current:hover
{
    color:#336699;
    text-decoration:none;   
}


#acdnmenu div.arrowImage {
    width:12px;
    height:12px;
    top:9px;
    left:4px; 
    background-image:url(arrows.gif);
    background-position:0 0;
}

#acdnmenu div.current div.arrowImage {
    background-position:0 -12px;
}

#acdnmenu li.separator
{
    border-top:1px solid #D8E2F3;
    border-bottom:none; 
}



#acdnmenu ul.sub
{
	padding-left:14px; 
}

#acdnmenu ul.sub div.heading
{
    text-align:left;
    font:normal 10px Arial;
    padding:5px; padding-left:15px;
    color:#000;
    background:none; 
}
#acdnmenu ul.sub div.heading a
{
    color:#000;
}

#acdnmenu ul.sub div.current
{
    color:#000;
    background:none; 
}

#acdnmenu ul.sub a.link
{
    font:normal 10px Arial;
    color:#000;
    padding:5px; padding-left:15px;
    text-decoration:none;
    background:none; 
}

#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current
{
    color:#000;
    text-decoration:underline;
    background:none; 
}


#acdnmenu ul.sub div.arrowImage {
    width:12px;
    height:12px;
    top:6px;
    left:4px;
    background-image:url(arrows.gif);
    background-position:0 -24px;
}
#acdnmenu ul.sub div.current div.arrowImage {
    background-position:0 -36px;
}





#acdnmenu,  #acdnmenu ul
{
    display:block;
    font-size:0px;
    line-height:0px;
}
#acdnmenu li {font-size:10px; line-height:14px;}
#acdnmenu:after {content:'.';height:0;clear:both;display:block;visibility:hidden;} 

#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description {*zoom:1;}
#acdnmenu li {*float:left;*width:100%;}

#acdnmenu ul
{
	position:relative;
	overflow:hidden;
	padding:0;margin:0;list-style-type: none;padding-left:10px;
}
#acdnmenu>ul{visibility: hidden;}
#acdnmenu li {padding:0;margin:0;}

#acdnmenu div.heading, #acdnmenu div.current
{
	position:relative;
    cursor: pointer;
}
#acdnmenu div.arrowImage {position:absolute; overflow:hidden;}
*/
#container {
    box-shadow: 6px 0px 15px rgb(0, 0, 0);

}
.container_16 {

    margin-left: auto;
        margin-left-value: auto;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
    margin-right: auto;
    margin-top: 15px;
        margin-right-value: auto;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    max-width: 80%;

}
#contentr {

    background: none repeat scroll 0% 0% rgb(227, 227, 227);
        background-color: rgb(255, 255,255);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 4px;
}
