/***** clearfix ******/
.clear {clear:both; height: 0;line-height: 0; visibility: hidden;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  	background: url() repeat-x 0 0;
	height: 22px;
	width : 800px;
	position: RELATIVE;
	top: 0;
    z-index: 999;
    
}

.tab ul.login {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height:20px;
	width: auto;
  	font-weight: bold;
	line-height: 44px;
	margin: 0;
	right: 5px;
  	color: black;
  	font-size: 100%;
	text-align: center;
}

.tab ul.login li.left {
  	background: url() no-repeat left 0;
  	height: 20px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: ;
}

.tab ul.login li.right {
  	background: url() no-repeat left 0;
  	height: 20px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: right;
}

.tab ul.login li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 20px;
  	background: url() repeat-x 0 0;
}

.tab ul.login li a {
	color: black;
}

.tab ul.login li a:hover {
	color: red;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 20px;
	clear: both;
}

.tab a.open {background: url(WebRoot/../../imagenes/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(WebRoot/../../imagenes/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(WebRoot/../../imagenes/bt_open.png) no-repeat left -22px;}
.tab a:hover.close {background: url(WebRoot/../../imagenes/bt_close.png) no-repeat left -22px;}

/* sliding panel */
#toppanel {
    position: center;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: -2;
    width: 800px;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 800px;
	height: 340px;
	color: black;
	background: white; 
	overflow: hidden;
	position: center;
	z-index: 3;
	display: none;
	font: 100%/0.9 arial, helvetica, sans-serif;
	background:url(WebRoot/../../imagenes/bg.png) repeat #ccc;
	
}

#panel h1 {
	font-size: 1.3em;
   	padding: 5px 0 15px;
	margin: 0;

}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;

}

#panel p {
    font-size: 0.8em;
	margin: 3px 0;
	padding: 0;
    position: center;
}

#panel a {
	text-decoration: none;
	color: white;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 800px;
	margin: 15px;
	padding-top: 5px;
	text-align: left;
	font-size: 0.90em;
}

#panel .content .left {
	width: 302px;
	float: left;
	padding: 0px 15px;
	border-left: 1px solid #333;
}



#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
	position: center;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 290px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: white;
	margin-right: 5px;
	margin-top: 4px;
	width: 260px;
	color: black;
	clear: both;
	height: 16px;
}

#panel .content input:focus.field {
	background: white;
	border: 1px red solid;
	clear: both;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: both;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .content input.bt_login {
	width: 74px;
	background: transparent url(WebRoot/../../imagenes/bt_register.png) no-repeat 0 0;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(WebRoot/../../imagenes/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}

