/* top elements */
* { margin: 0;	padding: 0; }

body {
	/* margin: 0; padding: 0;
	font: 70%/1.5 Verdana, Tahoma, Arial, Helvetica, sans-serif;
	color: #333; 
      	background: #FFF url(bg.gif) repeat-x;*/	
        font-family: 'DroidSansMono';
	background: white url(bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 12px;
	color: #1d3c41;
	overflow-y: scroll;   
}

/* links */
a {
	color: #003366;
	background-color: inherit;
	text-decoration: none;
}
a:hover {
	color: #CC0001; 
	background-color: inherit;
}

/* headers */
h1, h2, h3, h4 {
	 font-family: 'DroidSansMono';
	font-weight: bold;
	color: #333;
}
h1 {
	font-size: 50%;
	letter-spacing: .5px;
}
h2 {
	font-size: 115%;	
	text-transform: uppercase; 		

}
h3 {
	font-size: 115%;
	color: #003366;		
}
h4 {
  font-size: 55%;
  letter-spacing: .5px;
  color: #003366; 
}

/* images */
img {
	border: 2px solid #CCC;
}
img.float-right {
  margin: 5px 0px 10px 10px;  
}
img.float-left {
  margin: 5px 10px 10px 0px;
}

h1, h2, h3, p, h4 {
	padding: 0;		
	margin: 10px;
}

ul, ol {
	margin: 10px 10px;
	padding: 0 10px;
}

code {
  margin: 10px 0;
  padding: 10px;
  text-align: left;
  display: block;
  overflow: auto;  
  font: 500 1em/1.5em 'DroidSansMono', 'courier new', monospace;
  /* white-space: pre; */
  background: #FAFAFA;
  border: 1px solid #f2f2f2;  
  border-left: 4px solid #7CA0C7;
}

acronym {
  cursor: help;
  border-bottom: 1px solid #777;
}

blockquote {
	margin: 10px;
 	padding: 0 0 0 32px;  	
  	background: #FAFAFA url(quote.gif) no-repeat 5px 10px !important; 
	background-position: 8px 10px;
	border: 1px solid #f2f2f2; 
	border-left: 4px solid #7CA0C7; 
	font-weight: bold;  
}

/* start - table */
table {
	border-collapse: collapse;
	margin-top: 5px;		
}
tr { background: #fff; }
tr.altrow { background: #F9F9F9;	}
th, td {
	text-align: left;			
	border-width: 1px;
  	border-style: solid;
}
th {
	color: #FFFFFF;
	background: #7CA0C7;
    border-color: #EFEFEF;
	padding: .8em 1em;		
}
td {
	border-color: #EFEFEF;	
	padding: .7em 1em;	
}	
/* end - table */

/* form elements */
form {
	/* margin: 10px; */ 
	padding: 0 5px;
	border: 1px solid #f2f2f2; 
	/* background-color: #FAFAFA; */ 
}

label {
	display:block;
	font-weight:bold;
font: normal 1em DroidSansMono;
	margin:5px 0;

}

input {
	padding: 2px;
	border: 1px solid black;
	font: normal 1em DroidSansMono;
	color: #777;
	
}
input:focus{
box-shadow: 0 0 0.5em rgb(89,156,206); 
}
textarea {
	width: 400px;
	padding: 2px;
	font: normal 1em DroidSansMono;
	border: 1px solid #eee;
	height: 100px;
	display: block;
	color: #777;
}

input.button { 
	margin: 0; 
	font: normal 12px DroidSansMono;
	border: 1px solid #CCC; 
	padding: 1px; 
	background: #FFF;
	color: #417690;
}

input.strong { 
	font: bolder 12px DroidSansMono;
}

/* search form */
form.search {
	position: absolute;
	top: 5px; right: 5px;
	padding: 0; margin: 0;
	border: none;
	background-color: transparent; 
}

form.search input.textbox { 
	margin: 0; 
	width: 200px;
	border: 1px solid #CCC; 
	background: #FFF;
	color: #333; 
}

form.search input.searchbutton { 
	margin: 0; 
	font-size: 100%; 
	   font-family: 'DroidSansMono';
	border: 1px solid #CCC; 
	background: #FFFFFF url(headerbg.gif) repeat-x bottom left; 
	padding: 1px; 
	font-weight: bold; 
	height: 23px;
	color: #333;
	width: 70px;
}

/**********************************
  LAYOUT 
***********************************/
#wrap {
	margin: 0 auto; 
		background:  url(../../imagenes/light-wool-bg.png) repeat;

	width:95%;
}

/* header */
#header {
	position: relative;
	margin: 0; padding: 0;
	height: 50px;
        width:100%;
        color: #333; 
      	background: #FFF url(bg1.gif) repeat-x;

}
#header span#slogan {
	z-index: 3;
	position: absolute;
	left: 3px; bottom: 7px;
	font: bold 1.2em DroidSansMono;	
	color: blue;	


}

#header-logo {
		position: relative;
	clear: both;
	height: 32px; 
	margin: 0; padding: 0;	
     
}
#header-logo #logo {
	position: absolute;
	top: 3px; left: 5px;
	font: bold 30px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}
#header-logo #logo2 {
	position: absolute;
	top: 3px; left: 100%;
	font: bold 22px "DroidSansMono";
	margin: 0; padding: 0;
	letter-spacing: -1px;
	color: #000;
}
/* navigation tabs */
#header ul {
	position: absolute;
   margin:0;
   list-style:none;
	right:-10px ; bottom: 0px;
  font-family: 'DroidSansMono';
   
    src: url('../fonts/spid/DroidSansMono.ttf') format('truetype'),
 
    font-weight: normal;
    font-style: normal;
	font: bold 10px ;
}
#header li {
   display:inline;
   margin:0; padding:0;
}
#header a {
   float:left;
   background: url(tableft.gif) no-repeat left top;
   margin:0;
   padding:0 0 0 4px;
   text-decoration:none;
}
#header a span {
   float:left;
   display:block;
   background: url(tabright.gif) no-repeat right top;
   padding:5px 15px 4px 6px;
   color:#FFF;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#header a span {float:none;}
/* End IE5-Mac hack */
#header a:hover span {
	color:#FFF;
}
#header a:hover {
   background-position:0% -42px;
}
#header a:hover span {
   background-position:60% -42px;
}
#header .current a {
   background-position:0% -42px;
}
#header .current a span {
   background-position:60% -42px;
}

/* main column */
#main {
	float: right;
	margin-right: -3;
	padding: 0;
	min-height: 440px;
	width: 82%;
}
#main h1 {
		margin: 3px 0 2px 2px;
	padding: 2px 0 2px 12px; 
	font-size: 90%;
	color: #000;
	text-transform: uppercase; 
	background: #7CA0C7 url(h1-bg.gif) repeat-x scroll left top;	
	letter-spacing: .5px;
}

/* sidebar */
#sidebar {
	float: left;
	width: 260px;
	margin: 0; padding: 0; 
	background-color: #FFFFFF; 	
}
#sidebar h1 {
	margin: 10px 0 0 0; 
	padding: 4px 0 4px 8px; 
	font: normal 90% DroidSansMono;
	color: #FFF;
	text-transform: uppercase; 
	background: #333; 
	letter-spacing: 1px;	
        font-size:10px;
}
#sidebar .left-box {
	border: 1px solid #EBEBEB;
	margin: 0 0 5px 0;	
        font: normal 11px DroidSansMono;
  	background: #FFF;
}
#sidebar ul.sidemenu {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; padding: 0;
	text-decoration: none;		
}
#sidebar ul.sidemenu li {
	border-bottom: 1px solid #f2f2f2; 
	background: url(bullet.gif) no-repeat 3px 2px;	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.sidemenu a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}

#sidebar ul.login {
	list-style: none;
	text-align: left;
	margin: 3px 0px 8px 0; 
	padding: 0;
	text-decoration: none;		
}
#sidebar ul.login li { 	
	padding: 3px 5px 3px 25px;
	margin: 0;	
}
#sidebar ul.login a {
	font-weight: bolder;
	padding: 3px 0px;	
	background: none;
}
/* botones */
input[type=submit].new-aquain {
  width: 90px;
  height: 20px;			
  background: #cde; 
  border: 2px solid #ccc; 
  border-color: #8ba2c1 #5890bf #4f93ca #768fa5; 
  font: normal 11px DroidSansMono;
  color: #fff; 
  text-shadow: rgba(10, 10, 10, 0.5) 1px 2px 2px;
  text-align: center; 
  vertical-align: middle; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow: hidden;
  border-radius: 16px; -moz-border-radius: 16px; -webkit-border-radius: 16px;
  box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
  -moz-box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
  -webkit-box-shadow: 0 10px 16px rgba(66, 140, 240, 0.5), inset 0 -8px 12px 0 #6bf, inset 0 -8px 0 8px #48c, inset 0 -35px 15px -10px #7ad;
}
.new-aquain:hover {
  text-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

/* footer */
.footer { 
	clear: both; 	
	border-top: 1px solid #f2f2f2;
	background: #FFF url(table.gif) repeat-x;
	padding: 2px 0 10px 0; 
	text-align: right;  
	line-height: 1.5em;	
	font-size: 90%;
         width:100%;
}
.footer a { 
	text-decoration: none; 
	font-weight: bold;		
}

/* alignment classes */
.float-left  { float: left; }
.float-right { float: right; }
.align-left  { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

/* display and additional classes  */
.clear {	clear: both; }
.blue   { color: #417690; }
.comments { 
	margin: 20px 10px 5px 10px; 
	padding: 3px 0;
	border-bottom: 1px dashed #EFF0F1; 	
	border-top: 1px dashed #EFF0F1;	
}

/*Left box  and RightBOx Style styles */
/*Left box and its styles */

.strength-indicator
{
  width: 200px;
  height: 140px;
  position: absolute;
  left: 500px;
  top: -40px;
  border-left: solid 2px gray;
  padding: 6px 6px 6px 8px;
  margin-left:4px;  
}
.strength-indicator
{
  line-height: 18px;
  color: black;
}
.meter
{
  display: block;
  width: 200px;
  height: 18px;
  background-color: white;
  background: #424042; /* Old browsers */
  background: -moz-linear-gradient(left, #424042 0%, #f2f2f2 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#424042), color-stop(99%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #424042 0%,#f2f2f2 99%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424042', endColorstr='#f2f2f2',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #424042 0%,#f2f2f2 99%); /* W3C */
  font-size: 12px;
  padding: 2px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin-bottom: 10px;
}
.strong
{
  background-color: Green;
  background: #ffff00; /* Old browsers */
  background: -moz-linear-gradient(left, #ffff00 0%, #218400 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#218400)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffff00 0%,#218400 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffff00 0%,#218400 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #ffff00 0%,#218400 100%); /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#218400',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #ffff00 0%,#218400 100%); /* W3C */
}
.medium
{
  background-color: orange;
  background: #ffff00; /* Old browsers */
  background: -moz-linear-gradient(left, #ffff00 0%, #f98900 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#f98900)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffff00 0%,#f98900 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #ffff00 0%,#f98900 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#f98900',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #ffff00 0%,#f98900 100%); /* W3C */
}
.week
{
  background-color: yellow;
  background: #ffff00; /* Old browsers */
  background: -moz-linear-gradient(left, #ffff00 0%, #fc1d00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffff00), color-stop(100%,#fc1d00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#fc1d00',GradientType=1 ); /* IE6-9 */
  background: linear-gradient(left, #ffff00 0%,#fc1d00 100%); /* W3C */
}
.no-match
{
  color: #FF7B78 !important;
}
.password-container
{
  width: 600px;
  padding: 2px;
  line-height: 16px;
  position: relative;
}
.password-container p
{
  margin: 0;
  padding: 1px;
  margin-top: 8px;
  color: black;

}
.password-container p label
{
  text-align: center;
  display: inline-block;
  width: 130px;
  color: black;
  font-size:12px;
}
.password-container p input[type=password]
{
  width: 200px;
  height: 25px;
  background-color: #232A34;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 12px;

}
.password-container .info
{
  display: block;
  color: Gray;
  margin-left: 134px;
}

.error, .errorpass
{
  color: Red;
  margin-left:80px;
  font-size: 12px;

}

.submit-button
{
  width: 74px;
  height: 20px;
  display: block;
  margin-left: 312px;
}
a.submit-button
{
  text-decoration: none;
  color: #282834;
  font-size: 14px;
}
.locked
{
  background-image: url(../../imagenes/spid/locked.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
.unlocked
{
  background-image: url(../../imagenes/spid/unlocked.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  color: green;
   font-weight: bold;
}

.input.error{
    background-color: #ef080e;
    padding: 6px 12px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 6px;
    position: absolute;
}
.input.error:before{ 
    content: '';
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #ef080e;
    border-left: 8px solid transparent;
    left: -16px;
    position: absolute;
    top: 5px;
}