  {% block sidebar %}
 <link href="{{STATIC_URL}}css/spid/default.css" rel="stylesheet" type="text/css" />
 <script language="JavaScript" type="text/javascript" src="{{STATIC_URL}}js/spid/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="{{STATIC_URL}}js/spid/jquerym.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/preventivos/pschecker.js"></script>
     <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
   
   });
     $(document).ajaxStart(function(){
    $('#spinner').show();
}).ajaxStop(function(){
    $('#spinner').hide();
});
    </script>
    {%endblock%}